[2015-11-16 20:06] paulcsmith opened #1 "Compilation failure"
I may be using this incorrectly, but I tried installing this on two projects and it fails during compilation on both projects. Here's the error:

[code]

To reproduce I add the dependency, run `mix deps.get` and then `mix compile`. Thanks for working on this. I'm super excited to give it a try! :D

[2015-11-16 21:07] paulcsmith commented on #1
@rrrene Works for me now! Thank you! This is a very beautiful tool so far. Can't wait to dive in more :D

[2015-11-16 21:47] bbense commented on #1
0.1.3 compiles and works fine for me as well.

[2015-11-16 21:49] #1 closed

[2015-11-16 22:30] bbense opened #2 "Aliasing modules is an anti-feature"
┃ [D] → Nested modules could be aliased at the top of the invoking module.
┃       lib/iex/server.ex:85:17 (IEx.Server.take_over)

I really don't agree with this one at all. It's stuff like this being the "default" that have largely
put me off using Rubocop.

I think the defaults should be things that are largely uncontroversial. Having it is fine, but
IMHO the trade offs involved in using module

[2015-11-16 22:42] rrrene commented on #2
Mmmh, I see your point and the defaults are pretty much up for debate at this moment!

But, just for the sake of discussion, what are the trade-offs of using aliases? I always thought the exact opposite, but am not sure why if I read it or just assumed ... So, what are the downsides?

[2015-11-17 00:32] bbense commented on #2
The problem is that you don't know where the function is coming from further down in the code. Your point about gathering dependencies is a good one. However, once that Alias statement scrolls off the screen that context is lost.

If you're using an editor that has good searching tools, I'll go to a specific section of code and never see the top of the module. So if I see

 def twitter_mentions do

[2015-11-17 08:50] rrrene commented on #2
Agreed. My idea for the "Software Design" category was that these are merely suggestions and less concering than issues from, for example, the "Warning" category.

To your point:

There is the concept of "issue priority" in Credo (note-to-self: I have to explain that in more detail in the README), where low priority issues are not shown in the standard report generated by `mix credo`. An example f

[2015-11-17 10:21] hirschenberger opened #3 "Wrong refactory opportunity on `defmacro __using__(_)`"
Credo warns about too complex functions when using `defmacro __using__` which is unnecessary to split up.

[2015-11-17 11:33] rrrene commented on #3
Right, will fix for next release! :+1:  Thx for reporting!

[2015-11-17 12:16] hirschenberger commented on #3
Great, very nice work btw. :clap:

[2015-11-17 14:45] bbense commented on #2
That sounds great.

[2015-11-17 19:08] #3 closed

[2015-11-17 19:08] rrrene commented on #3
`v0.1.4` contains this fix. Thanks again!

[2015-11-17 20:10] maxnordlund opened #5 "Persistent handling of issues"
I really like that this tool is all about _presenting_, vs _enforcing_, various code issues. But if I, or people in my team, decides that something is not a problem it would be very nice if credo could remember that.

Maybe something like `credo ignore <type|issueno> <source:lineno:columnno>` and a suitable file to store it. To actually implement this I would either store the entire offending line

[2015-11-17 20:20] rrrene commented on #5
This is something I also thought about. It would be a non-trivial feature, so I am afraid this is more in the 1.0-territory. So I absolutely agree with you. It's just that I always criticise when other projects set the wrong priorities during the *very early* phases of their development and I don't want to be hypocrite.

Let's keep this issue open to remind me to put it on the roadmap! :+1:

[2015-11-17 20:23] maxnordlund commented on #5
Yeah, you're totally right, so maybe add a label `longterm` or something similar.

[2015-11-18 04:18] iwarshak opened #7 "Exception raised for TODO check"
First of all, this is very slick. Thanks for doing this. I noticed an error is raised with some of my todos.

Fails:
`Repo.preload(:comments)# TODO blah blah`

Works:
`Repo.preload(:comments) # TODO blah blah`

I am pretty sure it is just the lack of space after the # that is causing the issue

Credo: 0.1.4

Exception:
[code]

[2015-11-18 09:46] #7 closed

[2015-11-18 09:48] rrrene commented on #7
Hi, thx for the bug report!

It is fixed in `v0.1.6` which just went "live" :shipit:

[2015-11-18 09:49] rrrene commented on #2
`v0.1.6` contains both changes we discussed here. Thx again! :+1:

[2015-11-18 09:49] #2 closed

[2015-11-18 10:31] smeevil opened #9 "Variable `sigil_r` has same name as the `Kernel.sigil_r` macro."
using a case with regex matching results in a warning.

Example :
case email do
  ~r/@/ -> something
  _ -> other
end

results in :
Variable `sigil_r` has same name as the `Kernel.sigil_r` macro.

[2015-11-18 10:35] rrrene commented on #9
Ha! That's definitely a bug. Thx for the heads up, will be fixed in next release :+1:

[2015-11-18 10:36] smeevil commented on #9
Anytime, awesome tool !

[2015-11-18 17:30] alkamin opened #11 "Config - Excluding directory results in error"
adding any directory to the `excluded` array, eg. `lib/mix/tasks/`,  in `.credo.exs`,  causes this error:

[code]

Great tool! Thanks!

[2015-11-18 22:14] #9 closed

[2015-11-18 22:14] #11 closed

[2015-11-18 22:14] rrrene commented on #9
`v0.1.7` contains the fix! :shipit:

[2015-11-18 22:14] rrrene commented on #11
`v0.1.7` contains the fix! :shipit:

[2015-11-19 09:27] yltsrc opened #13 "exit code should not be 0 when issues found"
otherwise builds on ci will pass when should not

[2015-11-19 09:33] rrrene commented on #13
Good catch! This will be part of `v0.2.0` which should land soon. Will also publish a roadmap tomorrow, so we can discuss what else is on the agenda.

Thx for bringing this up! :+1:

[2015-11-19 15:12] alkamin commented on #11
Thanks, works great

[2015-11-20 14:27] rrrene opened #15 "Project Roadmap to v1.0"
I've seen promising Elixir projects getting a good start and then they somehow fade away. Maintainers get dragged away, no clear path was set and then the projects started meandering, not updating when Elixir reached 1.0, no longer responding to issues, the project merely survives because "this idea is great" ...

I don't want that to happen here and so I am continuing [a tradition started in the

[2015-11-24 10:01] olgeni opened #19 "Release tags"
Hi,

Could you please tag releases as they come up? It would help me build ports for FreeBSD :)

[2015-11-24 10:20] rrrene commented on #19
Oh, sure. Was preparing a patch release anyway.

Will ping you when it's done! :+1:

[2015-11-24 10:46] rrrene commented on #19
I published `0.1.10` and tagged it as `v0.1.10` - is that okay for you?

[2015-11-24 11:01] olgeni commented on #19
That's great. Thank you!

[2015-11-24 11:01] #19 closed

[2015-11-26 10:05] Havvy opened #20 "Warn when module contains function of same name but different arity of behaviour callback"
Example:

[code]

Should warn on Example.handle_call/2 being similar to Example.handle_call/3 since the `@behaviour` added via `use GenServer` has a `@callback handle_call/3`.

[2015-11-26 10:10] rrrene commented on #20
It's not as trivial as the checks we have today, but would be *very* useful. We will have to enhance Credo's internal tooling a bit to make this happen, but this is a really great idea! :+1:

[2015-12-07 06:35] joshprice opened #22 "Incorrect consistency report"
Credo is looking great! Got this somewhat confusing consistency error though:

[code]

The only thing I can see that might be wrong is that the module name doesn't match the folder structure.

Code can be found here: https://github.com/joshprice/graphql-elixir/blob/master/lib/graphql/error/syntax_error.ex

[2015-12-07 09:00] rrrene commented on #22
That's clearly an error. Will release a bugfix with 0.2.0! :+1:

[2015-12-07 14:23] #22 closed

[2015-12-07 14:34] rrrene commented on #13
This just shipped with `v0.2.0`. Thanks again! :grin:

[2015-12-07 14:34] #13 closed

[2015-12-09 10:41] yltsrc commented on #13
many thanks! :tada:

[2015-12-15 03:31] bakkdoor opened #23 "Missing word in `mix credo categories` help text"
https://github.com/rrrene/credo/blob/master/lib/credo/cli/output/categories.ex#L28

The above line should read:
```of your code, but how easy it is to digest.```

It's missing the word `how`.

[2015-12-15 06:00] #23 closed

[2015-12-15 06:02] rrrene commented on #23
Thx for the bug report, published `v0.2.2` to fix this :grin: :+1:

[2015-12-15 12:27] bakkdoor commented on #23
:+1:

[2015-12-16 19:53] jessejanderson opened #24 "0 mods/funs, found nothing"
I'm new to Elixir (and relatively new to programming in general) so I might be missing something obvious, but when I run `mix credo` I get a result of `Checking 4 source files` and then `0 mods/funs, found nothing.`

Is there something else I need to be doing to get this to work?

[2015-12-16 20:12] rrrene commented on #24
Hi there,

what do you get get when you run

    mix credo --strict

?

[2015-12-17 17:55] jessejanderson commented on #24
`mix credo --strict` gives me the same thing.

Someone in the Elixir Slack suggested `mix credo suggest -A -a` and that gave me results. `-A` seems to have been the missing link as running `mix credo -A` gives me what I expected to see.

Is there a reason the normal `mix credo` would be saying nothing found? The `0 mods/funs, found nothing` message was a little misleading as it sounded like it was

[2015-12-17 20:36] rrrene commented on #24
You touch on two issues here:

1. `--strict` is/should be an alias for `-A` (which is an alias for `--all-priorities`), so I am not sure why it behaves incorrectly here. Is the code you are testing this on on GitHub?
2. the output "0 mods/funs, found nothing." does not make sense in most situations, because it means one of three things
    (a) you have no issues,
    (b) you have issues, but they

[2015-12-17 22:15] jessejanderson commented on #24
Awesome!

Just pushed my code, it was just a sample from the Programming Elixir book and I was wanting to see how Credo worked.
https://github.com/jessejanderson/programming-elixir-issues

[2015-12-20 20:15] rrrene commented on #24
Hi, `v0.2.4` contains new wording, which I hope is "good enough". Be sure to update the version requirement to `~> 0.2`

Thanks for your help. We should certainly keep an eye on the "understandability" of what the user sees! :+1:

[2015-12-20 20:15] #24 closed

[2015-12-22 17:25] uasi opened #26 "credo suggest fails if there's one and only one defexception"
If target files contain just one `defexception` in total, `mix credo suggest` can detect no functions/modules.

Example:

[code]

[code]

[code]

Tested with credo 0.2.4 on on Elixir 1.1.1, Erlang/OTP 18.

Here's clonable working example: https://gitlab.com/uasi/20151223-credo-defexception

[2015-12-25 01:05] gogogarrett opened #27 "Sublime text plugin"
This is a great tool!

Is there anything in the works around getting a sublime / atom linter setup?

[2015-12-25 20:53] rrrene commented on #26
Hi! Thx for the bug report. I will fix this as soon as this "x-mas thing" is handled :grin:

[2015-12-25 21:03] rrrene commented on #27
Not at the moment. What would be needed from Credo for someone to implement that?

I thought about adding [Flycheck support](https://github.com/flycheck/flycheck) in the next revision. Might that be a start?

[2015-12-25 22:01] c-rack commented on #26
We could maybe also warn about defining more than one module per file :smile:

[2015-12-25 22:20] rrrene commented on #26
@c-rack we could definitely add a check for that. Please open a separate issue and we can discuss specific points (e.g. there should be an exception for `defexception` modules) :+1:

[2015-12-25 23:26] rranelli opened #29 ""readability" and "refactoring" tags are the same when using `--oneline`"
When I run `mix credo --one-line` I get both `readability` checks and `refactoring` checks tagged with `[R]`.

I'm currently writing a script to extract credo's output to format comments for Gitlab merge requests.
It would be great if I was able to differentiate between these categories while using the `--one-line` option. This would make my scripts much simpler.

I would suggest changing the `ref

[2015-12-26 09:31] rrrene commented on #29
I would accept the PR you describe. It's clearly better than what we have now! :+1:

[2015-12-26 16:45] rranelli commented on #29
Alright, I will work on it as soon as I get some extra time. :+1:

[2015-12-29 18:15] #26 closed

[2015-12-29 18:15] #29 closed

[2015-12-29 18:30] rrrene commented on #26
Just released `v0.2.5` including this. Thx again! :+1:

[2015-12-30 09:57] uasi commented on #26
:+1: :100:

[2016-01-07 00:13] gogogarrett commented on #27
I'm not sure about the specifics as I have not done this myself, but I use [sublime linter](http://www.sublimelinter.com/en/latest/) with the [eslint - er](https://github.com/roadhump/SublimeLinter-eslint).

I have found [this elixir sublime package](https://github.com/vishnevskiy/ElixirSublime) that aims to do some basic linting, but I would really love to see if we could get credo integrated as

[2016-01-07 08:58] chenghanlee commented on #27
+1 for this suggestion.

I have no idea how to build a sublime plugin, but having credo as psudo, elixir linter for sublime would be fantastic.

[2016-01-10 19:56] hunterboerner commented on #27
+1 for Flycheck support.

[2016-01-11 12:58] rrrene commented on #27
Okay, I will try to get something done by the end of the week / on the weekend. :+1:

We will need beta testers for this. Any volunteers?

[2016-01-11 13:09] c-rack commented on #27
@rrrene feel free to ping me if there is anything to test

[2016-01-18 12:43] rrrene commented on #27
@c-rack @hunterboerner I just pushed Credo `0.3.0-dev` to Hex.pm ...

    {:credo, "0.3.0-dev", only: [:dev, :test]}

You can test the Flycheck output via `mix credo --format=flycheck` :+1:

[2016-01-18 18:24] seantanly opened #32 "Pipe chain should start with a raw value."
Thanks for Credo. :)

I'm not sure whether the above is a good refactoring opportunity.

For example, the code below triggers the above, and seems like a pretty common and valid style.

[code]

[2016-01-18 21:09] rrrene commented on #32
I don't disagree. Your examples show that we need exceptions from the rule.

The value of this check is when you do things like:

    String.downcase(params[:user_name])
    |> valid_username?()

I would argue that

    params[:user_name]
    |> String.downcase
    |> valid_username?()

is so much clearer.

So what would you propose as "exceptional cases"? Ranges seem like a good candidate, like i

[2016-01-19 02:11] seantanly commented on #32
I agree in your example, it can seem clearer. In fact, I'm habitually used to writing the pipe style as I code along, in anticipation that the output may be used in further transformation. Perhaps, I'm so used to looking at functions being called via pipe, that function calls with 1 less argument within the parentheses looks less cluttered/nicer to read.

E.g. I like
[code]

instead of

[code]

Ho

[2016-01-21 08:00] rrrene commented on #32
There is not much difference between our positions, I think.

We both agree that the "thing" going into the pipe should be clear. I see that in your initial examples, so I think rather than removing the check, I would like to search for sane defaults like "blocks and ranges can go into a pipe" with a possibility for configuration.

Will try to incooperate something into the `0.3.0` release :+1:

[2016-01-21 22:47] chrismcg commented on #32
Thanks for Credo from me too. Another example from my code is:

[code]

Where I have to introduce a variable to prevent the warning

[code]

Is there any plan to introduce something like `# credo:disable Refactor.PipeChain` ?

[2016-01-22 09:26] rrrene commented on #32
@chrismcg There is, although I am still undecided on the format, since I personally dislike "magic comments". I would like to see a more "Elixiry" solution and I might just have had an idea :+1:

P.S. While I know this does solve the *actual* problem we are discussing, wouldn't this be the "Credo compatible solution"?

    &stream_start/0
    |> Stream.resource(stream_data(api_call_fn), &stream_en

[2016-01-22 09:59] chrismcg commented on #32
Great to hear you have plans. In ruby I have rubocop as part of CI and it fails the build if it isn't happy and so being able to disable it for a particular section of code is necessary sometimes. At the moment I've Credo turned off on CI for my Elixir projects because I can't tell it "I know, I'll fix it later but it's not the most important thing to be doing right now"

I hadn't thought of your

[2016-01-22 10:25] rrrene commented on #32
Yeah, I know what you mean with the `conn` example. I have had the same problem with actual production code that I thought to myself "is it really okay that the type changes constantly between pipes"? Is that maintainable code?

Contrived example:

    input_str                             # string with usernames
    |> String.split(",")                  # list of usernames
    |> Enum.map(&find_u

[2016-01-22 10:30] chrismcg commented on #32
Agree there are good times ahead. I'm hoping later in the year I'll have more to contribute to Credo than examples on issues! In the meantime I still love chatting about this stuff though...

With the `input_str` example although you don't pass the string all the way through the rest of the pipe is concerned with transforming it. `&stream_start/0` is only used once in the `Stream.resource` call so

[2016-01-22 10:39] rrrene commented on #32
You're right, "taking and transforming data" is the purpose of pipes and the `&stream_start/0` example does not do that.

I will work on a method to exclude individual parts of code from certain checks :+1:

[2016-01-27 04:03] seantanly opened #34 "If/else blocks should not have a negated condition in `if`."
In writing `if/else` statements, I would normally prefer to place the short shorter block in front, and leave the larger block behind. If it's written the other way round, the reader might miss the `else` clause.

For example,
[code]

It is not every time we have the opportunity to rewrite the `valid/1` method to `invalid/1` such that there isn't a negation in the `if` clause. And we probably agre

[2016-01-27 14:00] rrrene commented on #34
I certainly would not argue against doing this. The "rule of thumb" should be: Put the positive case first.

However, your example is exactly the reason why we will have some way to disable checks on a per-case basis in Credo `v0.3.0`!

[2016-01-27 18:02] seantanly commented on #34
Thanks! Looking forward to Credo `v0.3.0`! :+1:

[2016-01-28 10:44] c-rack opened #35 "Problem: suggested alias is not possible"
In [exzmq](https://github.com/zeromq/exzmq), we have the following modules: `Exzmq.Socket` and `Exzmq.Tcp.Socket`. Now the following code still recommends to alias `Tcp.Socket`, which would conflict with the first `Exzmq.Socket` alias:

[code]
We do not want to alias as `TcpSocket`.

[2016-01-28 12:19] rrrene commented on #35
Thanks for the bug report. Will look into detecting cases like this! :+1:

[2016-02-01 17:02] kbaird opened #36 "False negative on "unused return values" ?"
Hi. The code at https://github.com/mattmills/ecto_neo4j/pull/4 reports a warning:

[code]

That I believe is incorrect. The context is a value returned from an if check being the last evaluated expression in a function:

[code]

It looks like the presence of the `[nil]` and `end` lines below the `Enum.map/2` is confusing it into thinking that there are additional expressions leading the `map` valu

[2016-02-01 18:46] rrrene commented on #36
Thanks for reporting this, it indeed looks like a bug! :+1:

I will look into it!

[2016-02-01 22:19] #36 closed

[2016-02-01 22:20] rrrene commented on #36
Bugfix is live in `v0.2.6` - Thanks again Kevin for a comprehensive bug report. Open Source at its best! :+1:

[2016-02-01 22:21] kbaird commented on #36
Thanks for such a quick fix.

[2016-02-10 11:33] rrrene commented on #32
@chrismcg Credo `v0.3.0` now includes support for a `@lint` attribute. See [CHANGELOG](https://github.com/rrrene/credo/blob/d6f039f4608b4ee73597a11debd8d52fcf63f804/CHANGELOG.md) for further details.

What do you think?

[2016-02-10 11:34] rrrene commented on #34
@seantanly Credo `v0.3.0` now includes support for a `@lint` attribute. See [CHANGELOG](https://github.com/rrrene/credo/blob/d6f039f4608b4ee73597a11debd8d52fcf63f804/CHANGELOG.md) for further details.

What do you think?

[2016-02-10 11:35] rrrene commented on #5
@maxnordlund Credo `v0.3.0` now includes support for a `@lint` attribute. These allow you to ignore indiviual checks on a perfunction basis. See [CHANGELOG](https://github.com/rrrene/credo/blob/d6f039f4608b4ee73597a11debd8d52fcf63f804/CHANGELOG.md) for further details.

What do you think?

[2016-02-10 11:38] chrismcg commented on #32
Looks great, thanks! Module attributes are a perfect solution for this.

[2016-02-10 11:44] maxnordlund commented on #5
I love it :smile_cat: This combined with a good commit message should suffice to close this. But I would like a flag to temporarily ignore the `@lint` attribute. Something one can run periodically to see if the ignores are still valid.

Close this if you like, unless you have a plan for this somehow :wink:

[2016-02-10 11:56] rrrene commented on #5
I like this idea of linting the `@lint` attributes, which could result in a message like

"XYCheck ignored via @lint, but XY does not report any issues here."

Great idea! :+1:

[2016-02-10 12:09] maxnordlund commented on #5
Yes, yes! Lint all the things. If it will work like that it could probably
be on all the time instead of hidden behind a flag. Which would mean your
linting ignores will never be grow stale.

All makt åt Google, vår befriare
Den 10 feb. 2016 12:56 skrev "René Föhring" <notifications@github.com>:

[2016-02-10 14:37] vdaniuk opened #38 "consistency issue bug with parenthesis spaces"
Credo reports that "There are no spaces after/before parentheses, but here there are." for this line:
[code]

Changing the code to this removes the consistency issue notification:
[code]

Obviously, those are not parenthesis :)

[2016-02-10 14:48] rrrene commented on #38
Aren't those curly parentheses? (sorry, not a native speaker)

The check currently looks at `{}`, `[]`, and `()`.

[2016-02-10 14:49] rrrene commented on #38
Ah, it's curly brackets, right?

[2016-02-10 14:52] rrrene commented on #5
Yeah, that's what I was thinking: a `@lint` checker that's just a regular check ... :scream:

[2016-02-10 15:07] vdaniuk commented on #38
Ah, I thought that this was just a naming issue. Maybe change the recommendation to something like this?
[code]

[2016-02-10 15:07] rrrene commented on #38
Perfect, will incorporate your suggestion when I get home! :+1:

[2016-02-10 15:14] vdaniuk commented on #38
Great, I am sending a pull request both for presence and lack of whitespace.
https://github.com/rrrene/credo/pull/39

[2016-02-10 15:22] chrismcg commented on #5
Yes, this is nice when you finally refactor some bit of code that needed ignored for a while and get to remove the @lint. It's also nice for "lint as you type" editor integration.

[2016-02-11 15:03] rrrene commented on #38
This is fixed in `v0.3.1`. Thanks again! :+1:

[2016-02-11 15:03] #38 closed

[2016-02-14 12:04] seantanly commented on #32
Thanks for @lint! And together with .credo.exs gives us full ability for customization.

[2016-02-14 12:04] #32 closed

[2016-02-14 12:07] seantanly commented on #34
Thanks for @lint! And together with .credo.exs gives us full ability for customization.

[2016-02-14 12:07] #34 closed

[2016-02-14 17:57] hojgr opened #40 "Consistency error in regex"
Hello!

Awesome project!

I'm running it on my application and one of the warnings I get is this one
[code]

Thing is, the 24th line in user.ex is
[code]

Thing is, this is regex. I want to match the whitespace. I think this is a bug :)

Michal Hojgr

[2016-02-14 18:53] rrrene commented on #40
Thanks for the bug report! I added a test reproducing the issue and will try to fix as soon as I can :+1:

[2016-02-14 20:02] hojgr commented on #40
I thank *you* for your work for the community :)

[2016-02-14 20:41] c-rack commented on #40
@rrrene I just looked at this issue and think it is best to just remove the regex before applying the checks. But this lead to the next problem: how to properly detect the end of the regex? Instead of trying to detect the end of the regex, I propose to just strip everything following the `~r` prefix.

So I came up with a simple but working solution by inserting
[code]
before this line:
https://git

[2016-02-14 21:51] rrrene commented on #40
@hojgr I re-opened this issue since it is not fixed, yet.

@c-rack I agree something like that will be the way to go. There is also the [Credo.Code.Sigils](https://github.com/rrrene/credo/blob/master/lib/credo/code/sigils.ex) module, which was introduced to strip sigils from source code. That way we could at least remove the `~r` sigils cleanly.

[2016-02-15 17:16] NobbZ opened #41 "mix do credo, <anything> does only run credo"
When using `mix do` only the items up to and including `credo` are run.

eg:

[code]

while

[code]

[2016-02-15 21:11] rrrene commented on #41
Unfortunately, this behaviour is by design: https://github.com/rrrene/credo/blob/d6f039f4608b4ee73597a11debd8d52fcf63f804/lib/credo/cli.ex#L45

Credo exits/fails to provide an exit status, which in turn describes what checks failed during the analysis. I updated the README to include this (it was just listed in the CHANGELOG, my fault :disappointed:)

If you have any suggestions how we could integ

[2016-02-16 09:54] #41 closed

[2016-02-17 03:23] hassox opened #43 "Incorrectly identifies -1 as an operator requiring space"
I have the following in one of my modules

    @max -1

This incorrectly identifies an issue of:

[code]

[2016-02-17 09:12] rrrene commented on #43
@hassox Thx for reporting! I added a (failing) test to reproduce this issue. Will fix as soon as I can!

[2016-02-17 16:39] hassox commented on #43
thankyou!

[2016-02-17 19:07] rrrene commented on #40
@hojgr `v0.3.3` contains a fix. Thx again for reporting! :+1:

[2016-02-17 19:07] #40 closed

[2016-02-17 19:07] rrrene commented on #43
`v0.3.3` contains a fix. :+1:

[2016-02-17 19:07] #43 closed

[2016-02-17 19:13] hassox commented on #43
speedy! thankyou

[2016-02-19 09:48] seantanly opened #44 "[.credo.exs] Support excluding `_build` in umbrella e.g. "apps/myapp/_build""
Tried setting `excluded` in `.credo.exs` with `**/_build/` but it didn't work. `_build` folders in `apps/` folders are still being evaluated.

[code]

[2016-02-25 19:33] gausby opened #45 "Matches when pattern matching on binaries return false consistency report"
A situation like:

[code]

Would result in *There are spaces around operators most of the time, but not here.* on the `<<data::size(len)-binary, _::binary>>`-line

[2016-02-26 09:39] rrrene commented on #45
:+1: Thx for reporting!

[2016-02-26 19:39] smeevil commented on #27
Hi,

I just got Dogma working with Flycheck and am now looking into getting Credo to work as well.
I tested the latest build with the Flycheck format and that is looking quite ok.

My question is though, is it possible to give Credo just one file to check in stead of everything ?

For example mix credo --format=flycheck ./path/to/file.ex which will only run the rule set on that file.
This would si

[2016-02-26 20:10] rrrene commented on #27
`mix credo --format=flycheck ./path/to/file.ex` should work (and does for me on Credo `v0.3.3`).

Doesn't it for you?

[2016-02-26 22:58] smeevil commented on #27
Ah that works only in combination with the --format=flycheck
Sorry I did not try that !

I'll attempt to make a Flycheck.checker now :)

[2016-02-27 01:17] smeevil commented on #27
If you are interested, here is the flycheck checker.
It works like a charm and chains Dogma after it is done as well.

https://github.com/smeevil/flycheck-elixir-credo

I only encounter one slight problem with running credo in the flymode format, which is that every error is being output 4 times and it always gives the duplicate code warning at line 1

example :

![example](https://dl.dropboxuserc

[2016-02-27 10:02] rrrene commented on #27
Definitely a bug. Will have a look tonight!

[2016-02-27 17:46] chrismcg opened #46 "Incorrect space around operators warning in pipe"
[code]

I get the `There are spaces around operators most of the time, but not here.` report for the last line of the pipeline.

[2016-02-28 21:55] rrrene commented on #46
I took a day to answer this as I was recovering from the fact that you can pipe into arithmetic operations (although it makes perfect sense). Personally, I do not think this is something that should be widely used since it is really confusing (I first thought `-(@epoch)` was a negated numerical value, not an operation).

That said, since this is an operation like `x - @epoch`, why don't you write

[2016-02-28 22:02] chrismcg commented on #46
That's a really good point... We need some kind of term for "overpiping". I converted it to

`:calendar.datetime_to_gregorian_seconds(datetime) - @epoch`

Which is much clearer anyway!

[2016-02-28 22:02] #46 closed

[2016-02-29 20:11] rrrene commented on #45
Fix included in `v0.3.4`! Can you confirm this works as expected?

[2016-02-29 20:11] rrrene commented on #27
@smeevil Fix included in `v0.3.4`! Can you confirm this works as expected?

[2016-03-01 21:06] smeevil commented on #27
I did a quick test and it seems like its fixed indeed :) will let you know tomorrow when i’ve done some more testing with it :)
Thanks for the quick response !

Gerard.

[2016-03-02 03:17] gausby commented on #45
@rrrene it works! :+1:

[2016-03-02 12:36] sashaafm opened #47 "UnicodeConversionError - Error message doesn't tell where the error is occurring"
I'm getting the following

```sashaafm@LXLE:~/Documents/nomad$` mix credo --explain
Checking 8 source files ...
** (UnicodeConversionError) invalid encoding starting at <<211, 32, 69, 83, 84, 193, 32, 80, 65, 82, 65, 32, 77, 89, 83, 81, 76, 32, 35, 35, 35, 35, 10, 32, 32, 100, 101, 102, 112, 32, 98, 115, 32, 100, 111, 10, 32, 32, 32, 32, 34, 34, 34, 10, 32, 32, 32, 32, 32, 32, ...>>
    (elixir) l

[2016-03-02 19:17] rrrene commented on #47
That does not sound good. Could you provide a bit more context? Are there any special Unicode characters in any of the files, for example in strings or comments?

[2016-03-02 22:20] stevedomin opened #48 "Pipe chain should start with a raw value."
The following line of code triggers a "refactoring opportunity":

[code]

It feels like this a valid use case for a pipe, and that credo should say anything about this code. Is that right?

Apologies if this was discussed previously, I searched on the repo but couldn't find anything.

[2016-03-02 22:25] rrrene commented on #48
That's clearly a bug in Credo. Thx for reporting!

[2016-03-02 22:26] stevedomin commented on #48
You're welcome, thanks for your awesome work on this tool

[2016-03-03 18:46] smeevil opened #49 "Parse from stdin"
Hi,

I would like to suggest to allow Credo to parse source from stdin.
The reasoning behind this is that it would make it easier for editors to make use of Credo.
For example with Spacemacs and Flycheck.

I know its possible to use it with Flycheck at the moment, but it requires the file to be saved. If you use continues flychecking it will thus also continuous safe the file either in the origina

[2016-03-03 20:35] rrrene commented on #49
First let me thank you for taking the time to put this together. Using STDIN for this is certainly something useful.

Which editors are these? I am asking because the hack in the PR to make this work is really something I would like to avoid.

[2016-03-04 00:10] smeevil commented on #49
An example of Spacemacs using it with Flycheck and realtime updating :

![image](https://dl.dropboxusercontent.com/s/pfqnh02dwr1tbbx/2016-03-04%20at%2001.08.png)

[2016-03-04 00:19] smeevil commented on #49
Just to be clear, which hack are you referring to, the one that prefixes the filename stub ?

[2016-03-04 08:44] rrrene commented on #49
Maybe "hack" was a bit harsh. Sorry, it was late and was a bit grumpy. :disappointed:

To clarify, [please take a look at this branch](https://github.com/rrrene/credo/compare/smeevil-stdin), where I merged your commits and made some changes to better fit the "bigger picture":

1. The hack I was reffering to was setting the `files` field in the Config struct during CLI parameter parsing. The module

[2016-03-04 12:45] smeevil commented on #49
No worries :D

yeah, I agree it was a bit invasive to set the files option like that but had no other idea at the moment on how to accomplish it otherwise.

I really like the way you handle this. There are indeed a lot of people that are very picky about their pull requests which, at least for me, takes away all the enthusiasm and excitement to help with those projects.

For me personally a pull r

[2016-03-09 02:53] henryj opened #51 "Question: Is there a way to force 2 spaces?"
so 3 or 4 spaces will fail?

[2016-03-09 07:20] rrrene commented on #51
This will be part of `v0.4.0` or `v0.5.0`. Let's keep this issue open and I will ping you when it's done! :+1:

[2016-03-09 09:57] henryj commented on #51
Cool. Thanks.

On Wednesday, 9 March 2016, René Föhring <notifications@github.com> wrote:

[2016-03-11 01:22] hackling opened #52 ""Space around operators most of the time, but not here." Issue"
[code]

I do prefer space around my operators, but I do also like to have negative numbers. `-20 * -13` also seems acceptable to me as well. Thoughts?

[2016-03-11 01:26] hackling commented on #52
[code]

Worth noting the false positive I got here....

[2016-03-11 10:37] rrrene commented on #52
Hi Nicholas,

your first example is clearly a bug in Credo. In the second example, the help text is wrong :disappointed: my bad!

Will investigate and fix soon!

[2016-03-11 10:38] rrrene commented on #52
And thx for reporting! :+1:

[2016-03-11 21:55] #48 closed

[2016-03-11 22:08] rrrene commented on #49
Hi Gerard,

your changes are part of the latest release - `v0.3.6`.

Please check if the "STDIN feature" now works to your content. Please also take note that the CLI switch was renamed to `--read-from-stdin` which is a notch more descriptive.

btw: are you by any chance attending this year's ElixirConf.EU?

[2016-03-11 22:54] rrrene commented on #48
Hi Steve, `v0.3.6` contains a patch for this! Thx for reporting :+1:

[2016-03-11 22:54] rrrene commented on #52
`v0.3.6` contains a patch for this! Thx for reporting :+1:

[2016-03-11 23:20] stevedomin commented on #48
Great, thank you @rrrene!

[2016-03-11 23:29] smeevil commented on #49
Hi,

Great to hear , will let you know if it works.

Regarding elixir conf, would have loved to, but a day later is WGT festival in Leipzig. This is something I always look forward to and have been going there every year since the last 15 years :) (http://www.wave-gotik-treffen.de/english/bands.php).

Let me know if you are ever in NL though so we can catch some beers :)

[2016-03-12 09:12] c-rack commented on #52
@rrrene I have a similar false positive for this line (a simple input to integer function):
https://github.com/c-rack/cidr-elixir/blob/master/lib/cidr.ex#L196

Just checked with 0.3.6, but the "There are spaces around operators most of the time, but not here" message still appears for this line. Shall I open another issue or want you re-open this one?

[2016-03-12 22:13] rrrene commented on #52
@crack Please check with *cough* `v0.3.7`. :grin:

[2016-03-13 08:19] c-rack commented on #52
Works like a charm, thanks :+1:

[2016-03-14 12:42] sasa1977 opened #53 "Incorrect behaviour of Unusued*Operations in a comprehension"
Here's a minimal example:

[code]

This reports ` [W] ↗ There should be no unused return values for Enum.sum()`

I've actually seen this result with a string function, but it looks like all UnusedOperations are affected.

[2016-03-14 13:56] rrrene commented on #53
:+1: Thx for reporting!

[2016-03-14 21:38] murphy1312 commented on #47
same error for me as well,

** (UnicodeConversionError) invalid encoding starting at <<180, 115, 32, 116, 111, 32, 111, 112, 101, 110, 32, 115, 97, 118, 101, 32, 97, 115, 32, 100, 105, 97, 108, 111, 103, 10, 32, 32, 32, 32, 32, 32, 124, 62, 32, 112, 117, 116, 95, 114, 101, 115, 112, 95, 104, 101, 97, 100, 101, 114, ...>>
    (elixir) lib/string.ex:1634: String.to_char_list/1
    lib/credo/code.ex:

[2016-03-14 21:43] sashaafm commented on #47
@rrrene I'm sorry I never came back to you.

It was a special unicode character in a comment. Today I had it again. @murphy1312 that's probably the same problem for you.

@rrrene Do you think it's possible to find the line where the error is happening and tell the user? This is really bad for people like me whose native language has a lot of special unicode chars and from time to time will write c

[2016-03-14 21:45] rrrene commented on #47
@sashaafm Absolutely. Can you provide an example comment containing some of these characters so I can write a test against it?

[2016-03-14 21:55] sashaafm commented on #47
@rrrene yes, of course, the problem I had today was because of a comment similar to this:

# WARNING: NÃO ESTÁ A FUNCIONAR

(WARNING: IT DOESN'T WORK)

[2016-03-15 01:46] murphy1312 commented on #47
for me it was the " ´ " character - 180 - in
# tell the most browser´s to open

[2016-03-15 21:54] #53 closed

[2016-03-15 21:55] rrrene commented on #53
Fixed it. Will release a new version soon!

[2016-03-17 20:18] aweiker opened #54 "Multi alias use is not detected"
[Elixir 1.2 added support for multi use aliases.](http://elixir-lang.org/getting-started/alias-require-and-import.html#multi-aliasimportrequireuse) Credo should pick this up and not warn on missing aliases.

Here is an example that should be allowed and not have any warnings.

[code]

However, this will give the following messages

[code]

[2016-03-18 07:40] rrrene commented on #54
Hi Aaron,

maybe you mistyped your example, but that is not how you use aliasing. An alias is used to reference a given module by another (shorter) name, which is by default the last part of the module atom. Your `Sample` module should therefore read:

    defmodule Sample do
      @moduledoc false

      alias Sample.{One, Two}

      def foo do
        {One.one, Two.two}      # <----
      end

[2016-03-18 16:01] aweiker commented on #54
Yes, you are correct. I messed up the sample.

I corrected the sample that way it's obvious.

Also, what I just discovered while updating it is that this works `Sample.One` and `Sample.Two` but when it is `Sample.App.One` and `Sample.App.Two` it does not.

[2016-03-18 16:36] aweiker commented on #54
Doing some more digging into it and it appears that this may be the preferred syntax:

[code]

[2016-03-18 17:38] #35 closed

[2016-03-18 17:38] #54 closed

[2016-03-18 17:38] rrrene commented on #35
Finally got around to implementing this. Thanks again for reporting! :+1:

[2016-03-18 17:39] rrrene commented on #54
`v0.3.8` contains a fix for this. Would you mind test-driving it? :grin:

[2016-03-18 18:11] aweiker commented on #54
Looks good.

[2016-03-23 14:53] KronicDeth opened #56 "Crash when Credo.Check.Design.AliasUsage.find_aliases/2 calls to_string"
# Versions

Elixir: `1.2.3`
Credo: `0.3.8`

# Error

[code]

[2016-03-23 19:13] rrrene commented on #56
:+1: thx for reporting! will release a fix shortly!

[2016-03-23 23:10] #56 closed

[2016-03-23 23:10] rrrene commented on #56
@KronicDeth `v0.3.9` contains a fix for this. Can you confirm?

[2016-03-24 18:12] #47 closed

[2016-03-24 18:15] rrrene commented on #47
This *should* finally be fixed in `v0.3.10` ... Can you confirm?

[2016-03-25 06:33] hykw commented on #47
The same error had occurred for me too, but it's been fixed in `v0.3.10`!

[2016-03-29 09:47] smeevil commented on #49
Sorry for the late reply :/
I tested it out and everything seems to work perfectly :)

Thank you so much :)

Gerard.

[2016-03-29 09:47] #49 closed

[2016-03-29 13:16] smeevil commented on #27
@gogogarrett I am not an atom user myself, but I gave it a shot to create a linter for it anyways, because, why not :)

Is this what you are looking for :

![2016-03-29 at 14 25](https://cloud.githubusercontent.com/assets/13874/14109177/22fe0022-f5c1-11e5-9532-791e0eee3720.png)

You can install it by using ```apm install linter-elixir-credo```
or see https://atom.io/packages/linter-elixir-credo an

[2016-03-29 13:22] jmgarnier opened #58 "[noob elixir question] mix credo fails with "undefined function Bunt.puts""
I am learning Elixir since a couple of days so I don't have much background to debug this. My goal was to use `credo` while I learn the language after I heard good feedback on it :wink:

I have added `credo` to my `mix.exs` and then I ran the following commands:

[code]

[2016-03-29 13:28] 21croissants commented on #58
Found the answer. This is because I was trying to setup [Credo for flycheck on spacemacs](https://github.com/smeevil/flycheck-elixir-credo) and I had installed the archive credo without blunt.

What I did to fix it:
[code]

[2016-03-30 07:16] rrrene commented on #58
This is very valuable input. Thank you for that!

I'm currently on a trip and can't do much, but I would like to keep this issue open so I see it when I come home!

Thx again for reporting! 👍🏻

[2016-03-30 09:17] smeevil commented on #58
@21croissants I'll add it to the readme :) Did the flycheck work for you (sorry for hijacking the thread @rrrene ) if not , let me know in the repo and I'll see what i can do.

[2016-03-30 13:50] smeevil commented on #27
@rrrene Getting a lot of positive feedback on Twitter regarding the linter for Atom.
As far as I can see, you can close this issue now, and maybe reference the linter in the readme ?

Anyways, all possible due to the read-from-stdin and flycheck format :)

[2016-03-30 21:52] gagalago opened #59 "changing only some rules"
Hello
how can I change some rules without copy/paste all `.credo.exs` file ?
For example I would like disable `Credo.Check.Readability.ModuleDoc` and change `Credo.Check.Readability.MaxLineLength, priority: :low, max_length: 80` to 100. but I would like to keep all other rules.

[2016-03-31 08:13] manukall commented on #59
I have the same question. I'd like to disable a rule without having to maintain the list of rules or forgetting to add a new rule when a new version is released.

[2016-03-31 19:54] rrrene commented on #59
Hi there. Copypasta is currently the only option, but that behaviour will change soon. If sou have any suggestions/input on this it is more than welcome! 👍🏻

[2016-03-31 22:26] gogogarrett commented on #27
Thanks a lot for this - it works really well! Very much appreciated.

[2016-03-31 22:26] #27 closed

[2016-04-04 09:27] smeevil commented on #59
How about a config file fallback chain that will look for a .credo.exs file in the current project, if that is not found then it will look for one in the home dir ~/.credo.exs , and if that is not found it will just use the defaults.

We could then format the custom config file for example like :
[code]

as long as the custom config has no key 'checks' it will include all the checks as defined in

[2016-04-04 19:32] rrrene commented on #59
I could guess where you got the idea for this. :wink: Unfortunately, I am opposed to having multiple keys for this.

The way it will most probably work in `v0.4.0` is that the list of checks will be merged with the default list. The checks in your `.credo.exs` are prioritized and if you want to deactivate individual checks you just pust `{Credo.Check.CheckModule, false}` in the config.

P.S. The "

[2016-04-05 02:58] mikesive opened #60 "Credo throws an error when run over Phoenix"
I cloned the Phoenix repo to test out credo. After executing
[code]
I got the following error:
[code]

[2016-04-05 09:50] smeevil commented on #59
Yeah the false annotation would work.

Would I be correct in assuming that the config file will then only contain override rules ?
So by default it would run all checks with default settings, unless in you specify otherwise in the config file. For example if you have  ```{Credo.Check.CheckModule, false}, {Credo.Check.Readability.MaxLineLength, priority: :low, max_length: 80}``` It would disable th

[2016-04-05 10:00] rrrene commented on #59
Yepp, that's how I think it should work.

Everyone I talk to tells me they don't want to monitor if new checks get implemented and that their prime use case is customizing/disabling a few checks. Quote: "Nobody wants to run just three checks."

So I am leaning very much towards following that line of thinking with the next "bigger" release.

[2016-04-05 10:01] rrrene commented on #60
Uh, that's looks ... like a bug :grin: Thx for reporting! :+1:

[2016-04-05 10:02] smeevil commented on #59
Sounds good :)

Let me know if there is anything that I could help with.

[2016-04-07 03:15] iconnor commented on #60
Still failing for me with the same error when I ran it against https://github.com/phoenixframework/phoenix

[2016-04-07 06:14] rrrene commented on #60
@iconnor This is because the fix is not yet deployed. The commit that fixes it is on the release branch for `v0.4.0` - but I will try to make a patch release for this.

[2016-04-07 06:36] #60 closed

[2016-04-07 18:06] rrrene commented on #60
@iconnor @mikesive This is released as `v0.3.11`!

[2016-04-08 06:17] eksperimental opened #61 "Ignore white-space after a trailing comma in a list"
I found to be good practice to leave lists to contain a trailing comma,
`@options [foo: 1, bar: 2, ]`
so it's implied that more elements can be added to this list,

but when running `mix credo --strict` I will get a warning:

The warning is gone when I remove the trailing white space
would it be possible to ignore the trailing space when it's presided by a comma, and just judge the list by whether

[2016-04-08 08:40] rrrene commented on #61
Ah, did not think of this. Thanks for reporting! :+1:

[2016-04-10 21:23] dantswain commented on #45
Hi @rrrene I'm actually still getting this in 0.3.11.  Two different cases:

[code]

and

[code]

[2016-04-11 12:17] rrrene commented on #45
@dantswain thanks for the report. will provide a fix. :+1:

[2016-04-12 19:33] #45 closed

[2016-04-12 19:33] #61 closed

[2016-04-12 19:37] rrrene commented on #61
@eksperimental I released a fix in `v0.3.12` :shipit:

I'm not really sure if it was a good idea that `[]`, `{}` and `()` pairs are all treated by [the same check](https://github.com/rrrene/credo/blob/35fef8ece287a15b56ebe196eb309d1b4e188e6c/lib/credo/check/consistency/space_in_parentheses.ex) inside Credo. Your case above makes it clear that there are subtle differences in their semantics, so I t

[2016-04-12 19:39] rrrene commented on #45
@dantswain I released a fix in `v0.3.12` :shipit:

P.S. You should be awarded some internet points for re-opening an existing, relevant issue instead of creating a new one. Well done! :star2:  :+1: :star2:

[2016-04-12 19:39] eksperimental commented on #61
thank you!

[2016-04-12 20:10] dantswain commented on #45
Confirmed it fixed the issues I was seeing.  Thanks! :+1:

[2016-04-12 20:32] joshuawscott opened #62 "unused return value false positive?"
Hello,
When running `mix credo`, I'm getting:
[code]

Code in question:
[code]

I am actually using the return value (returning it), but it seems like having the extra line after the else is triggering the warning somehow? If I remove that Logger line, the warning goes away.

example output (showing that the return values are used)
[code]

[2016-04-13 11:49] rrrene commented on #62
Strange. Will investigate. Thx for reporting! :+1:

[2016-04-15 09:06] tuvistavie opened #63 "False positive when pattern matching functions parameters with sigils"
The following code gives an incorrect warning:

[code]

warning:

[code]

Thank you for your help!

[2016-04-15 09:20] rrrene commented on #63
Interesting. Thx for reporting! :+1:

[2016-04-18 06:34] developerworks opened #64 "Credo can support find functions that is directly call in module ?"
Fully qualified function call is ok in hot upgrade,
Add a new feature that could scan what directly functions call exists in a module

[2016-04-18 08:16] rrrene commented on #64
Hi there,

`v0.4.0` which is currently in the works will add support for custom checks. This will allow you to do what you want.

I will leave this issue open and ping you once `v0.4.0` is released! :+1:

[2016-04-19 19:06] #62 closed

[2016-04-19 19:06] #63 closed

[2016-04-19 21:13] fishcakez opened #65 "Is "Case statements should not only contain `true` and `false`." a good default?"
Suggesting an `if..else` is less strict, which could potentially hide bugs because `if` tests for truthy rather than `true`.

[code]

Situations where one might use a `case` like this are when a map or keyword have been passed from another application.

[2016-04-20 01:21] mgwidmann opened #66 "Credo.Check.Refactor.MatchInCondition explained"
A brand new phoenix project triggers this warning, and when I went to `explain` it all it says is that it shouldn't be done. Can you explain why this is considered bad form or why it should be avoided?

Heres the function phoenix generates in the error helper:

[code]

[2016-04-20 10:38] rrrene commented on #66
I should really improve the `explain` text for that check. :confused:

The reasoning is that pattern matching in a condition will make the code harder to reason about, especially when maintained by a different person than the original author. Assigning in a condition can also be mistaken for a comparison (e.g. when working under deadline pressure).

  Example:

      if {:ok, %{"error" => true, "m

[2016-04-20 10:49] rrrene commented on #65
Mmmmh, that's a compelling argument. :confused:

My counter argument would be that your example could also be written as:

    if Map.fetch!(map, key) == true do

Where I would explicitly check for `true` (a use case I encounter frequently myself) and handle all non-true cases in an `else` block.

As everything in Credo this is pretty much up for debate. The main reason for this check was easier r

[2016-04-20 11:30] fishcakez commented on #65
Yeah I understand credo defaults are up for debate and it is a matter of opinion. I tried credo on a project and got about 130 warnings/suggestions and I disagreed with all but 1 suggestion :/. I think about 12 uniques. This was the only one that I thought was counterproductive. The others I could sort of understand someone wanting but weren't for me.

That that isn't equivalent to the case above,

[2016-04-20 12:02] rrrene commented on #65
By "up for debate" I primarily meant that they are still changing/evolving. I see what you are getting at with your argument and the fact that `if` is less explicit than `case` is something I did not consider.

Wow. While I recognize lots of stuff is bound to opinion and some checks might be controversial, I did not see that coming. What was the single suggestion you agreed with?

While a tool lik

[2016-04-20 12:19] rrrene commented on #65
Oh, I accidentally skipped over "This was the only one that I thought was counterproductive." :grin:

Anyhow: If you have *any* other thoughts on this tool, I'd love to hear them!

[2016-04-20 18:08] mgwidmann commented on #66
I believe your example is no longer a conditional. Meaning, if the match fails it won't execute the code either way, thats certainly worth warning about.

However, in the most common use case of the match operator is actually a presence check.

[code]

Which is just shorthand for

[code]

In my experience, this is ok, as long as the match is entirely a wildcard (only a variable). I believe this er

[2016-04-21 09:18] adamniedzielski opened #67 "Cryptic error when there is no issue in the given line"
Thank you for an amazing piece of software! I have a bug to report:

##### Description

When you run:

[code]

and there is no issue in the given line, you will get quite a cryptic error:

[code]

##### Real life case

First I run ```mix credo --strict``` and it reported an issue in ```lib/chapter_sampler.ex:6```. Then I wanted to get the details of this issue, but I didn't specify the ```--strict

[2016-04-21 10:56] rrrene commented on #67
Ah, very good! I mean, not "good" good, but a good error report :+1: :grin:

[2016-04-23 13:41] dpehrson commented on #44
Just hit this as well, it also seems to be doing `apps/*/deps`.

Strangely I have credo in a project at work that doesn't behave this way and I have no idea why.

[2016-04-27 09:50] #67 closed

[2016-05-05 17:50] zackehh opened #70 "Incorrect operator detected when used inside a binary"
Credo is yelling at me about this (below is an example only):

[code]

Invoked as `gen_name("my-test") == "my_name"`.

[code]

Assuming that it's looking at the `-` in the binary and getting mad that there are no spaces, but naturally I can't add spaces because that would change the output.

I can disable, sure, just reporting in case this is a bug which needs fixing.

[2016-05-05 21:23] rrrene commented on #70
Ouch, this definitely looks like a bug. Thx for reporting! :+1:

[2016-05-07 19:09] mgwidmann commented on #66
Wanted to point out this is done in the Elixir codebase: https://github.com/elixir-lang/elixir/blob/574c6db3f8566a941b55c66499078d61661d08c6/lib/elixir/lib/kernel/cli.ex#L437-L448 and I'm sure in other places as well.

I would vote for a warning about any "complex" (or non-wildcard) type matches. Simply capturing the return value shouldn't be a problem unless it's the same name as another local va

[2016-05-07 20:40] rrrene commented on #66
I heard you :wink: The behaviour will change like we discussed above.

Development is a bit slow at the moment, because there is a lot of stuff happening at my day job AND I am giving a talk about Credo at next week's ElixirConf.EU in Berlin and the preparation is taking up most of my free time. :grin:

[2016-05-08 12:35] rrrene opened #71 "Do not require @moduledoc for exception modules"
By default, modules containing `defexception` should be exempt from the `Readability.ModuleDoc`.

[2016-05-13 10:52] tomekowal opened #73 "@lint rules ignores macros"
I am using Credo with Phoenix application and I have two models that have the same fields and validations, but different semantics. For example:

      @lint {Credo.Check.Design.DuplicatedCode, false} #this doesn't work
      embedded_schema do
        field :field1, :integer
        field :field2
        field :field3
      end

      @required_fields [:field1, :field2, :field3]
      @optional_f

[2016-05-13 12:24] rrrene commented on #73
Thx for reporting! :+1: We briefly talked at ElixirConf, right?

[2016-05-13 12:27] tomekowal commented on #73
That is right :) Nice event and I really enjoyed your talk :)

[2016-05-13 12:47] rrrene commented on #73
Thanks! I also enjoyed the conference very much. Such a great community.

[2016-05-16 08:52] msoedov commented on #71
Can be closed now I guess

[2016-05-16 20:20] philipgiuliani commented on #66
Awesome! Just looked for the same thing. Its possible to use 0.4.0 already now?

PS: Your talk was amazing @rrrene ! That's why im using Credo now... :)

[2016-05-16 20:40] philipgiuliani opened #74 "Ambiguous variables should probably check arity"
Josè has changed the generators in phoenix to use struct as parameter instead of model:
[code]

Credo doesn't like that:
[code]

[So i asked Jose about it](https://github.com/phoenixframework/phoenix/commit/8b560cdb31d2d9b01719c16f582db3261f58add2#diff-e62057f054d2893edf06f076f736166aL20) and he told me that Kernel only implements struct/2, so it is ok to use struct/0 here.

I think it would be ri

[2016-05-17 06:07] rrrene commented on #66
I will release a beta this evening. Still working on the "create your own checks" UI, but most of the other stuff is done.

Will ping you here when it is released! :+1:

[2016-05-17 06:16] rrrene commented on #74
That's a valid argument.

I am a bit uncertain whether or not to keep these checks at all. Originally you could write something like

    defp server(https \\ false) do
      # ... code ...
    end

    # somewhere in a function:
    server = server(true)

Now, with a regular call to `server` it might have become unclear if you were calling the variable or the function (using default arguments). *

[2016-05-17 13:27] leifg opened #75 "Excluding type of check globally"
Is there a way to run the checks that are configured by default and exclude checks that should not be run.

From the documentation I see only the possibility to explicitly specify which checks can be run (so I have to copy all the default checks and then delete the ones I don't want)

[2016-05-17 13:32] rrrene commented on #75
Hi,

two ways:

1. Use `--ignore <check-name-or-part-of-checkname>` from the command-line.
2. Wait until tonight, I will release a beta for Credo `v0.4.0` which contains a breaking change that will enable you to do precisely what you want. See the [preliminary CHANGELOG](https://github.com/rrrene/credo/blob/release-0.4.0/CHANGELOG.md#breaking-change-checks-listed-in-credoexs) for details.

[2016-05-17 20:00] rrrene commented on #75
`v0.4.0-beta1` is available now.

[2016-05-17 20:01] rrrene commented on #71
:+1:

[2016-05-17 20:01] #71 closed

[2016-05-17 20:46] leifg commented on #75
That was perfect timing. Thanks a lot will try it out ASAP.

[2016-05-18 08:03] leifg commented on #75
Works like a charm. This ticket can be closed.

[2016-05-18 09:19] rrrene commented on #75
:+1:

[2016-05-18 09:19] #75 closed

[2016-05-18 12:57] TBK145 opened #76 "Ambiguous aliases"
When using credo with the `--strict` parameter, it will suggest you alias modules. However, if you use `Foo.Bar` and `Baz.Bar` in the same module, maybe credo should not suggest aliasing, because it will result in an ambiguous alias.

[2016-05-18 13:00] rrrene commented on #76
Ouch, this should have been fixed in #35 - I guess we missed a case.

Can you provide a small code example which I can include in a test?

[2016-05-18 13:11] TBK145 commented on #76
(Just to be sure, I'm using the master branch)

This is the specific piece of code:
[code]

[2016-05-18 13:18] rrrene commented on #76
Very good. `master` contains the current stable version (`v0.3.13`).

What we did fix back in February was this (where you aliased one of the alternatives).

[code]

I will try to fix your case as well! :+1:

[2016-05-18 13:24] TBK145 commented on #76
I could fix it as well by aliasing one of the two, however, I think in cases like this it is clearer to not alias the parent module.

[2016-05-18 13:34] rrrene commented on #76
Totally agree.

[2016-05-18 14:10] TBK145 commented on #76
Also, maybe a bit unrelated, but if a module is only called once, would it really be better practice to alias it?

[2016-05-18 14:26] TBK145 opened #77 "Credo does not notice matches that are nested in conditions"
Credo will suggest to not use matches in eg. if-statements, however, if the match is nested credo will not find it.
Examples:
[code]
[code]

[2016-05-18 14:28] rrrene commented on #76
The reason for the aliases (and there are different opinions about this) is to have all "module dependencies" at the top of your module. This way, you can spot what the relations between modules are. For example you could see

I certainly spotted design flaws in my code using this method.

However: It is a check in the "Software Design" category, which are all a bit controversial and YMMV. Never l

[2016-05-18 14:39] rrrene commented on #77
Good catch!

Credo `v0.4.0` will allow the following:

      if value = values[field] do
        do_something_with_value
      end

while still disallowing more complex matches like these:

      if {:ok, %{"error" => true, "message" => message}} = parameter1 do
        do_error_handling
      end

So we could fix

[code]

I am just not sure if the above is something people actually do (?)

[2016-05-18 14:55] TBK145 commented on #77
Ah, so will the deciding factor be the amount of assignments done, or the complexity?

[2016-05-18 14:57] TBK145 commented on #76
Of course, and that relations between modules is indeed a good point. I thought it was more a message to prevent code duplication.

[2016-05-18 15:08] rrrene commented on #77
Everything except the "wildcard" assignemnt `x = foo(bar)` will cause an issue.

You can test this by pointing your Credo deps entry to `0.4.0-beta1`!

[2016-05-18 15:29] TBK145 commented on #77
So I checked the `release-0.4.0` branch, and I personally think this is a nice function.
I do think credo should check for nested matches, because there will be people who write
[code]

[2016-05-18 15:33] rrrene commented on #77
Good point! :+1:

[2016-05-18 18:05] stevelove opened #78 "Doesn't catch parentheses around a condition, which seems to hide other issues"
Saw the following during a code review and was surprised that Credo found no issues:

    if (!some_condition) do
      # ...
    else
      # ...
    end

Given the code above, I would expect:
1. An issue to be raised about parentheses around the condition;
2. "If/else blocks should not have a negated condition in `if`" to be raised.

Actual results were that Credo reported no issues.

If it matt

[2016-05-18 18:17] rrrene commented on #78
Strange. "If/else blocks should not have a negated condition in `if`" should be raised.

Will investigate!

[2016-05-18 21:51] stevelove commented on #78
Thanks for the fix!

I am curious about the reason for not raising a Code Readability warning for the parentheses themselves. The last bullet for that section in Credo's style guide says the following:
<blockquote>
Conclusively, never use parentheses around the condition of if or unless (since they are macros as well).
</blockquote>
    # preferred way
    if valid?(username) do
      # ...
    en

[2016-05-19 06:21] rrrene commented on #78
Hi. You are right. The reason Credo does not raise an issue here is that I simply haven't implemented all the points from the style guide yet.

I tried to acknowledge this in the commit referenced above:

Let's keep this issue open until it is fully fixed! :+1:

[2016-05-19 12:54] stevelove commented on #78
Ah, I missed that. My mistake. Would you like help with the rest of the issue? I'm new to Elixir, but would be happy to take a look.

[2016-05-19 14:06] rrrene commented on #78
Absolutely. Be sure to branch from the `release-0.4.0` branch.

[2016-05-19 15:04] rrrene commented on #78
FYI: You can use [Credo.Check.Refactor.NegatedConditionsWithElse](https://github.com/rrrene/credo/blob/release-0.4.0/lib/credo/check/refactor/negated_conditions_with_else.ex) as a template (here you can see how to parse `if` statements and it also checks for parentheses in conditions).

Please put the new check in the Readability category. Name could be something like `ParenthesesInCondition` ...

[2016-05-19 16:30] rrrene commented on #66
@philipgiuliani @mgwidmann Sorry, I forgot to ping you. This is part of `v0.4.0-beta1`.

[2016-05-19 16:30] #66 closed

[2016-05-19 16:31] rrrene commented on #59
This was released as part of `v0.4.0-beta1`. Please report any further issues you might find.

[2016-05-19 16:31] #59 closed

[2016-05-19 16:32] rrrene commented on #44
This was released as part of `v0.4.0-beta1`. Please report any further issues you might find.

[2016-05-19 16:32] #44 closed

[2016-05-19 16:54] rrrene commented on #77
Fixed in `v0.4.0-beta1`. Please report any further issues you might find :+1:

[2016-05-19 16:54] #77 closed

[2016-05-19 17:42] rrrene commented on #70
@zackehh Could you re-test this using `v0.4.0-beta1`?

[2016-05-19 19:04] zackehh commented on #70
@rrrene perfect, works just fine :)

[2016-05-19 19:12] rrrene commented on #70
@zackehh Great. Thx for reporting! :+1:

[2016-05-19 19:12] #70 closed

[2016-05-19 20:59] michalmuskala opened #79 "Name redeclaration checks only for 0-arity functions"
I find it quite strict to apply this rule to every function from `Kernel` or every local function.
I think it's perfectly fine to have a variable called `struct`, since the `Kernel.struct/2` function expects two arguments and can never be confused with a simple `struct` variable - be it by the compiler or humans (although I'm not so sure here).

I can see how this check could be desirable, so I'm

[2016-05-20 05:09] rrrene commented on #79
Yep, that is the goal for 0.4.0 ([partially related discussion](https://github.com/rrrene/credo/issues/74)) - if you want to give it a shot, please branch from `release-0.4.0` :heart: :purple_heart: :green_heart: :yellow_heart: :blue_heart:

[2016-05-20 06:00] rrrene opened #80 "Make `mix credo check.new` take an argument for filename"
We can create new checks with `mix credo check.new`. But [as you can see in this file](https://github.com/rrrene/credo/blob/release-0.4.0/lib/credo/cli/command/check_new.ex#L8) the filename for the new check is still hardcoded.

**Task:** Let's take the first element of `args` (which are the arguments passed to the command from the command line) and use it as a filename. Print an error and usage e

[2016-05-20 06:08] rrrene commented on #65
@fishcakez The check is now deprecated in `v0.4.0-beta1`. Thx again for discussing this with me! :+1:

[2016-05-20 06:59] ijunaidfarooq commented on #65
[code]
as per credo on this def its giving me the Refactorting Opportunites

[code]
as why three times?

[2016-05-20 07:01] rrrene commented on #65
That's not good. I will have to check!

[2016-05-20 07:05] ijunaidfarooq commented on #65
![selection_031](https://cloud.githubusercontent.com/assets/13561999/15419919/e6af8010-1e82-11e6-9641-dfb13ebc5f5d.png)

for your more convenience! this is what happened.
what I did was `mix credo web/validations/cloud_recording.ex`
and its said `Checking 3 source files ...`

[2016-05-20 07:15] rrrene commented on #65
o_O damn. Seems to be a deeper issue not strictly related to CaseTrivialMatches.

[2016-05-20 07:21] ijunaidfarooq commented on #65
Also what's with the duplicate code found at `defmodule EvercamMedia.Validation.CloudRecording do` O_o ?

FYI. am very beginner to this!

[2016-05-20 14:45] stevelove commented on #78
`ParenthesesInCondition` seems like a reasonable name to me. I hope to get started on this soon.

[2016-05-20 15:07] michalmuskala commented on #79
I'm sorry I totally missed the other issue. My searching skills failed me.

I'll close this one in favour of the other and work on the implementation in the meantime.

[2016-05-20 15:07] #79 closed

[2016-05-22 07:42] seantanly commented on #44
@rrrene thanks, going with v0.4.0-beta1 and changing the `excluded` configuration as suggested by the commit above fixes the issue.

@dpehrson The following updated config works correctly now. :)

[code]

[2016-05-22 08:58] rrrene commented on #44
@seantanly @dpehrson Just to be clear, you don't have to change your config with `v0.4.0-beta1` since the snippet you provided is now [part of the default config](https://github.com/rrrene/credo/blob/d0b9145f292ac93f8a8eef340cc1aceea50eee76/.credo.exs#L25) :yellow_heart: :+1:

[2016-05-22 15:57] rrrene commented on #65
I'm sorry, but it seems I can not reproduce this:
![image](https://cloud.githubusercontent.com/assets/311914/15454959/961dda0a-2046-11e6-9758-5f98d1a267a0.png)
You are on OS X, right?

[2016-05-22 17:08] #80 closed

[2016-05-23 01:41] ijunaidfarooq commented on #65
Nope.. I am on ubuntu 14.04..
On May 22, 2016 8:57 PM, "René Föhring" <notifications@github.com> wrote:

[2016-05-23 18:02] karmajunkie opened #81 "compilation error on the release-0.4.0 branch"
Compiling the project on the `release-0.4.0` branch, I get the following error:

[code]

The commit this branch is currently on for me is 14b3130171fbb6fdfb398ba234e8d8f5eac578a3.

[2016-05-23 18:15] rrrene commented on #81
hI @karmajunkie,

do you have Credo installed as an archive as well? If you installed it via `mix archive.install` to use it as a standalone script, you have to uninstall it to compile another version of it (Credo that is).

[2016-05-23 20:19] karmajunkie commented on #81
This may be the problem, will check it out and get back to you!

[2016-05-23 21:10] karmajunkie commented on #81
That fixed it, thanks!

[2016-05-23 21:10] #81 closed

[2016-05-23 21:18] rrrene commented on #81
No problem :+1:

If find anything, do not hesitate to open an issue. This project thrives on feedback from the community :grin:

[2016-05-24 00:41] mikestok opened #82 "Should `?(` be exempt from the space after ( consistency check?"
I have a piece of code which processes a character list counting up when it meets a `(` and counting down when it meets a `)`.  In the following code the second line gets a consistency comment: `There is no whitespace around parentheses/brackets most of the time, but here there is.`

[code]

I think that in this case the `(` shouldn't be considered as an opening parenthesis as `?(` is a cleaner al

[2016-05-24 12:05] rrrene commented on #82
Absolutely a bug. Will have a look at it tonight! Thx for reporting! :+1:

[2016-05-24 16:50] myronmarston opened #83 "`mix credo` crashes when `@def` module attribute present"
I just ran `mix credo` on my project (trying it out for the first time) and it crashed:

[code]

The source of the problem was an `@def` module attribute:

[code]

As it turns out, this was intended to be `@doc` (whoops!) so I guess Credo's crash helped identify the problem :).  But Credo should probably not crash due to the presence of particular module attributes.

[2016-05-24 17:38] rrrene commented on #83
Mmmh, that's definitely a bug! Thanks for reporting, will fix! :+1:

[2016-05-24 17:53] rrrene commented on #83
So it turns out Credo crashes when you define module attributes named `def`, `defp` or `defmacro`.

The reason for this is that we match on `{:def, meta, arguments}` inside a module's AST to find calls to the `def` macro (which defines functions, obviously).

If we define a `@def "This is a string"` module attribute we get the following AST

    {:@, [line: 1], [{:def, [line: 1], ["This is a strin

[2016-05-24 18:19] philipgiuliani commented on #79
Cool that you work on that @michalmuskala ! :)

[2016-05-24 18:33] myronmarston opened #84 "Credo runs really slowly on my project"
We've got a pretty large umbrella project (with 41 sub-apps), and I'm considering adding credo to the project and using a particular strict configuration (for the rules we care most about) as part of our travis CI build process.  However, it's running reaaaaally slow:

[code]

That's nearly 7 minutes.  Our Travis build currently has a few matrix entries that each run in the 2-4 minute range, so I'

[2016-05-24 20:05] rrrene commented on #84
This is a valid concern (and true: Credo is not fast, yet), but I haven't gotten around to address this (mostly due to time constraints).

A couple of thoughts:

1. The slowest checks are the consistency checks. You can use `mix credo --ignore Consistency` to exclude all of those on CI (a quick run on Phoenix shows a decrease from 17 to 4 seconds).
2. We do not cache anything. I could imagine ther

[2016-05-24 21:06] myronmarston commented on #84
`--ignore Consistency` is a great tip -- it dropped it down to about 2 seconds.  IOW, including consistency checks in my project makes credo about 20x slower!

Is the slow nature of the Consistency checks due to the need to infer the established style in the project in existing code?  I really like the consistency checks (in fact, it's one of the main reasons I'm trying credo: on our project we've

[2016-05-26 06:37] almasakchabayev opened #85 "deps folder gets linted in umbrella project"
Hi I have installed credo from master into the root of an umbrella app. When running `mix credo --ignore Consistency` it linted
`3640 mods/funs, found 1081 warnings, 563 refactoring opportunities, 261 code readability issues, 88 software design suggestions.`

most of which look like
`apps/typi/deps/postgrex/lib/postgrex/extensions/numeric.ex:103:50 (Postgrex.Extensions.Numeric.decode_numeric)`

[2016-05-26 12:51] rrrene commented on #85
Hi Almas,

this will be fixed in `v0.4.0`.

Could you re-try with Credo `0.4.0-beta2` to see if it works for you?

[2016-05-26 13:39] almasakchabayev commented on #85
It did work thanks :)

[2016-05-26 13:39] #85 closed

[2016-05-27 20:43] rrrene commented on #84
Precisely. I'm sure there is some potential here, since my approach was a bit pragmatic.

Huh, I will have to think about that. The point is in some cases we could possibly use regexes instead of the elixir_tokenizer if Credo knows what you want.

I just released `0.4.0-beta3` which should give a significant (albeit not sufficient, don't get your hopes up ^^) speed boost. I did this by parallelizi

[2016-05-28 19:50] rrrene commented on #82
@mikestok `0.4.0-beta3` should solve this problem. could you check? :shipit:

[2016-05-29 02:08] mikestok commented on #82
`0.4.0-beta3` works for me :-) Thanks.

[2016-05-29 06:06] #82 closed

[2016-05-29 18:02] note89 opened #89 "exclude whole modules ?"
Hi I'm running phoenix and credo complaints on auto-generated modules. Would be nice to add a `@lint false` to the whole module without haveing to make a config.

[2016-05-29 19:52] rrrene commented on #89
First off: That is the coolest GitHub avatar I've seen in a long time! :grin:

`0.4.0` will include several changes which exclude most of the issues Credo finds in freshly generated Phoenix codebases. I will notify you in this thread once the final version is released! :+1:

Nevertheless, a `@modulelint` tag is worth thinking about (the only counter-argument being that it would be nicer if we woul

[2016-05-31 05:42] myronmarston commented on #84
I gave 0.4.0-beta3 a try and now I get a timeout:

[code]

[2016-05-31 06:15] rrrene commented on #84
I upped the timeout limit from 30 seconds to 10 minutes. `0.4.0-beta4` contains a fix.

[2016-05-31 06:54] myronmarston commented on #84
I gave `0.4.0-beta4` a try but it doesn't seem to help:

[code]

If anything, that's slower :(.

[2016-05-31 15:31] barruumrex opened #93 "Clean up Elixir 1.3 compile warnings"
Elixir v1.3.0-rc.0 has a new compiler feature that warns when variables are bound within a conditional statement. While Credo doesn't appear to have any actual unsafe variable bindings, it does regularly rebind variables inside conditionals. This causes the compiler to vomit uncontrollably.

In order to be polite to end users, we should clean up these warnings.

[2016-05-31 15:32] barruumrex commented on #93
First pass attempt at cleaning up the warnings is here https://github.com/rrrene/credo/pull/94.

I need to make a second pass and add in some tests to make sure some of the larger refactorings didn't accidentally change anything.

[2016-05-31 18:36] andrewtimberlake opened #95 "Incorrectly reporting on large numbers within a range"
When running `mix credo -a` against

[code]

Credo suggests using an underscore for large numbers.

[code]

I have uploaded a test repo at https://github.com/andrewtimberlake/credo_test
The file being checked is https://github.com/andrewtimberlake/credo_test/blob/master/lib/credo_test.ex

[2016-05-31 19:33] barruumrex commented on #93
Rebased off of release-0.4.0 https://github.com/rrrene/credo/pull/96

[2016-05-31 20:20] aerosol opened #97 "Bunt missing when using standalone"
Hi,

I am trying to use Credo as stand alone.

[code]

Where do I go from here?

[2016-06-01 07:06] rrrene commented on #93
Great. I reverted/refactored small parts of your PR. The CLI refactoring did indeed miss the cases where a CLI switch should supply a value rather than `true/false`. However, I liked the idea to transform the CLI config in a "Plug like" fashion. I decided to convert the Keyword list we get from `OptionParser` to a `Map` so we can more easily pattern match against the provided switches.

Overall, I

[2016-06-01 15:19] barruumrex commented on #93
Yeah. I got a little too clever with that portion of the code. I like what you changed it to. Very clean and readable.

[2016-06-01 15:19] #93 closed

[2016-06-01 15:51] rrrene commented on #97
Try to install `bunt` as an archive as well. That should probably work (I hope).

[2016-06-02 13:37] rrrene commented on #95
Hi Andrew,

this was fixed and will be part of `v0.4.0`! Thanks for reporting the issue! :+1:

[2016-06-03 00:00] carakan commented on #97
I had the same error when I'm trying to install as standalone, one solution is install blunt also as standalone, I made some instructions in my pronto gem integration https://github.com/carakan/pronto-credo#configuring-runner

[2016-06-03 00:06] carakan opened #100 "'mix archive.build' task fails on release-0.4.0 branch"
I was trying to install as standalone using this branch and I get this error:
[code]
Master branch compiles fine, but this brach doesn't have latest changes, could you fix this error?

[2016-06-03 06:00] rrrene commented on #97
@carakan Cool, there is a part in my README where we try to explain it, but yours seems easier to understand.

If you'd send a pull request for Credo's README with the added instructions, I would gladly accept it. :+1:

[2016-06-03 07:09] rrrene commented on #100
It seems like you have Credo already installed as an archive. Just delete the installed archive version before compiling the new version.

[2016-06-03 14:08] KronicDeth opened #101 "(Some) Duplicate code messages are missing line numbers"
Some (but not all) duplicate code messages are missing line numbers, so I can't find how to fix it.  An example:

[code]

[2016-06-03 14:11] ramonsnir opened #102 "Misinterpretation of pattern matches"
The easiest example of this is:

`var!(foo) = 4` which complains that `Assigned variable `var!` has same name as the `Kernel.var!` macro.`

[2016-06-03 16:08] carakan commented on #100
that was the problem, Thanks

[2016-06-03 16:09] #100 closed

[2016-06-03 18:28] KronicDeth opened #103 "@lint {Credo.Check.Design.DuplicatedCode, false} doesn't work on ExUnit setup blocks"
Using `@lint {Credo.Check.Design.DuplicatedCode, false}` does not disable the warning for `setup` blocks for ExUnit like

[code]

I may be using the `@lint` wrong and knowing that is fine, or `@lint` may not be expected to work on anything besides literal `def` functions, which is fine too I just need to know that.

[2016-06-03 19:01] rrrene commented on #102
Thx for reporting! :+1:

[2016-06-03 19:06] rrrene commented on #103
This came up multiple times during ElixirConf.EU. It unfortunately is the current behaviour, but we all want that to change :grin:

As in, it would be good if `@lint` worked on macros besides the `def`, `defp` and `defmacro` macros, which are the only ones currently supported.

Related issue: #73

[2016-06-03 19:08] KronicDeth commented on #103
Is there any way to now or any plans to allow turning off a rule for an entire file?  I use credo on my `lib` `web`, and `test`, but for instance of `Credo.Check.Design.DuplicatedCode`, I'll want to disable it for tests (since it can't be disabled for `setup`), but I still want to call out duplication in `lib` and `web`

[2016-06-03 19:09] rrrene commented on #101
That's odd. Will look into it.

A bit offtopic: I wonder if I want to deprecate the duplicate code detection. To be honest, on driving factor in implementing it was to see if I could get it working :sweat_smile: Now I am not so sure if this check might do more harm than good. Do you have any thoughts on this?

Even more offtopic: Are you coming to ElixirConf in Florida?

[2016-06-03 19:12] rrrene commented on #103
I was thinking about supporting some kind of syntax in the checks config to control which rules run on which files, but then I decided against even tinkering since this would lead to a lot of unnecessary complexity in Credo.

I would much prefer making the idiomatic `@lint` work as expected.

[2016-06-03 19:27] KronicDeth commented on #101
I think duplicate code detection is good, but it has marked duplicates for patterns in parameters that I just can't make simpler without using a macro to hide the pattern like:

[code]

Another place that triggered duplicate code detection was

[code]

I eliminated the `with` by changing it to use Enum.reduce_while and just passing the Client module names, which was good

[code]

But that form, wi

[2016-06-03 19:52] KronicDeth commented on #101
I tried running `mix credo --only duplicated --verbose` and there is no source shown for the message without line numbers either.

[2016-06-03 20:16] rrrene commented on #101
That line number bug seems to [originate in this case](https://github.com/rrrene/credo/blob/4643aba5a68cd57c56318b2c3e7a768005a1d096/lib/credo/check/design/duplicated_code.ex#L202). I can reproduce this, stay tuned.

Great, so we will meet in Disney World! :D Put in two proposals as well!

[2016-06-04 19:13] PragTob opened #104 "Wrong warning? integer / 1 "Operation will always return the left side of the expression.""
In my project credo complains:

[code]

The offending function is:

[code]

Which is the only way I found to convert an integer to a float (couldn't find `to_float` or anything in stdlib.) E.g. I need to be sure to have a float when I hand it to `:io_lib.format/2`. Also it doesn't return the left side, the left side as a float. So I guess I'm not doing anything wrong here, or am I?

I use 4.0-beta

[2016-06-04 20:49] rrrene commented on #104
I would use the following (not sure if it is the idiomatic way):

    defp to_float(maybe_integer) do
      {float, _rest} = maybe_integer |> to_string  |> Float.parse
      float
    end

This way `value` can be a binary, an integer or a float and you always get a float. Only downside of this implemenation is that you have to be sure one of these conditions applies. If you want to error-check the

[2016-06-04 21:01] rrrene commented on #101
Forgot the example configuration for copy-n-paste convinience:

        {Credo.Check.Design.DuplicatedCode, excluded_macros: [:setup, :test]},

[2016-06-04 21:05] rrrene commented on #73
Just released `v0.4.0-beta5`.

Some notable changes to the duplicate code detection:

- The minimal mass was increased from 16 to 40 (an unscientific study of elixir codebases yielded a mean of 30 with a stddev of 20 in reported DuplicatedCode issues, so I followed my gut in picking 40)
- `@lint` should now work on macros.
- You can now additionally configure DuplicatedCode with a `excluded_macros

[2016-06-05 01:39] KronicDeth commented on #101
I still get the missing line numbers:

[code]

Here's my `.credo.exs` in case it's not right for 0.4.X

[code]

[2016-06-05 01:43] KronicDeth commented on #101
`{Credo.Check.Design.DuplicatedCode, excluded_macros: [:setup, :test]},` eliminated all outstanding duplicate code errors, so the line-less errors are coming from a setup or test

[2016-06-05 01:45] KronicDeth commented on #101
Noticed that it looks like it is reporting duplicate messages:

[code]

Is this due to different message sorting and formatting?

[2016-06-05 05:52] PragTob commented on #104
yeah found that interesting in Elixir as well, apparently `/` always results in a float otherwise you gotta do `Kernel.div/2`.

Your approach is interesting, but for me it'll never be a binary (it comes straight out of a statistics calculation module) + parsing something that I already had seems weird.

Thanks for the work and the reply!

[2016-06-05 17:42] Qqwy opened #108 "Consistency Check Idea: Pattern-match assignment on the left vs right"
Sparked by [this discussion on the ElixirForum](http://elixirforum.com/t/refactor-a-pattern-match/778/8), whose end result is something along the lines of 'it is a case of personal preference' I thought that it would be interesting to have a consistency check.

To summarize:

[code]

is a valid function definition.

And so is

[code]

Some people find the first example clearer to read(the pattern

[2016-06-05 18:05] rrrene commented on #108
This is a very good idea.

Coincidentally I was reading through the Ecto source one or two nights ago and thinking the same thing! :+1:

[2016-06-07 10:14] #101 closed

[2016-06-07 10:49] remiprev opened #110 "FunctionClauseError when running `mix credo.gen.check` and `mix credo.gen.config` "
I just upgraded to `credo-0.4.0` and I get an error when I run the two new `mix` commands:

[code]

Is there something I’m missing?

[2016-06-07 11:53] rrrene commented on #110
Embarrasing. Please try Credo `v0.4.1`! :cold_sweat:

[2016-06-07 12:01] remiprev commented on #110
Yep, all working now! I’m going to close the issue. Thanks! 😄

[2016-06-07 12:01] #110 closed

[2016-06-11 07:25] ramonsnir opened #113 "0.4 not reading .credo.exs correctly?"
I upgraded credo from 0.3.x to 0.4.x, and suddenly all the warnings/etc. I customized and tuned are back to their default settings.

The file is still there, but for some reason is ignored.

Upgraded by changing mix.exs to reference `~> 0.4` and running `mix deps.update --all`, then running again `mix credo --list`.

[2016-06-11 08:28] Ramblurr commented on #15
Are there any plans to implement 'fixing" of format errors/warning? I'd normally call that a code formatter, but we're already using that term here.

[2016-06-11 08:38] ramonsnir commented on #113
Whoops!

[2016-06-11 08:38] #113 closed

[2016-06-11 10:04] rrrene commented on #15
I guess you mean something like auto-correct?

I am not completely against it, but I also think that one might become pandora's box if we tackle it too soon. Pretty sure this would be a post-1.0 item ...

Any thoughts on this?

[2016-06-11 10:10] rrrene commented on #113
No problem! Never hesitate to open an issue! :+1:

I just released `v0.4.2` because I missed #112 so if you find something there is a high probability that I overlooked something and it's a valid issue. :grin:

[2016-06-11 10:18] ramonsnir commented on #113
Yep, that's a better comment :smile:

[2016-06-14 10:40] moccos opened #114 "quoted parentheses/brackets in heredocs"
When heredocs contain quoted brackets:

    s = ~s"""
    "[ ]"
    """

credo 0.4.3 checks this string.

    ┃ [C] ↗ There is no whitespace around parentheses/brackets most of the time, but here there is.
    ┃
    ┃           "[ ]"

[2016-06-14 11:22] rrrene commented on #114
Uh, yeah, that's a bug. Thx for reporting! :+1:

[2016-06-14 11:24] #73 closed

[2016-06-16 18:27] Tuxified commented on #15
At "0.3.0" a Formatter API is mentioned. I'm asking because I'd like to add Credo to CodeClimate engines, for which it needs JSON output.

[2016-06-16 19:50] dpehrson commented on #84
If it would solve this issue, I would wholeheartedly support changing the consistency checks to not infer and decide which form is correct but rather be explicitly told. "This project uses 2 spaces"

The speed issues with credo are sadly piling up fast and it's almost entirely due to consistency checks. The worst part is, the consistency checks are some of the checks I want most.

[2016-06-16 20:07] rrrene commented on #15
We do not have JSON output yet. There is also no real idea of a Formatter API I have to admit. I will have to update this issue. Thx for reporting! :+1:

P.S.: There is, I think, already a CodeClimate Engine which supports Dogma and Credo. Read something about it on the Twitter, but I have not followed that project.

[2016-06-17 04:35] acconrad opened #116 "Argument error in latest stable version"
I upgraded from 0.1.9 to 0.4.3 and received this error when trying to run `mix credo` or `mix credo list` in the root folder of my Phoenix project:

[code]

[2016-06-17 08:09] rrrene commented on #116
So, the error is emitted by Hex. Do you have the newest Hex version installed? Run `mix local.hex` to ensure. If the error persists, we have to dig further.

Thx for reporting! :+1:

[2016-06-17 20:30] kbaird opened #117 "Provide name of failed check"
Hi. I had a failure of `Credo.Check.Readability.LargeNumbers`, with the error report of

[code]

Note that it tells me `only_greater_than` is an available option for the check, but not the name of the actual check itself, which is `Credo.Check.Readability.LargeNumbers`. I was able to determine that by searching the github repo, but it seems like something that should be in the error report.

The m

[2016-06-18 07:08] rrrene commented on #117
This is a *very* good point and so obvious in hindsight. Completely missed that!

Thx Kevin! :+1:

[2016-06-18 16:40] kbaird commented on #117
Thank you. Forest for the trees, etc.

[2016-06-19 21:04] stevelove commented on #78
I finally found some time to take [a stab at implementing this here](https://github.com/stevelove/credo/commit/5637fa76402925c723683cc075c16edaaab889cf).

A few notes and questions:

- I know Credo has been updated since this issue was opened, but I still branched from `release-0.4.0` just in case. Should I use a different branch now?
- You mentioned putting the new check in Readability, but I fou

[2016-06-19 21:13] rrrene commented on #78
Great :)

* The new edge branch is now `master`. I think it was a bad idea on my part to use special release branches in this project. So from now on `master` will be the right branch. always.
* Adding the test in `Refactor` was an error. Please move the test and check to the `Readability` namespace.
* Using `to_tokens` is exactly right! :+1:

Also, let's change the Issue message to

Thanks for ta

[2016-06-19 21:45] stevelove commented on #78
I use Credo every day, so I'm glad to help out. 😄

[2016-06-20 10:25] #78 closed

[2016-06-20 12:24] requnix commented on #104
I have this same issue. In my code I have a value that is always an integer and I need it to be converted to a float for which I'm using `value / 1` which seems to be the Elixir way.

This shows up as a warning, which is kind of annoying. I definitely don't want to add binary processing and defensive programming to get rid of a warning.

[2016-06-20 16:30] #74 closed

[2016-06-20 16:30] #104 closed

[2016-06-20 16:31] rrrene commented on #104
`v0.4.5` changes the behaviour. After re-reading the source of `Elixir.Float` if had to agree that this check does more harm than good :+1:

[2016-06-20 16:32] philipgiuliani commented on #74
Woho, awesome! :)

[2016-06-20 16:35] rrrene commented on #74
`v0.4.5` is live and contains this fix.

[2016-06-20 16:35] rrrene commented on #117
`v0.4.5` contains a fix:

![image](https://cloud.githubusercontent.com/assets/311914/16202392/c1858310-3715-11e6-9ee2-f93c0afa51fa.png)

[2016-06-20 16:35] #117 closed

[2016-06-20 16:57] net commented on #74
Yay!

[2016-06-21 14:16] joerixaop commented on #104
`:erlang.float/1` works and is perhaps clearer in showing the intent.

[2016-06-21 14:31] rrrene commented on #104
@joerixaop thx for sharing!

If anyone in this discussion is interested: http://erlang.org/doc/man/erlang.html#float-1

In mind this would probably be the "BEAM way" to do it. :grin:

[2016-06-21 18:16] PragTob commented on #104
seems to be the better way to do it, didn't know - thanks.

[2016-06-23 16:49] sgtpepper43 opened #120 "Possibly ignore @spec on line length checks"
There's currently on option to ignore function definitions when checking line length, and I think `@spec` kind of goes along with a function definition, and there should maybe be an option to ignore those as well. That might be a terrible practice though, I have no idea.

As a side note, I noticed there's also an option to ignore line length for strings, though that hasn't been implemented yet. Ar

[2016-06-24 11:31] rrrene commented on #120
:+1: I agree that should be an option.

Re: ignoring strings - please create a separate issue to pressure me into implementing it :wink:

[2016-06-24 18:36] sgtpepper43 opened #122 "Implement the ignore_strings option for line length checks"
The code to ignore strings when checking line length is currently unimplemented. This is just a gentle reminder from #120

[2016-06-28 21:28] #120 closed

[2016-06-29 12:02] p-kraszewski commented on #95
Still happens:
[code]
is reported.

Credo 0.4.5 @ Elixir 1.3.0 @ Erlang 19.0 @ Ubuntu 16.04

[2016-06-29 14:22] rrrene commented on #95
Crap.

[2016-06-29 15:19] rrrene commented on #95
And by "Crap." I mean: Thx for reporting this :wink:

[2016-06-29 18:40] p-kraszewski commented on #95
Yes, of course, I got the right idea already on your 1st answer.
I'll drop here a minimal (non)working example tomorrow.

[2016-07-04 02:49] stelcheck opened #123 "unquote is misinterpreted within quote"
[code]

It seems like credo misses the fact that the name of the function is dynamically generated.

[2016-07-04 07:23] rrrene commented on #123
Uh. That's look a bug :sweat_smile: Thx for reporting!

[2016-07-05 01:33] stelcheck commented on #123
My pleasure. Let me know if I can provide you with additional information, can do Slack as well if needed.

P.S. Credo is pretty damn awesome :)

[2016-07-05 10:00] rrrene commented on #102
@ramonsnir could you check if this is still a problem with the current version?

[2016-07-05 10:03] rrrene commented on #123
Could you provide a complete code snippet which triggers this? I tried to reproduce this, but my first attempts weren't successful ...

[2016-07-07 20:28] aweiker commented on #95
I just ran across this issue with 0.4.5 when using this format.
[code]

[2016-07-11 04:53] ramonsnir commented on #102
Resolved! (sorry, was abroad)

[2016-07-11 13:05] #102 closed

[2016-07-11 13:08] rrrene commented on #123
*push*

[2016-07-12 02:53] stelcheck commented on #123
Sorry for the delay.

I just upgraded credo, and everything seems fine now... apologies for wasting your time.

For reference, here is the function that previously caused an issue:

[code]

[2016-07-12 02:53] #123 closed

[2016-07-12 05:24] rrrene commented on #123
Don't ever say that when it comes to bug-reporting. While I do believe in TDD, actual user testing in the wild is the oxygen of useful software.

Thx for taking the time to write the bug report and never hesitate to write another! :+1:

[2016-07-18 18:30] noddy693 opened #131 "@lint attribute does not work for functions defined inside a quote"
For example, in the following purposely nested code:

[code]

the lint attribute produces no effect and the following warning is produced:

[code]

[2016-07-18 18:51] barruumrex commented on #95
Ran into this issue in 0.4.6 with `Checking 1 source file ...

  BridgeApi
┃
┃   [R] Category: readability
┃    ↗  Priority: medium
┃
┃       Large numbers should be written with underscores: 10_000
┃       lib/bridge_api.ex:11:63 (BridgeApi.start)
┃
┃    __ CODE IN QUESTION
┃
┃     9
┃    10     #Install core-api dependencies
┃    11     :fuse.install(:core_api, {{:standard, 3, 10_000}, {:reset,

[2016-07-19 09:11] rrrene commented on #131
Part of the problem is that `Credo.Check.Refactor.Nesting` should not complain about this in the first place. :sweat:

Thx for reporting! :+1:

[2016-07-19 09:12] rrrene commented on #95
@barruumrex which Elixir version are you using?

[2016-07-19 09:18] noddy693 commented on #131
Even so, this code was engineered just to produce a warning and then show the warning wouldn't go away when the lint attribute was used. I've had the same thing happening on a legit warning in my code.

[2016-07-19 13:04] barruumrex commented on #95
Oh. Of course.
Elixir: 1.3.1
Erlang: 18.3
Operating System: osx

[2016-07-19 15:58] rrrene commented on #95
If its no trouble, could you test with Elixir `1.3.2`? We deployed a fix in Credo `0.4.6` which unfortunately needs info the tokenizer only provides starting with `1.3.2` ...

[2016-07-19 16:04] barruumrex commented on #95
Yeah. Bumping up to 1.3.2 fixes it. Thanks.

[2016-07-22 22:22] kennyballou opened #133 "Disable AliasUsage Checks in `@spec`"
Correct me if I'm wrong, but my understanding of dialyzer is that it does not understand Elixir's aliasing, therefore, `@spec` lines should not be expected to use aliases.

I've created a sample test case that I was planning to use for a pull request, but I don't yet have the time for solving how to ignore aliases in specs:

[code]

I believe where I'm fumbling with this problem is that by the tim

[2016-07-23 15:10] rrrene commented on #133
:+1: Thx for reporting!

[2016-07-23 19:34] #133 closed

[2016-07-23 19:34] rrrene commented on #133
`v0.4.7` contains the fix. Thx again!

[2016-07-25 14:17] kennyballou commented on #133
Thanks for the quick fix! I'll let you know if I see anything else. :+1:

[2016-07-28 17:50] cpjolicoeur commented on #95
We are using elixir 1.3.2 and credo 0.4.7 and we still see this issue.  Numbers such as `500_000` and `2_000_000` are tripping the `Large numbers should be written with underscores` readability rule when they shouldn't be since they already have underscores.

[2016-07-29 09:45] rrrene commented on #95
@cpjolicoeur I tested with a naive range (`500_000..2_000_000`) and it di not yield an issue. Could you provide a code snippet I can add to the test suite?

[2016-07-29 09:53] #83 closed

[2016-07-29 13:04] cpjolicoeur commented on #95
@rrrene Sorry, mine is slightly different and not a range, just plain numbers.  But here is a snippet.

[code]

[2016-07-29 13:21] rrrene commented on #95
Hi, re-reading your bug report, I'm not sure why I assumed a range. Too much (or too little) coffee, I guess ;-)

The test is breaking now, so I will work on a fix :+1:

[2016-08-01 18:45] austinsmorris opened #135 "No error reported for line length or todo"
No errors are reported for this file:

[code]

It seems like there should be...

[2016-08-02 14:26] sircharleswatson opened #136 "Let me white-list functions for the RawValue check"
The use case is that we're using RethinkDB and every update/insert/query command has to be started with getting the actual table first. so we have something like:

[code]

the suggested way to fix it is either:
[code]

or:

[code]

But, arguably, the first snippet is cleaner and much easier to read

[2016-08-03 13:14] rrrene commented on #135
Function definitions are excluded from the line length check by default.

You can include them by using

[code]

Hope this helps!

[2016-08-03 14:35] austinsmorris opened #138 "suggestion - make TODO check case-insensitive"
Hi,

I noticed that` # TODO - blah blah blah` will throw an error, but `# todo - blah blah blah` will not.  Can the TODO check be case insensitive?

[2016-08-03 14:35] austinsmorris commented on #135
That did it, thanks!

[2016-08-03 14:36] austinsmorris commented on #135
Also, I created #138, about the todo check...

[2016-08-03 14:36] #135 closed

[2016-08-04 10:28] Sbfrr opened #139 "Getting issues as return value from the task."
Hi,

Thanks for your great work.
I'm trying to setup a unit test that basically runs credo and fails if an issue is returned from it.
Basically I'm just running the task programmatically with:

[code]

and trying to expect something out of the return value. However looking at the code of `lib/credo/cli.ex`:

[code]

it seems that the call to `halt_if_failed` makes the Erlang runtime system stop wh

[2016-08-04 10:39] rrrene commented on #138
:+1: I am currently swamped at my dayjob, but if you want to try your hand at this: PRs are always welcome!

[2016-08-04 11:34] rrrene commented on #139
A Mix task is by definition a command line interface (and `Credo.CLI` is one as well :wink:).

What you most likely want to do is run Credo programmatically. Here is an example where people have done just that: https://github.com/inaka/credo_server/blob/4ad92e6db0c2f0a9b4f307fe291387e3bac0e1fa/lib/credo_webhook.ex#L34

Does that answer your (very well described :+1:) problem?

[2016-08-04 12:02] Sbfrr commented on #139
Thanks a lot, that's exactly what I was looking for 👍

[2016-08-04 12:02] #139 closed

[2016-08-05 18:29] adamkittelson opened #143 "PipeChainStart with put_in/update_in etc"
I wanted start a discussion on an aspect of the PipeChainStart rule that I'm not sure I agree with.

The rule raises a `Pipe chain should start with a raw value.` warning on things like:

[code]

I think that refactoring that to

[code]

is somewhat confusing in that at a glance it looks like we're looking up the value returned by `users["john"][:age]` and piping it to put_in which isn't what's ha

[2016-08-05 22:28] hamiltop commented on #136
I'll chime in from the `RethinkDB` library perspective:

A ReQL pipeline is not a transformation of a string into data. Doing `"users" |> table` is indeed distracting and counter to the intent of the library. The subject of the query pipeline is `table("users")` and leading off with that is much clearer.

[2016-08-06 07:11] #138 closed

[2016-08-07 14:32] #95 closed

[2016-08-07 14:32] #136 closed

[2016-08-07 14:33] rrrene commented on #143
This will be fixed in the next version (see commit reference above).

[2016-08-07 14:33] rrrene commented on #136
This will be fixed in the next version (see commit reference above).

[2016-08-07 16:04] AndrewDryga opened #144 "- in macros are treated as operations"
This code produces Consistency errors, but there are no operations in it:

[code]

Result:

[code]

[2016-08-07 16:05] adamkittelson commented on #143
Perfect, thanks!

[2016-08-07 16:05] #143 closed

[2016-08-07 16:59] AndrewDryga opened #145 "False positive on large numbers"
https://travis-ci.org/Nebo15/bsoneach/jobs/150446288#L553
but it's already written correctly
https://github.com/Nebo15/bsoneach/blob/master/lib/bson/utils.ex#L32

[2016-08-08 10:12] rrrene commented on #144
Thx for reporting! :+1:

[2016-08-08 11:44] rrrene commented on #145
I just released Credo v0.4.8, which should fix this. Could you take a look?

[2016-08-08 11:44] rrrene commented on #143
Credo `v0.4.8` was just released and contains the fix.

[2016-08-08 11:45] rrrene commented on #136
Credo `v0.4.8` was just released and contains the fix.

[2016-08-08 11:45] rrrene commented on #76
Credo `v0.4.8` was just released and contains the fix. Big thanks to @DavydenkovM :+1:

[2016-08-08 11:45] #76 closed

[2016-08-08 11:47] AndrewDryga commented on #145
Everything is ok now, thanks! 👍

[2016-08-08 11:47] #145 closed

[2016-08-08 18:13] cpjolicoeur opened #146 "Cond Statements"
[In `Credo.Check.Refactor.CondStatements` the style guide suggests](https://github.com/rrrene/credo/blob/master/lib/credo/check/refactor/cond_statements.ex) that each `cond` statement should have 3 or more clauses including the `true` clause, otherwise an `if...else` construct shoudl be used.

I'm curious the reasoning behind this style refactor suggestion?  In Elixir, `if` and `unless` are just m

[2016-08-08 21:02] rrrene commented on #146
The idea is that your code will be easier to comprehend for many coders starting with Elixir.

But, to be honest, there is nothing wrong with writing

[code]

I just think that it is "more maintainable" if written as

[code]

as more programmers coming from other languages won't have to think about the connotations.

But you are - as a matter of fact - giving a solid argument for not using this ch

[2016-08-08 21:06] cpjolicoeur commented on #146
I see.  Makes sense as a gentle introduction to engineers coming into Elixir from other languages as a matter of familiarity.   My perspective was purely from knowing it's implementation under the hood.

Thanks

[2016-08-08 21:22] rrrene commented on #146
Just an afterthought: Implemenations change. Not too long ago the `if` macro tranformed into a `case` statement. Back then people argued to write `case` instead of `if` since it would be more explicit. Other, even more functional people argue that we should model control-flow solely via functions and pattern matching.

I would like to consider myself somewhere in between: Due to the nice macros, w

[2016-08-08 21:22] #146 closed

[2016-08-12 15:00] rawsyntax opened #149 "Large numbers should be written with underscores"
I ran into this problem when setting timeout configuration in HTTPoison.

This check has a problem when multiple large numbers are on the same line:

[code]

Generates two warnings:
[code]

Whereas:

[code]

Does not generate a warning

[2016-08-13 16:01] rrrene commented on #149
Hi, what's your Elixir, Erlang and Credo version?

[2016-08-14 22:28] rawsyntax commented on #149
[code]

credo is 0.4.8

[2016-08-15 07:39] rrrene commented on #149
The problem should go away with Elixir 1.3.2 - do you have the option to upgrade?

[2016-08-15 13:51] rawsyntax commented on #149
Yes that's good enough for me

[2016-08-15 13:51] #149 closed

[2016-08-18 22:45] lucas-nelson opened #150 "`no function clause matching in Credo.Sources.find/1` error"
Followed the instructions in the README under 'Using Credo as stand alone'. I have a directory with a `.exs` file in it. It seems no matter what arguments I provide on the command-line, I get:

[code]

This is using the tip of master (98cfdb089cb434d457cbf9ef6ac8be19a43f3d89). When I use the v0.4.8 tag, it works fine.

[2016-08-19 11:25] raventid opened #151 "Multi alias/import/require/use recommendation"
Should Credo recommend user to use multi alias in appropriate situation? I suppose it should have configurable option for this somewhere.

[code]

[2016-08-19 22:30] squaresurf opened #152 "Is there a way to use credo with syntastic?"
I just have question in the title about whether or not there is a way to configure [syntastic](https://github.com/scrooloose/syntastic) to use credo in order to lint my elixir as I write it.

[2016-08-19 23:49] aaronjensen commented on #103
@rrrene eslint has a great way of handling this--subdirectories can have their own `.eslintrc` and it gets merged into the parent directory. This means we can ignore specific rules for test directories and the like. It'd be nice if credo had this as I'd like to be able to credo my test directory but there are too many things that I'd want to ignore. Ignoring them manually is tedious.

[2016-08-19 23:53] KronicDeth commented on #103
I don't think a directory level config file is a good solution in Elixir.  Elixir has the Mix.Config syntax and the predefined location for files per environment.  Don't fight that convention.

[2016-08-20 00:39] aaronjensen commented on #103
In that case then we could just have the credo.exs return a list of configurations. Since it's just elixir you can build your configurations as you want including/excluding what you want. It's unclear what it would do if two configurations matched--it may merge them or pick the first.

[2016-08-20 12:16] rrrene commented on #150
Thx for reporting!

[2016-08-20 16:17] rrrene commented on #103
@aaronjensen You can have most of what you ask by adding a special config to your `credo.exs`:

[code]

This would disable all Readability checks when you run `mix credo --config-name=my_test_config`.

[2016-08-20 16:23] rrrene commented on #150
@lucas-nelson Could you re-check with the current master?

[2016-08-21 14:50] rrrene commented on #152
Not that I know of, but take this with a large grain of salt, as I am not a vim user.

[2016-08-21 14:52] rrrene commented on #151
Good catch. :+1:

This should probably be a consistency check rather than a strict rule.

[2016-08-21 17:38] raventid commented on #151
@rrrene, I'm interested in credo source code, so I'd like to work on this. Don't mind?

[2016-08-21 20:54] lucas-nelson commented on #150
Works-for-me now. Thank you!

[2016-08-22 10:48] rrrene commented on #116
@acconrad any news on this?

[2016-08-22 15:18] acconrad commented on #116
I will upgrade tonight and get back to you, thanks for following up!

[2016-08-22 18:01] squaresurf commented on #152
Do you have integration with the text editor you use? For example, credo running on files as they are saved, then highlighting the lines that need improvement. If you do have it integrated with your editor, then what editor do you use?

[2016-08-22 18:47] rrrene commented on #151
Absolutely. Just be warned that consistency checks aren't the easiest to start with. If you have any questions, do not hesitate to ask them here! :+1:

[2016-08-22 18:53] rrrene commented on #152
I have not, but I have integrations with Emacs and Atom editor. I am pretty sure people are using Credo with Vim.

Let's see if people will comment here with more information.

[2016-08-22 19:09] OvermindDL1 commented on #152
I'm not currently using credo with vim (actually using more atom than vim lately, this surprises me, but credo works fantastic with atom), but it should not be hard to add, basically just alter/copy https://github.com/scrooloose/syntastic/blob/master/syntax_checkers/elixir/elixir.vim to add credo to its checking (if exists), then PR it into syntastic so everyone could use it instead of just using

[2016-08-22 19:21] nburkley commented on #152
While it's not syntastic, it looks like it's you can use it in neovim through neomake https://github.com/neomake/neomake/blob/master/autoload/neomake/makers/ft/elixir.vim#L18

[2016-08-22 23:21] squaresurf commented on #152
Thank you all for your comments. I'll see if I can get some time soon to contribute a PR to syntastic.

[2016-08-23 18:55] jessejanderson commented on #150
I'm running into this issue with just `mix credo`.

tried 0.4, 0.4.1, and 0.4.8 but they all seem to have the same issue.

[2016-08-23 18:57] britto commented on #150
@jessejanderson It's been fixed on master.

[2016-08-23 18:58] jessejanderson commented on #150
Sorry to clarify, not running standalone but including in my project.

[2016-08-23 18:59] jessejanderson commented on #150
Added `{:credo, "~> 0.4.8", only: [:dev, :test]},` to my list of deps.

[2016-08-23 19:02] britto commented on #150
@jessejanderson It seems the archived version will take precedence over de dependency one. Could you check you `mix archive` to see if `credo-0.4.8` is installed?

[2016-08-23 20:00] jessejanderson commented on #150
`mix archive` does show `credo-0.4.8` installed.

[2016-08-23 22:11] britto commented on #150
@jessejanderson That's it. The README intructs to checkout and build an archive based on master. So the archive installed displays as `0.4.8`, but it was actually built from a broken revision, ahead of `0.4.8`. In order to fix that, you'll need to either update your archive installation:

[code]

Or uninstall your archive, to use the version declared in your deps:

[code]

[2016-08-23 22:12] rrrene commented on #150
@jessejanderson I will release an update shortly!

[2016-08-23 22:24] rrrene commented on #150
@jessejanderson Could you test with `v0.4.9`?

[2016-08-23 22:28] jessejanderson commented on #150
Hmm, if I `mix deps.update credo` after changing to 0.4.9 is correctly show 0.4.9, but if I try `mix archive` it lists it as 0.4.8 still.

When I try `mix credo` I'm getting the same error message plus a warning to upgrade to 0.4.9.

[2016-08-23 22:32] jessejanderson commented on #150
@britto oops, just saw your message. I don't have a credo clone, I'm just using it in a project.

[2016-08-24 04:39] jessejanderson commented on #150
Installed credo locally and followed @britto 's instructions above and got it working. Thanks!

[2016-08-24 06:24] rrrene commented on #150
@jessejanderson Sorry, had to sleep :D

I seems the problem is that you can't have, say, Credo `v0.4.8` installed as a Mix archive and use `v0.4.9` as a dep on a project. I always run into this when I "test install" install Credo as an archive and then try to compile the master branch later.

So if you type `mix archive` and you see

[code]

there now, just `mix archive uninstall credo-0.4.9` to s

[2016-08-24 17:47] richardtylee opened #158 "Check all public functions have @doc"
Is there a check for all public functions to have @doc ?

[2016-08-24 22:06] rrrene commented on #158
No, not yet. I have another project [InchEx](https://github.com/rrrene/inch_ex), which does documentation analysis. Contrary to Credo, this tool needs the project to be compiled to load the generated documentation.

My personal plan for this feature was to wait until Credo gets a plugin system (which will happen after v1.0) and then write an InchEx plugin for Credo.

*However*, I would merge a PR

[2016-08-25 20:49] austinsmorris opened #160 "Credo 0.4.9 blows up with a list of excluded files."
I have an umbrella app.  In my `/config/.credo.exs` file, I have defined some excluded files like so:

[code]

When I run `mix credo` it blows up with the following error:

[code]

The problem looks to be in `Credo.Sources` here:

[code]

`files` is a list, not a `MapSet`, so `MapSet.difference/2` gets mad...

[2016-08-25 20:54] austinsmorris commented on #160
Sorry, I submitted before I sanitized the error and provided additional info.  The description should be good now...

[2016-08-25 21:04] paulbardack opened #161 "Credo 0.4.9 ignore excluded files"
My config is like:
[code]

Credo check fails because of excluded file, but with Credo 0.4.8 everything is okay

[2016-08-25 21:14] britto commented on #160
@austinsmorris

1. Could you provide the exact value of your `excluded` key in your credo config? is there anything listed which is not a binary or a regex?
2. Are you running credo as a dependency from your mixfile or as standalone?

[2016-08-25 21:21] britto commented on #160
@austinsmorris Nevermind! I could reproduce the bug locally, it happens when we have regexes **followed by** binaries in our exclusion patterns.

Thanks for reporting. I'm working on a fix 👍

For now, you can work around this bug by leaving all regexes at the end of the list.

[2016-08-26 06:09] rrrene commented on #161
@britto is working on a fix for this. Please refer to #160 :+1:

@britto This example does only include binaries, which might contradict your theory about regexes and their position being the culprit. Any ideas?

[2016-08-26 13:42] #160 closed

[2016-08-26 13:43] rrrene commented on #160
@austinsmorris Could try testing with `0.4.10-dev`?
@britto Could you review my patch: https://github.com/rrrene/credo/commit/aa475d237bef989cc8d4e5ce26fcf37bd2f48011

[2016-08-26 13:44] rrrene commented on #161
This should be fixed.

@paulbardack Could you try testing with `0.4.10-dev`?

[2016-08-26 13:46] paulbardack commented on #161
I'll try

[2016-08-26 13:47] austinsmorris commented on #160
@rrrene, have you pushed that branch/tag up yet?  I don't see it...

[2016-08-26 13:51] rrrene commented on #160
It's a version on hex.pm: https://hex.pm/packages/credo

[2016-08-26 13:51] rrrene commented on #160
Just use "0.4.10-dev" for `:credo` instead of say "~> 0.4" in your `mix.exs`.

[2016-08-26 13:52] paulbardack commented on #161
I set to mix.exs
``` {:credo, "0.4.10-dev", only: [:dev, :test]} ```
Than run
```mix deps.get```
mix.lock now
[code]
And still failed
[code]

[2016-08-26 13:54] austinsmorris commented on #160
@rrrene, @britto,  got it!  It works!

[2016-08-26 13:57] rrrene commented on #160
Just published `0.4.10`. Thx for reporting the bug!

[2016-08-26 16:06] britto commented on #160
@rrrene Thanks! Sorry for the delay, got caught up with work last night.

Yes, that patch will fix the problem, however it breaks Elixir 1.1 compatibility. I'll post my solution soon in another PR.

[2016-08-31 08:06] TBK145 opened #163 "If-statements in combination with the pipe operator"
Credo gives a message about the if condition not needing parentheses when it is piped into. Eg:
[code]
Will output:
[code]
While in this case the parentheses are needed, and there is no condition.

[2016-09-04 23:28] #163 closed

[2016-09-04 23:29] rrrene commented on #163
I was in the Us for ElixirConf these last days and have done a poor job of responding to issues.

This is now fixed and will be released in a new version in the coming days. Thx for reporting! :+1:

[2016-09-08 14:32] calebshay opened #164 "False positive with grouped logic in if statement"
When using parentheses to group logic in an if statement, I get a false positive regarding using parentheses.

[code]

[2016-09-08 21:02] aaronjensen opened #165 "Don't enforce @moduledoc requirement modules declared within Test modules"
The Executable.ControllerTest.ExampleCommand module is for testing only and shouldn't need a moduledoc

[code]

[2016-09-09 08:11] rrrene commented on #165
Fair enough. :+1: :grin:

[2016-09-09 14:37] rrrene commented on #164
Ouch, that sure looks like a bug! :+1:

[2016-09-10 06:34] PragTob opened #166 "Don't print "showing priority issues" if there are no issues"
[code]

Talking about the last bit with the arrows, I don't think it's needed when there are no issues (although the hint to `--strict` is still good to have).

Of course, fairly low priority :D
Tobi

[2016-09-10 20:07] rrrene commented on #166
That's a good point! :+1:

[2016-09-11 07:49] ToadJamb commented on #161
I am seeing this on 0.4.11...

I was playing around with a blacklisting approach:
[code]

This also does not work:
[code]

Both of these fail due to evaluating dependencies that should be excluded.

[2016-09-11 08:58] ToadJamb opened #168 "is there a way to specify `strict` in a config?"
I have tinkered around and perused the source, but I'm not seeing a way to set `strict` in a config. It makes sense to me that any command line parameters should be configurable in a config. Is this possible currently? I also tried elevating the priority on the low priority checks, to no avail.

[2016-09-11 20:49] rrrene commented on #168
Good catch! :+1:

[2016-09-12 02:30] ToadJamb commented on #168
I'm willing to attempt this, but I don't have a lot of time and I just started tinkering with elixir this weekend, so it may not happen quickly.

[2016-09-12 03:39] ToadJamb opened #169 "not all long lines are reported"
I have the following line in a file:

[code]

I am running Credo in strict mode with line lengths set to 80. This line is 92 characters, but does not get reported. If I comment it out, it does get reported.

[2016-09-12 07:52] rrrene commented on #169
Use `{Credo.Check.Readability.MaxLineLength, ignore_definitions: false, ignore_specs: false},` in your `.credo.exs`.

That way, definitions and `@spec` attributes will be reported as well!

[2016-09-12 07:52] #169 closed

[2016-09-12 16:27] ToadJamb commented on #169
I don't have time to tinker with this now, but I will later. Those feel like they should be default settings if you have line length turned on. Or if you don't agree, then maybe set them explicitly to true in the generated `.credo.exs`. I looked at that file. If those settings had been set to true there, I would have tried switching them to false before opening an issue.

[2016-09-14 06:28] #165 closed

[2016-09-14 07:10] radik909 commented on #27
Can anyone create a plugin for sublime as well?

[2016-09-16 19:32] mayppong opened #171 "Failing ABC test on simple but large map"
Hi there,

I couldn't find any ticket on this so hopefully it hasn't been documented somewhere. I am running into a suggestiong for "too complex" report even though the method isn't all that complex aside from the fact that it's really simple. Here is the output from `credo`.

[code]
And here is the offending function.
[code]

Does any one have suggestions for working around this? I'd like to not

[2016-09-16 19:35] rrrene commented on #171
This looks like a bug in Credo. Thx for reporting! :+1:

[2016-09-19 10:35] hazardfn opened #172 "Mix claims there is a new version of credo but tagged code finishes at 0.4.10"
A new Credo version is available (0.4.11), please update with `mix deps.update credo`...

[2016-09-19 11:26] rrrene commented on #172
I forgot to push the tag, sorry. How are you depending on Credo? I am asking because `0.4.11` has been on Hex for a while now: https://hex.pm/packages/credo/0.4.11

[2016-09-19 11:47] hazardfn commented on #172
Yeah we have seen the warning for some time just thought to ask here now.

We use credo as part of our CI - we use docker images to test on which build credo from source and run mix archive.build and install.

I think we originally did it this way so we could mirror repos in our private git and skip external dependencies such as hex and github.

We are experimenting with creating our own internal

[2016-09-19 12:15] rrrene commented on #172
Ah, cool! :+1: As I explained, I forgot to push the last release, which is now fixed and was an oversight on my part!

[2016-09-19 12:15] #172 closed

[2016-09-23 04:43] KronicDeth opened #173 "function_name used for Stream.repeatedly includes argument"
I was trying to ignore `Stream.repeatedly` for `Credo.Check.Refactor.PipeChainStart` and I couldn't get it to work, so I added some print debugging and discovered the `function_name` includes the argument:

[code]

The `if` is the modification to the source.  The output:

[code]

From this test:

[code]

[2016-09-23 18:13] KronicDeth opened #174 "Ability to ignore length of @typedoc (or any @*doc) to support wide markdown tables"
I have a transition table in Markdown table format in a `@typedoc`.  It exceeds the normal `max_length: 120` I have setup for `Credo.Check.Readability.MaxLineLength`, but I can't use @lint because @lint doesn't attach to `@typedoc` or `defmodule`, so I'm left with ignoring the whole module.

[2016-09-26 08:53] rrrene commented on #174
Good point! Maybe we want an option for `MaxLineLength` to ignore lines matching a user-defined regex?

[2016-09-27 03:39] lucas-nelson commented on #173
I think the problem is at https://github.com/rrrene/credo/blob/2eb1094c37976dc855154d930d73c0d42d78cfeb/lib/credo/check/refactor/pipe_chain_start.ex#L68
[code]
The regex needs to include newlines in your case. I think the fix is:
[code]
Adding the `s` modifier on the regex (*dotall*, see http://elixir-lang.org/docs/v1.3/elixir/Regex.html#module-modifiers) makes the `.` in the pattern include newli

[2016-09-28 09:41] sriedel opened #176 "Consistency check: let SpaceInParenthesis allow empty params without space"
It would be nice to allow things like %{} or def my_fun( [] ) even if the rest of the code uses spaces within parenthesis. This should only be allowed if an opening paren is followed by its corresponding closing paren.

I had a naive stab at implementing this by extending the create_issue? function for the (assumed) triggers "{}", "[]", "()", but this doesn't seem to be correct. If you could give

[2016-09-28 10:56] #173 closed

[2016-09-28 11:41] rrrene commented on #173
@KronicDeth Thx for reporting!

@lucas-nelson Thx! That was the fix! :+1:

[2016-09-28 19:27] jclem opened #177 "Inline @lint has strange behavior depending on code after it"
[code]

Will still show a warning for line length. However, this won't:

[code]

[2016-09-29 20:23] rrrene commented on #177
That's strange indeed. Will try to investigate over the weekend. Thx for reporting! :+1:

[2016-09-29 20:52] jclem commented on #177
Thanks, you're welcome!

[2016-10-01 13:04] eksperimental commented on #61
I think I missed your previous comment,
I think `[ ]` and `{ }` are fine to have the rule, parentesis are a special case as I cannot think a case where you would use a comma at the end.

[2016-10-03 09:46] #164 closed

[2016-10-03 19:34] olafura opened #180 "Not possible to turn of Alias"
I'm using an absolute path in a macro because I can't control what is aliased in the module the function is placed into so I tried turning doing
@lint {Credo.Check.Design.AliasUsage, false}
in a couple of different places as well as trying to turn it off globally. We are using --strict, but the funny thing if I have these blocks on Alias explain stops telling me anything so it is working in some r

[2016-10-04 00:57] robertpeacock22 opened #181 "@lint rule exception does not disable checks on constants"
Given a constant defined using a module attribute and annotated with a lint exception, the associated check is still performed and reported.

[code]

`[R] ↗ Large numbers should be written with underscores: 1_000_000`

[2016-10-05 08:19] rrrene commented on #180
FYI: `@lint`, much like `@doc`, only works on functions. There are no plans to change this behaviour.

Could you post an excerpt of your code? The fact that global disabling doesn't work worries me.

[2016-10-05 08:22] rrrene commented on #181
`@lint`, much like `@doc`, only works on functions. Unfortunately, there are no plans to change this behaviour.

There was a discussion about adding a `@modulelint` attribute to exclude a check for a whole module. But I am not sure that would in this case, either 😞

[2016-10-05 14:42] robertpeacock22 commented on #181
Darn. Thanks @rrrene!

[2016-10-05 14:42] #181 closed

[2016-10-07 11:41] TBK145 opened #182 "Incorrect warning when using pipe in capture."
When a piping sequence starts with a capture like &1, mix credo wrongfully reports that a piping chain should start with a raw value.
[code]
[code]

[2016-10-07 21:08] sstern6 commented on #171
@rrrene looking into this and trying to provide a fix.  Need a little guidance on execution though.  Looks like the reason it is throwing an error is because the value in the key value pair is being counted too many times.  ie,  if you change `street_number: address.street_number` to `street_number: address` for all values, then the rule passes.  So it seems like there is something wrong with the

[2016-10-07 23:39] squaresurf commented on #152
I wrote a syntastic checker for credo. It appears to be a bit of work to finish and may not make it in after all of my work either. We'll see. I may end up using another tool in the end such as neomake.

https://github.com/scrooloose/syntastic/pull/1891

[2016-10-08 05:15] squaresurf commented on #152
I've decided to go with neomake for now as it works quite well. For future visitors, it should be noted that neomake works with vim and neovim.

[2016-10-08 05:15] #152 closed

[2016-10-11 04:01] #171 closed

[2016-10-11 04:05] rrrene commented on #182
Thx for reporting this. I added a test reproducing the error :+1:

[2016-10-11 04:11] rrrene commented on #152
@squaresurf Just a note: From scrooloose/syntastic#1891 I get that you did not use the output of `mix credo --format=flycheck`. That one should be easier to parse (just for future reference). :+1:

[2016-10-11 05:39] squaresurf commented on #152
I chose to go with `--format=oneline` so that I could parse the priority rather than the category. If `--format=flycheck` had the priority I would have used it :smile:

[2016-10-11 16:45] sstern6 commented on #166
@rrrene I believe this has been resolved and can be closed?

[2016-10-11 17:39] sstern6 commented on #182
@rrrene See your tests, about to make 2 PR's, one for `&`, the other for `++` just to keep things separate.  If I need to go deeper for any reason we can hash that out on the PR.  However, it simply seems like an atom representation of `&` and `++` need to be included here:

https://github.com/rrrene/credo/blob/master/lib/credo/check/refactor/pipe_chain_start.ex#L34

Thanks for including the tests

[2016-10-11 19:59] sstern6 commented on #168
@ToadJamb any progress on this?

[2016-10-11 21:48] sstern6 commented on #108
@rrrene would like to help take this on if thats ok.  I saw you self assigned but then put the tag `help wanted`.  Are you open to additional collaborators for this?

Thanks

[2016-10-12 07:24] pinx opened #187 "Double negative"
You have a great sense of humor:
"If/else blocks should not have a negated condition in `if`."
May I propose:
"If/else blocks should have a positive condition in `if`."

[2016-10-13 06:31] rrrene commented on #187
I was not sure if a "negated condition" is the same thing as a "negative condition" and therefore I was hesitant to call a "not negated conditions" a "positive" one ...

I am not a native speaker, therefore I am not entirely sure those expressions mean strictly the same thing (honestly, please correct me if I am wrong). :+1:

[2016-10-13 06:50] #182 closed

[2016-10-13 07:58] pinx commented on #187
I'm not a native speaker, either. I checked a few linters. You could rephrase to "Avoid negated conditions in if-else blocks".

[2016-10-13 13:50] andrewtimberlake opened #191 "Bug in NameRedeclarationByDef"
When running Credo on a specific file I get the following error

[code]

I have tried to figure it out but I’m not exactly sure where the problem is.
I have a module `AccountTransaction.Type` which implements a macro `cost` which returns a constant `1`
The file that the check raises the above error I have code similar to:

[code]

There are no methods in the failing module that are named `type` or

[2016-10-13 15:34] rrrene commented on #166
Not sure. If we [look at the current implementation](https://github.com/rrrene/credo/blob/61b4690d0418594a67afe1fed6e8f0198761a405/lib/credo/cli/output/summary.ex#L47), I think we have to accomodate a case where we found no issues, but are not running in `--strict` mode (meaning `min_priority >= 0`).

In these cases we should just display

    Use `--strict` to show all issues, `--help` for option

[2016-10-13 17:21] sstern6 commented on #166
@rrrene very much so agree, working on a PR now for the use case you just described.  If theres any changes that need to be made we can hash those out on the PR!

To confirm the use case:

`if the user does NOT have errors AND they are not running in --strict mode, show them , "Use `--strict` to show all issues, `--help` for options`"`?

THANKS

[2016-10-14 20:37] sstern6 commented on #58
@rrrene I believe we can close this because the readme has specific instructions of how to build and install bunt when cloning.

Thoughts

[2016-10-14 20:59] sstern6 commented on #191
@andrewtimberlake I was unable to reproduce the bug.  I pasted the code you provided into a file locally, and ran `mix credo filename.ex` with `{Credo.Check.Warning.NameRedeclarationByDef}` enabled in my config file.

Can you please paste in your full file, config, and version of credo you are currently using?

Thank you

cc @rrrene

[2016-10-16 08:15] NobbZ opened #194 "Better support in umbrella projects"
Currently the bahviour is, that credo just steps into `apps/` and analyzes all files recursively.

This causes, that I do need to exclude my `priv`-folder via a regular expression in the settings and my testfolder as well.

So it seems that in a standalone application we do whitelisting the folders which needs to get checked, and credo will ignore everything else, while in an umbrella project this

[2016-10-16 15:06] #187 closed

[2016-10-16 15:06] rrrene commented on #187
:+1: thx!

[2016-10-16 15:19] #166 closed

[2016-10-16 15:40] rrrene commented on #191
@andrewtimberlake Thx for reporting this. 👍
@sstern6 Thx for jumping in! 😬

I am currently on vacation (and a spotty wifi). Will be back next weekend!

[2016-10-16 15:43] rrrene commented on #194
This is indeed a problem, thx for bringing it up. I am currently on vacation (and a spotty wifi). Will be back next weekend.

btw: Aren't you from (around) Hamburg? Will we get a chance to meet at the November meeting?

[2016-10-16 15:44] rrrene commented on #58
@sstern6 You are right.

[2016-10-16 15:44] #58 closed

[2016-10-16 16:59] NobbZ commented on #194
Take your time! Maybe I can find some time to spare and take a look at it myself.

And yes, I am from around Hamburg and I got OKs from my wife and my son, but my unborn may veto 👶

[2016-10-17 20:25] sstern6 commented on #108
@rrrene Should have a PR open for this in the next day or so.

[2016-10-18 13:51] vptheron commented on #161
I've seen the same behavior with the latest 0.4.12.  No matter what I use in `excluded`, regex, full path, folder name, etc, credo still ignores this property and analyzes all the files.

[2016-10-18 19:52] sstern6 commented on #114
@moccos thank you for the report.  Was able to reproduce with up to date version of `credo`.

@rrrene saw you self assigned, I am currently looking into it and have the capacity to get this out.

Are you ok with that?

[2016-10-19 10:25] #161 closed

[2016-10-19 10:32] rrrene commented on #161
@vptheron Thx for the heads up :+1:
@ToadJamb sorry for missing your comment last month 😢

Could you point your project to use `master` with `{:credo, github: "rrrene/credo"}` and retry? I just pushed a fix.

[2016-10-19 10:35] #114 closed

[2016-10-19 10:46] paulbardack commented on #161
It works! 👍 Thanks!

[2016-10-19 17:59] sstern6 commented on #144
Hey @AndrewDryga I am having trouble reproducing this, might have been fixed in a PR being merged recently?

Can you please post your configuration file?

I am assuming you are using `{Credo.Check.Consistency.SpaceAroundOperators}` to check the consistency, which would be throwing the errors?  Anything else you might be checking for that may be conflicting and causing this problem.

Though, @rrren

[2016-10-19 18:50] AndrewDryga commented on #144
You can take a look at whole project (it's open source): https://github.com/Nebo15/bsoneach/blob/master/config/.credo.exs

[2016-10-19 21:50] sstern6 commented on #144
Thanks @AndrewDryga and youre still getting the errors with the newest version of credo correct?

[2016-10-19 22:02] sstern6 commented on #144
Thanks, i cloned the repo and I am seeing the errors in binary_utils.ex, will look into this and see if i can figure it out

[2016-10-19 22:14] svoynow commented on #144
Is there going to be any principled way to distinguish between these "non operator" uses of `-` and regular uses?

[2016-10-21 09:57] rrrene commented on #144
@svoynow I am afraid there is currently no convenient way to distinguish the two in all cases. We will have to work on that!

[2016-10-24 21:19] sstern6 opened #199 "SpaceAroundOperator Rule does not trigger when expressions are not assigned to a variable"
Credo Version: 0.4.12

Given the example:

[code]

The rule does not fire unless one of the two lines is assigned to a variable.  Can you confirm this is intended functionality.  Though seems like a bug to me.

Ex when rule fires:

[code]

[2016-10-24 21:33] sstern6 opened #200 "Repo Issue Organization Proposal/Discussion"
@rrrene I personally think it would be valuable for the project as more and more people continue to use credo and file issues to have a format of required information when submitting an issue.  We can document this on the main README.

To name a few things I think would be important: credo version, mix version???, elixir version???, hex version??, what you expected to happen, what actually happene

[2016-10-25 07:04] rrrene commented on #200
Agreed. I provided an `ISSUE_TEMPLATE.md` which we can modify to prefill new issues: https://github.com/rrrene/credo/issues/new

[2016-10-25 14:58] sstern6 commented on #200
Looks great!

Thanks @rrrene

[2016-10-25 18:21] NobbZ commented on #200
There is a Github feature which copies the content of a certain file into
the text box of a new issue, this would be much better than just a
paragraph in the read me. But I do remember how this file was called. But
afair elixir does use this feature.

Scott Stern <notifications@github.com> schrieb am Mo., 24. Okt. 2016 23:33:

[2016-10-26 07:17] rrrene commented on #200
Oops, forgot to close this.

@NobbZ Yep, it's already done. See my comment above. ;-)

[2016-10-26 07:17] #200 closed

[2016-10-26 08:03] rrrene commented on #199
This is a bug 👍

[2016-10-26 12:58] roryqueue commented on #144
I'm guessing this is already obvious by now, but this incorrect flagging isn't specific to macros. I had it come up for e.g. the following function pattern matching a binary:

[code]

[2016-10-26 14:33] andrewtimberlake opened #201 "Bug in regex"
Running credo (0.4.13, Elixir 1.3.3) against [https://github.com/andrewtimberlake/elixir-pdf] I get the following error,

[code]

[2016-10-26 15:07] rrrene commented on #201
Thx for reporting!

[2016-10-26 15:26] svoynow commented on #144
Yeah, this is a funny one. Obviously the compiler can disambiguate these, but must use more context. The consistency check is using the :elixir_tokenizer which tokenizes `foo-bar` and `foo - bar` the same way, as two identifiers and an operator. The only difference is in the offsets.
So I guess some later compiler pass must figure out that that's wrong....
I wonder if there's any way to fix this w

[2016-10-26 17:21] svoynow opened #202 "Default .credo.exs file from library always loaded / used?"
Elixir 1.3.2
Credo 0.4.12

For Credo development purposes I'm trying to run credo with a very stripped down config (i.e. only a couple of checks). I was seeing some weird behavior (unwanted checks running), so I poked around in the config code.

It looks to me like the .credo.exs that comes with the library (the intended purpose of which is just to be a template for the gen.config task, I believe)

[2016-10-26 18:26] roehst opened #203 "Proposal: plugins for library-specific checks & analysis"
Hi, I think it would be really good if credo supported some kind of plugin system where contributors could declare suggestions & opportunities specific to a library. For example, what if we had a plugin that could check phoenix projects for refactoring opportunities? I am learning Phoenix right now and I would be glad to contribute with lessons I learn.

Thanks

[2016-10-27 08:15] rrrene commented on #202
Nope. :grin:

The intended purpose is twofold: it is the template for the gen.config task, but it is also the default config into which your local config is merged. You can have several `.credo.exs` files in the file tree up until your home dir. Those and the default config will then be merged recursively.

What you want to do is deactivate undesired checks using `false` as second tuple-element. T

[2016-10-27 09:25] rrrene commented on #203
A plugin system is definitely planned! We'll ship Credo 1.0 first and then this is one of the top items (caching results for faster analysis being another one) :+1:

[2016-10-27 12:21] asummers opened #205 "Proposal: Missing @spec check for functions"
Rationale: We love dialyzer. Being able to have our linter yell at us when we don't provide `@spec` annotations would be awesome. They serve as function documentation, as well as helping Dialyzer do its job better. Additionally, I think this rule would serve as amazing documentation on how one might check that all functions have a certain annotation (say Ecto with `@primary_key` and `@fields` or s

[2016-10-27 12:27] NobbZ commented on #205
At least the `@doc`-part is covered by [rrrene/inch_ex](https://github.com/rrrene/inch_ex) pretty well I think, but for the `@spec`-part of your proposal you get a very fat 👍. I was going to write just such a proposal ;)

[2016-10-27 13:35] rrrene commented on #205
So basically require `@spec` on all functions?

[2016-10-27 14:00] asummers commented on #205
Yep! Once that machinery is in place, there are more interesting things one can do like enforce consistency on use of parentheses after `map` or `atom` or use or `℅Struct{}` vs `Struct.t`, though I don't know if mainline Credo necessarily wants to be in the business of checking those.

[2016-10-27 15:41] asummers commented on #205
Yep! Once that machinery is in place, there are more interesting things one
can do like enforce consistency on use of parentheses after map or atom or
use or ℅Struct{} vs Struct.t, though I don't know if mainline Credo
necessarily wants to be in the business of checking those.

On Thu, Oct 27, 2016, 8:35 AM René Föhring <notifications@github.com> wrote:

[2016-10-27 16:56] svoynow commented on #202
Got it.
I still think this is mildly surprising.
I agree that it is good that there's a default so that there's always some config even if the user doesn't do anything.
Maybe the least surprising thing would be to only use this default if no config files are found while traversing up from the project? Thoughts?

[2016-10-28 07:30] rrrene commented on #202
I originally designed it the way you suggest. The behaviour was intentionally *changed* to this in `v0.4.0` after two insightful discussions (one [related discussion](https://github.com/rrrene/credo/issues/59), can't find the other one).

It basically comes down to: If you want to tweak a small number of checks to your liking, the new behaviour is preferable, because you do not have to know all ch

[2016-10-28 10:23] SamuelMV commented on #191
Hello, I think we have the same issue (with Credo 0.4.13):

[code]

We started having the same error in Credo when we added a module with constants (using this [gist](https://gist.github.com/smpallen99/9995893) that uses macros):

[code]

If you need more information, please, tell me.

Thank you

[2016-10-28 14:18] olafura opened #208 "Non alphanumeric variable names"
We are using ... as a variable name in a macro parameter and I think it doesn't make sense that it would be stopped for not being snake case. I added a no_case check.

[2016-10-28 16:01] svoynow commented on #202
Yes, that makes sense.

[2016-10-28 16:01] #202 closed

[2016-10-28 17:33] davydog187 opened #210 "Credo crashes with hex 0.14.0 due to using Hex.Utils.ensure_registry!/0"
### Precheck

* For proposing a new feature, be sure to name your issue "Proposal: ..."
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 0.4.13
* Erlang/Elixir version (`elixir -v`): 1.3.3
* Operating system: OSx El Capitan

### What where you trying to do?
Updated local.hex to 0.14.0, which breaks credo b

[2016-10-28 17:40] davydog187 commented on #210
Looks like it was removed in this PR https://github.com/hexpm/hex/pull/300/files

It appears credo is relying on an undocumented API that it should not be.

[2016-10-28 18:04] roehst commented on #210
Just happened to me.

** (UndefinedFunctionError) function Hex.Utils.ensure_registry!/0 is undefined or private
(hex) Hex.Utils.ensure_registry!()
lib/credo/check_for_updates.ex:4: Credo.CheckForUpdates.run/0
lib/credo/cli.ex:92: Credo.CLI.run/1
lib/credo/cli.ex:58: Credo.CLI.main/1
(mix) lib/mix/task.ex:296: Mix.Task.run_task/3
(mix) lib/mix/cli.ex:58: Mix.CLI.run_task/2

[2016-10-28 18:10] davydog187 commented on #210
@roehst to revert back, `mix archive.install https://repo.hex.pm/installs/1.3.0/hex-0.13.2.ez`, FYI

[2016-10-28 18:10] roehst commented on #210
@davydog187 tks a lot u just got my ass saved

[2016-10-28 18:17] davydog187 commented on #210
It looks like you can disable it in your credo config as well: https://github.com/rrrene/credo/blob/2c51773767fb4438403c4a6fac7422bbeba99c51/.credo.exs#L32

[2016-10-28 21:30] rrrene commented on #210
@davydog187 @roehst Fixed in `0.5.0` - sorry this happened! 😭

[2016-10-28 21:30] #210 closed

[2016-10-28 21:31] matteosister commented on #210
@rrrene awesome thanks!

[2016-10-28 22:58] sstern6 commented on #191
Thanks for the additional information @SamuelMV.  Will look into it and let you know if i have any more questions.  I think i might have an idea of what is going on, but not entirely sure 😄 !

[2016-10-29 07:52] rrrene commented on #210
FYI: Credo `v0.5.1` now implements the Hex API lookup using an Erlang term media type, which means this won't happen in the future. Using Hex's private APIs was a bad idea to begin with.

I also released  `0.4.14`  for all those depending on `~> 0.4.0`, so their builds should heal without the need to update Credo. :+1:

[2016-10-29 18:31] novaugust opened #211 "Bug: Large Number Readability for two large floats on one line crashes credo"
### Environment
- Credo version (`mix credo -v`): 0.5.1
- Erlang/Elixir version (`elixir -v`): 1.3.0
- Operating system: macOS 10.12

### What went boom?

There's a pattern match error in credo that causes credo to throw up

[code]

**My code:** `50_000.0 + (:rand.normal * 10_000.0)`
**[Credo's boom code (number readability line 83](https://github.com/rrrene/credo/blob/master/lib/credo/check/reada

[2016-10-29 18:38] novaugust commented on #211
### Failing test

[code]

[2016-10-29 22:15] wafcio opened #212 "Cannot run credo mix task"
### Precheck

I have just updated hex to 0.14.0 version (I don't remember which one I had previously). I am not able to run mix task successfully.

### Environment

* Credo version (`mix credo -v`): 0.4.13
* Erlang/Elixir version (`elixir -v`):
[code]
* Operating system: macOS Sierra 10.12

### What are you trying to do?

I try to run ```$ mix credo```

### Expected outcome

Run code analysis

###

[2016-10-29 22:32] wafcio commented on #212
I have updated credo to 0.5.1 and problem disappeared.

[2016-10-29 22:32] #212 closed

[2016-10-30 20:58] Eiji7 opened #213 "Bug: Credo missing hex function after upgrading to latest versions"
### Environment
- Credo version (`mix credo -v`):
  Not work! Here is fragment of `mix deps` command:

[code]
- Erlang/Elixir version (`elixir -v`):

[code]
- Operating system:

Funtoo Linux (Gentoo based) - Source based distribution with `emerge` package manager (*.ebuild packages). Output of `uname -a` command:

[code]
- I add also output of `mix hex.info` command:

[code]
### What where you try

[2016-10-31 09:51] rrrene commented on #213
Hi, please upgrade Credo with `mix deps.update credo`. Sorry for the trouble! 😞

[2016-10-31 10:26] Eiji7 commented on #213
No problem, thx for fast fix and response! 😄

[2016-10-31 10:27] #213 closed

[2016-10-31 13:28] rrrene commented on #211
Thx! I will release a new version of Credo soon. :+1:

[2016-10-31 16:44] sstern6 commented on #199
@rrrene working on this! Should have a PR open soon.

[2016-10-31 22:29] sstern6 commented on #199
Edit/Update:  Noticed that `3 * 2-3` gets flagged which led me to some discoveries with edge cases like `2+2`, `3 - 2`, '3*2', etc.

Thought about adding logic checking if there was an equal operator in the `line` to `&create_issues?/3` would fix the issue, it does but then it breaks other tests where i didnt account for values such as `@test -1` and 4 other test cases.

Though, I feel like adding

[2016-11-01 16:37] #201 closed

[2016-11-01 16:43] #168 closed

[2016-11-01 16:54] rrrene commented on #208
I did honestly not know that `... = parameter1` is valid Elixir.

Is that macro open sourced somewhere?

[2016-11-01 16:59] rrrene opened #214 "Setting `strict` from Config instead of CLI"
This continues a discussion from #207.

I added a function to manage the (implicit) settings of `strict` mode in eb546b9.

This should make setting `strict` more explicit while keeping the internal consequences more implicit.

Toughts?

/cc @sstern6 @devonestes

[2016-11-01 17:05] olafura commented on #208
Not yet, but it will be maybe early next year. But `... = value` is valid. We are using:
`%{key: [%{key2: value}, ...] = subitem}`

I can make the PR so it's an optional parameter

[2016-11-01 17:33] sstern6 commented on #214
Thanks for continuing the thread @rrrene.

Thanks for reworking this, I like what you've done IMO.

Not sure how much more "isolated", this needs to be with respect to `cli.ex` vs `config.ex` at the moment.

What is concerning to me is the lack of tests for `--strict` and `strict: true`, incase a PR is merged that effects the setting of strict internally, which if released can cause a lot of issue

[2016-11-01 17:38] sstern6 commented on #108
@rrrene after you have confirmed and are content with the implementation, this can be closed(the PR was just merged).

Thanks

[2016-11-01 17:40] sstern6 commented on #150
@rrrene can this be closed?

[2016-11-01 18:40] devonestes commented on #214
Also, the thing that I thought about briefly while working on this feature was the following idea:

So, ideally, we want anything passed as a command line flag to be able to override any settings in `.credo.exs`, right? Well, right now if we have `strict: false` in the config, then we can override that with `--strict`. But what if there's `strict: true` in the config and we want to override that w

[2016-11-02 09:11] sobolevn commented on #210
I have faced some issues with the new release. Here's my configuration:

[code]

Output:

Here's the full source code: https://github.com/sobolevn/ecto_autoslug_field

[2016-11-02 09:38] rrrene commented on #210
@sobolevn this *seems* unrelated to this issue, but I have an idea. Could you create a separate issue? :+1:

[2016-11-02 09:39] sobolevn commented on #210
sure.

[2016-11-02 09:40] rrrene commented on #199
The big question here seems to be: Why does it work when there's the assignment? Understanding what goes wrong now will enable us to make it less fragile tomorrow ;-)

[2016-11-02 09:42] rrrene commented on #116
We had a related again and added a permanent fix. This should not be problem any longer. Thx for reporting! :+1:

[2016-11-02 09:42] #116 closed

[2016-11-02 09:43] sobolevn opened #215 "mix credo raises (FunctionClauseError) no function clause matching in Regex.match?/2"
### Precheck

* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 0.4.14
* Erlang/Elixir version (`elixir -v`):
Erlang/OTP 19 [erts-8.0.2] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace] Elixir 1.3.2
* Operating system: OS X 10.11.6

### What where you trying to do?

I was t

[2016-11-02 09:54] rrrene commented on #150
:+1:

[2016-11-02 09:54] #150 closed

[2016-11-02 09:57] rrrene commented on #208
Okay, got it! Will review the PR.

[2016-11-02 14:14] #208 closed

[2016-11-02 21:45] sstern6 commented on #199
@rrrene understood 😄.  What seems to be the issue is the pattern match against https://github.com/rrrene/credo/blob/master/lib/credo/check/consistency/space_around_operators.ex#L84.

Currently there are 2, one for operators `:+, :-`, if thats not the operator coming in, i.e `:=`, then it defers to the `create_issues?` function that returns true, which creates the issue.

In addition, the way i see

[2016-11-02 21:59] sstern6 commented on #215
Thanks for the issue @sobolevn.

Can you please do me a favor and update credo to `0.5.1` per the latest version on hex: https://hex.pm/packages/credo and try rerunning just in case?

Also, I believe I know what the problem is and should be fixed by this pr, https://github.com/rrrene/credo/pull/204.  Might need to wait for the next minor release.

It seems like in your project, you are running cre

[2016-11-03 09:06] Zert opened #217 "False positive consistency warning"
### Precheck

I see consistency warning `There are spaces around operators most of the time, but not here.` for bit-syntax like this:

[code]

### Environment

* Credo version (`mix credo -v`): `0.5.1`
* Erlang/Elixir version (`elixir -v`): `Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:4:4] [async-threads:10] [hipe] [kernel-poll:false] [dtrace]

Elixir 1.3.4`

* Operating system: macOS Sierra 1

[2016-11-03 17:51] sstern6 commented on #191
@SamuelMV are you still having this issue with the most recent version of credo?

[2016-11-03 18:05] svoynow commented on #217
I think this is the same issue as https://github.com/rrrene/credo/issues/144

[2016-11-03 21:51] sstern6 opened #218 "Bug: get warning about operation evaluating to 0 when operation doesnt equal 0."
### Precheck

* For proposing a new feature, be sure to name your issue "Proposal: ..."
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): `0.5.1`
* Erlang/Elixir version (`elixir -v`): `1.3.2`
* Operating system: Mac OSX

### What where you trying to do?
[code]

### Expected outcome
SpaceAroundOperator erro

[2016-11-04 07:54] rrrene commented on #214
@devonestes :+1: You're right. Implementing `--no-strict` seems to be the logical consequence. Do you want to tackle it?

[2016-11-04 09:18] devonestes commented on #214
@rrrene Sure thing!

[2016-11-04 09:55] andrewtimberlake commented on #191
The bug is still present in Credo 0.5.1
I have managed to reproduce it here: https://github.com/andrewtimberlake/credo_test

[2016-11-04 17:01] sstern6 commented on #191
Thanks @andrewtimberlake will look more into this

[2016-11-04 22:00] #191 closed

[2016-11-04 22:00] rrrene commented on #191
Found it! I plan to release a new version this weekend :+1:

[2016-11-04 22:23] sstern6 commented on #177
Confirmed in latest credo, looking into this!

[2016-11-04 22:49] SamuelMV commented on #191
Sorry about the delay. I just tried with credo 0.5.1 and is still present. This is the output if you need it:

[code]

Thank you again :D

[2016-11-05 15:26] rrrene commented on #191
@SamuelMV Correct. We just fixed the bug. A new version will be released soon! :+1: (see my previous comment)

[2016-11-05 15:57] rrrene commented on #215
Correct. Credo on `master` does not longer fail on `ecto_autoslug_field` :+1:

[2016-11-05 16:03] rrrene commented on #64
This has been added in the meantime. Sorry for the delay!

[2016-11-05 16:03] #64 closed

[2016-11-05 16:04] #97 closed

[2016-11-05 16:56] sobolevn commented on #215
Sorry it took me long. Confirming, that it is working with `master`. But it fails with `~ 0.5`. Logs:

[2016-11-06 10:55] rrrene commented on #215
Perfect. I will do my best to find time tonight (to release a new version). Thx for excellent bug report! It helped a lot :+1:

[2016-11-06 13:12] rrrene opened #219 "Proposal: Add `--no-color` to prevent ANSI coloring of output"
Although Credo's color rich interface is one of its most obvious selling points, it might be beneficial to have an option to supress the ANSI coloring of the results.

[2016-11-06 16:32] NobbZ commented on #219
I wanted to file exactly this issue right now. The ansi stuff makes it hard to mentally parse the output on windows terminals...

[2016-11-07 09:24] rrrene commented on #217
@Zert Thx reporting! @svoynow is right, this is a duplicate.

I will keep this open as a reminder that we really need to fix this. :+1:

[2016-11-07 09:52] Lysholm commented on #51
I see you've released 0.5 recently. Any update on this? If no one's working on it i could take a look.

[2016-11-07 11:26] rrrene commented on #51
Please do. `0.5` was an estimation which did not hold up to reality.

This would be a new check in my opinion, which would check all intendation to be multiples of the base (2 for example). It would have to ignore multi-line strings.

Any other thoughts? /cc @sstern6

[2016-11-07 12:56] Lysholm commented on #51
There's already the consistency check "TabsOrSpaces". I think that could be generalized to check for consistent indentation. What do you think? @rrrene

[2016-11-07 13:29] rrrene commented on #51
The problem with checking for consistent intendation exceeds the responsibility of the `TabsOrSpaces` check in my book. You can absolutely try to integrate it into the existing check, but I'd imagine that to be harder than creating another check for intendation using a fix amount of spaces.

Please also note that you will also probably *not* want to deal to deal with semantically correct indentati

[2016-11-07 16:09] josevalim opened #220 "Restrict to only functions of the same name and zero arity"
The checks done by  `Credo.Check.Warning.NameRedeclarationByDef` and friends can only happen today if the function contains airty of zero and from Elixir v1.4, Elixir will also warn, imposing at the language level that functions and variables only exist in two distinct namespaces.

Therefore, I believe it is counter-productive for Credo to warn on cases where arity != 0 since Elixir, guarantees as

[2016-11-07 16:22] josevalim opened #221 "Suggestion: NeverPipeOnce"
We at the Elixir core team consider a smell to use the pipe just once: `value |> Some.fun`. The pipe was designed to express pipelines and you don't have a pipeline if you have only one call. :) Therefore it would be nice to have a check that guarantees you never pipe only once.

PS: We are adding Credo to Ecto via ebert: https://ebertapp.io/github/elixir-ecto/ecto/reviews/1. It is working quite w

[2016-11-07 16:46] josevalim opened #222 "Suggestion: Do not check for @moduledoc and @doc if the extension is .exs"
Today the moduledoc and doc checks runs on all files except some cases based on the module name. However, instead of checking the module name, I think it would be better if credo disable the warning based on the extension.

In particular, .exs files are never compiled, which means their documentation is never accessible, which means their doc/moduledoc attributes are irrelevant.

If we do such, th

[2016-11-07 17:29] rrrene commented on #220
+1 for this being removed in the future. I would always prefer to have guarantees/warnings provided by the compiler rather than some optional tool (even if the tool was created by myself).

[2016-11-07 17:35] rrrene commented on #222
I am all for the idea of using the file extension :+1: but I do not think we should get rid of the regular expression. The reason is that I do not have a better solution to avoid Phoenix projects triggering issues.

In some cases, like controllers and sockets, I could see an argument for people to document these or at least explicitly not document them via `@moduledoc false`. But I do not want to

[2016-11-07 17:37] rrrene commented on #221
It is a good idea to have a check for this. :+1:

I did not know of this preference by the core team. Just as an anecdote: The "single pipe" helped me alot in the beginning because `list |> Enum.take(5)` almost felt like `list.take(5)` (coming from an OO background).

[2016-11-07 17:43] josevalim commented on #221
That's part of why we believe it is an important check. It helps to keep old habits at home. :)

[2016-11-07 17:44] josevalim commented on #220
@rrrene awesome. So checking only for zero-arity can be a good first-step to phase this out. :)

[2016-11-07 17:45] josevalim commented on #222
Oh, sorry if i was not clear. Yes, we should not get rid of the Regex. It will help clean the Regex though!

[2016-11-07 17:49] rrrene commented on #222
Absolutely!

[2016-11-07 17:49] rrrene commented on #221
Haha, I might just print & frame that. :grin:

[2016-11-07 18:03] sstern6 commented on #219
@rrrene wouldnt mind taking this on, is there a currently implemented switch for Ansi coloring?

Correct me if I am wrong, but isnt this coloring coming from `Bunt`?

Found delegations for Bunt here `defmodule Credo.CLI.Output.UI`.  Could you give me a push in the right direction and Ill get on it.

Thanks

[2016-11-07 18:16] sstern6 commented on #220
@rrrene @josevalim Looking into this if thats alright.

Will let you know if I run into any issues or have any implementation questions.

Sound good?

[2016-11-07 19:05] sstern6 commented on #51
IMO I agree with @rrrene this should be a separate rule, including this into `TabsOrSpaces` will make that rule extremely more complicated and fragile adding this new functionality.

In my experience with working on the indent rule in `eslint`, dealing with indentation gets increasingly more complicated as you keep growing the rules requirements/functionality(dont let this discourage you from work

[2016-11-07 20:17] sstern6 commented on #215
@rrrene saw you bumped to 0.5.2, @sobolevn can you check this works on latest release so we can either close this issue or troubleshoot?

Thanks everyone!

[2016-11-07 21:44] sstern6 commented on #177
@rrrene so ive been looking into this and for both examples provided above, the correct information gets sent to `issue_for` in `max_line_length.ex`, but for some reason when the alias has a name and is below the error isnt outputted, still looking into that.

Another problem IMO:
[code]

When a string is not assigned to a variable, the error is not outputted.

Let me know your thoughts

[2016-11-07 21:48] rrrene commented on #220
Sounds perfect :+1:

[2016-11-07 22:07] rrrene commented on #219
That's correct. The challenge here seems to be that the question "should I color this?" can only be answered by the config object. So we have two options: keep global state based on the config setting or passing the `%Config{}` struct to the `UI.puts` call.

The second solution sounds cleaner to me, but also sounds like it would be much more work (because *every* call would have to pass the config

[2016-11-07 22:26] sstern6 commented on #220
Thanks!  Also, digging into the code a little bit, it seems like we should "quit" the consistency check as soon as we realize the arity is greater than 0 based on past conversation threads about the speed of consistency checks(taking a long time).  Which will make execution of this a little bit trickier and might take me a bit longer but I think itll be worth it in the long run.  If you have any o

[2016-11-07 22:35] sstern6 commented on #219
Thanks for the guidance, but it shouldn't be that much more work for the second challenge, just need to include the config, check the switch value, then if the switch value is true, keep functionality the same, else replace Bunt.puts with IO.puts..............i think 😄 ?

Also, it doesnt make me comfortable  keeping global state like that, Id rather spend the time making it clean.  Especially with

[2016-11-08 10:08] sobolevn commented on #215
You are officially awesome!

[2016-11-08 11:35] Lysholm commented on #51
@sstern6, @rrrene: I fully agree that semantics checking should be in a separate or multiple separate rules.

I just don't see how we could add a new rule for the _kind_ of indentation and still keep a user friendly interface. It would be really counter intuitive to have a tabs or spaces rule and a 2 space vs 4 space rule and then possibly additional ones in the future. Written naively like the cu

[2016-11-08 18:36] sstern6 commented on #220
@josevalim @rrrene I dug into this briefly and might be misunderstanding @josevalim issue, but from my understanding, the current implementation of `Credo.Check.Warning.NameRedeclarationByDef` and similar consistency checks already narrow down the `def_names` it applies the rule to by checking if the arity is in fact zero, found here:https://github.com/rrrene/credo/blob/master/lib/credo/check/warn

[2016-11-08 18:42] sstern6 commented on #221
@rrrene would you say this would be a `Refactor` check or a `Warning`?  or neither 😄 ?

[2016-11-08 20:34] sstern6 commented on #218
@rrrene this might be intended behavior, can you please confirm?

The commit you added is causing the build to fail.

I could see this being correct functionality because `2 - 2` could be replaced with 0.  So maybe the error message could be more clear given `2 - 2+3` does not evaluate to zero.

Thoughts?

[2016-11-10 20:09] rrrene commented on #215
@sobolevn I will link to this comment whenever someone disputes my official awesomeness in the future 😁  :+1:

[2016-11-10 20:09] #215 closed

[2016-11-10 20:28] rrrene commented on #220
I had a brief conversation with José and decided to deprecate `NameRedeclarationByX` in the next major release.

Let's keep this issue open to remind ourselves.

[2016-11-10 20:31] rrrene commented on #51
I agree on anything but this:

We are explicitly losing usability if we require people to define their preference. This very thing is why consistency checks were thought up in the first place.

But I think this can be beneficial as an optional check for people to utilize who want to do so.

[2016-11-10 21:23] brain-geek commented on #131
I have the same issue with even simpler example from real code:
[code]
I haven't yet found configuration which will make  `@lint {Credo.Check.Readability.PredicateFunctionNames, false}` or `@lint false` remove warning in this case.

[2016-11-11 11:27] Lysholm commented on #51
@rrrene: I was unclear about what i was referring to there, but i take it you disagree with my proposed default? ("2 spaces") And would rather see the default be the most commonly occurring indentation? If that reading is correct then i fully agree, and that's what I've started working on.

[2016-11-11 12:02] Nicd opened #223 "Credo crashes with httpc error when starting"
### Environment

* Credo version (`mix credo -v`): Unable to run as credo crashes but latest at the time of writing (cloned from git repo).
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 19 [erts-8.1] [source] [64-bit] [smp:8:8] [async-threads:10] [hipe] [kernel-poll:false] [dtrace], Elixir 1.3.4
* Operating system: Mac OS X 10.11.6

### What where you trying to do?

Run `mix credo`.

### Expec

[2016-11-11 12:15] rrrene commented on #223
Could you clone `master` and try again? I added `:inets` to the list of applicatons.

[2016-11-11 12:20] Nicd commented on #223
Nope, still the same error.

[2016-11-11 13:40] rrrene commented on #223
@sstern6 Can you reproduce this?

I will try to reproduce it at home on the weekend, but I am wondering if this is OS X specific.

[2016-11-11 17:37] michalmuskala opened #224 "Proposal: prefer implicit try in functions"
A useful, but little known feature of elixir is the implicit `try` that is placed around things like `def`, and also some other macros that create functions, like `test` from ExUnit.

For example, the two functions below are equivalent:
[code]

I believe this is a beneficial transformation simplifying code and decreasing nesting. Additionally this check should be fairly easy to detect - when the f

[2016-11-11 17:40] sstern6 commented on #223
@rrrene i cant seem to reproduce..

@Nicd what version of mix do you currently have installed?

[2016-11-11 17:41] Nicd commented on #223
I have Mix 1.3.4

[2016-11-11 18:20] NobbZ commented on #224
You say this feature is little known. Well maybe. It looks cool to have
this but is this feature documented or were this abusing an implematation
detail which could get changed any time?

Michał Muskała <notifications@github.com> schrieb am Fr., 11. Nov. 2016
18:37:

[2016-11-11 18:24] michalmuskala commented on #224
This is a feature that is part of the language and is not going anywhere. It's used in elixir itself as well as in the "core" projects like ecto, phoenix, etc.

[2016-11-11 18:25] NobbZ commented on #224
I just have seen elixir-lang/elixir#5442, so yes it seems to be a very official feature, thank you!

[2016-11-11 22:08] sstern6 commented on #223
Can you please try uninstalling credo and reinstalling, im having trouble reproducing on my mac but will keep digging.

[2016-11-11 22:11] Nicd commented on #223
I've uninstalled and reinstalled the master (after instructed), manually `rm -rf'd` the archive from hex and installed it again after a clean build.

[2016-11-11 22:34] rrrene opened #225 "Credo should not complain about ParenthesesInCondition in one-line `if` call"
While it is correct that this triggers a Credo issue:

[code]

this should not trigger and issue:

[code]

This was originally reported by @josevalim in [this comment](https://github.com/elixir-lang/ex_doc/pull/639#discussion_r87639310).

@sstern6 I added a (now failing) test reproducing this in 12ef530c14a57504603652efbadc9fc88d75a165. I dabbled a bit to find a quick fix, but did not come up with

[2016-11-11 22:34] #222 closed

[2016-11-11 23:26] sstern6 commented on #223
ok let me continue looking into it

[2016-11-11 23:51] sstern6 commented on #225
Thanks @rrrene a little short on time at the moment and have a lot to catch up on for credo but will put it on my list of things to do!  If anyone wants to take this on though feel free!

[2016-11-13 18:47] novaugust opened #228 "defmodule as an attribute crashes credo"
### Environment

* Credo version (`mix credo -v`): 0.5.1
* Erlang/Elixir version (`elixir -v`): 1.3.0
* Operating system: osx

### What where you trying to do?
I have a module that I meant to moduledoc, but because I had just typed `defmodule` I went ahead and typed it again, giving me code something like this

[code]

It took me much longer than I'd like to admit to notice that I substituted `@de

[2016-11-13 23:34] novaugust commented on #211
I updated to credo 0.5.2, and still get false positives for a line with lots of numbers

[code]

[2016-11-13 23:36] #211 closed

[2016-11-13 23:40] novaugust opened #229 "Readability.LargeNumbers false positives"
### Precheck

### Environment

* Credo version (`mix credo -v`): 0.5.2
* Erlang/Elixir version (`elixir -v`): 1.3.0
* Operating system: osx

### What where you trying to do?

I have lists with lots of floats and large numbers. Sometimes credo is giving me false positives on needing underscores.

For this data, the first 7 lines are all fine, but it's compalning about the last 5.

[code]
In each of

[2016-11-13 23:42] novaugust commented on #229
I'm zeroing in on the 0.000 because changing it fixed the issue... but on lines further up I don't have that issue. So, here's the exact code that's mad at me

[code]

[2016-11-14 20:39] joshjg commented on #27
[Created a plugin for VS Code](https://marketplace.visualstudio.com/items?itemName=joshjg.vscode-credo)

[2016-11-15 12:21] rrrene commented on #228
Thx for reporting this! :+1:

We need to catch module attribute declerations in all function headers which try to match `defmacro`, `defmodule`, `def` and `defp` calls.

[2016-11-15 12:35] rrrene commented on #229
The problem is that pre Elixir 1.3.2 we use an unreliable function to retrieve the fragment:
https://github.com/rrrene/credo/blob/6e4d376d9aa6f2e97ccd22c0fad4eee8becd4ee9/lib/credo/check/readability/large_numbers.ex#L131

The solution will be to deprecate this check for Elixir `< 1.3.2`. Thx for reporting! :+1:

[2016-11-15 12:38] rrrene commented on #27
@joshjg Great! You could post that on http://elixirstatus.com and I will include it in the next [ElixirWeekly](https://elixirweekly.net)!

[2016-11-15 15:45] novaugust commented on #229
Thanks for telling me what's wrong. How do you go about deprecating checks in Credo? I've been making enough noise over here I'd be happy to help

[2016-11-15 18:34] sstern6 commented on #223
@Nicd are you still having this issue?

[2016-11-15 18:47] Nicd commented on #223
Yes, I pulled the latest master, `rm -rf ~/.mix/archives/credo* && rm -rf _build && mix clean && mix deps.clean && mix deps.get && mix archive.build && mix archive.install`. Still the same issue.

[2016-11-16 00:00] brienw commented on #223
I can reproduce this as well. here's my wall of output:

[code]

[2016-11-16 00:23] brienw commented on #223
I've narrowed it down to this commit 47562b0a021e1fbc36b399aefabf2bdf537d7186

[code]

then if i roll it forward to the version 0.5.1 commit i get:

[code]

[2016-11-16 11:18] rrrene commented on #229
We don't have a mode of operation for this yet. The [Dogma project](https://github.com/lpil/dogma), which I contributed to before creating Credo has integrated [something like this](https://github.com/lpil/dogma/blob/426845e14cdb11a06561702c0a0fd61578205f6e/lib/dogma/rule/infix_operator_padding.ex#L4) after we ran into the same issue.

The question is if we can adapt the approach for Credo without

[2016-11-16 11:24] rrrene commented on #223
@brienw Thx for checking! Unfortunately, this is not surprising since that is the commit where I started using `:httpc` (in favor of using undocumented, private Hex APIs, which was a terrible idea in the first place).

You should be able to prevent Credo from crashing by using the `check_for_updates: false` in your config.

[2016-11-16 17:38] sstern6 commented on #223
@rrrene was there a reason you decided to abandon the Hex module you were using before that commit out of curiosity?

[2016-11-16 18:37] brienw commented on #218
I'd like to get the tests passing, Is there a consensus on the desired behavior here? I can see an argument for keeping the current error message too, since 2-2 will indeed always return 0 - and that fact doesn't change just because it is part of a compound arithmetic calculation

[2016-11-17 11:43] #223 closed

[2016-11-17 11:55] rrrene commented on #223
@sstern6 Using undocumented APIs from another project (Hex in this case) is never a good idea because

a) the owner did not intend for you to use undocumented functions/behaviour and
b) all projects depending on Credo broke when they updated the seemingly unrelated Hex.

That was really bad (in my opinion), because contrary to Ruby, Python or JS, it's not that some part of your project broke or Cr

[2016-11-17 16:28] Nicd commented on #223
Can confirm this fixes the issue! 👍

[2016-11-17 17:35] sstern6 commented on #223
@rrrene thanks for the explanation.

[2016-11-19 14:23] josevalim opened #233 "Parens and operators check should not warn for unary operators"
Credo currently warns on this case:

    TestRepo.all(from p in Post, where: field(p, ^field) > datetime_add(^inserted_at, ^-3, ^"week"))

See the `^-3`.

Assuming the warning is because of precedence, there is no purpose in warning on multiple unary operators because there is never a precedence issue.

[2016-11-21 12:16] rrrene commented on #233
:+1: Thx for reporting!

[2016-11-22 22:22] brienw commented on #218
bumping again for visibility

[2016-11-22 22:41] svoynow commented on #233
I dug into this a little bit. It looks like it's actually warning here because the "^-<digit(s)> pattern isn't recognized as one of the cases where "-" needs to be interpreted as a unary operator.
I should have a PR for it presently.

[2016-11-23 08:46] rrrene commented on #218
Sorry for the delay.

You are both right. Let's warn in any case where an identifier is substracted from itself.

[2016-11-23 10:10] #233 closed

[2016-11-23 10:11] #225 closed

[2016-11-23 17:47] svoynow commented on #228
I can't reproduce this with the HEAD of master.
I *think* this was actually "fixed" by https://github.com/rrrene/credo/commit/39882ce2a6ff37e7ee91b3cfe65a21f604084ba8
What it's doing right now isn't actually totally correct but it doesn't blow up any more.
I think it's still interpreting `@defmodule` as a module declaration, but before it was getting a value of `nil` for the module name which was

[2016-11-23 18:56] svoynow commented on #221
I'm working on this one at the moment. I'm making it a `Refactor` for the moment, but I'm happy to change.

[2016-11-24 02:57] kelvinst opened #241 "MaxLineLength not running when priority set to normal"
### Environment

* Credo version (`mix credo -v`): 0.5.3
* Erlang/Elixir version (`elixir -v`): 1.3.4
* Operating system: Mac OSX Sierra

### What where you trying to do?

I have the following in my `.credo.exs`:

[code]

### Expected outcome

I was expecting `mix  credo` to execute the max line length check, without the need of `--strict`

### Actual outcome

It didn't run the max line length che

[2016-11-24 09:48] #218 closed

[2016-11-24 10:18] rrrene commented on #228
@svoynow You are right. We have to catch all cases where we iterate on `@defops` and add a function head that catches the "module attribute"-case. ([example](https://github.com/rrrene/credo/blob/0f8f9c7311b685fc9620331518c07535a16e0228/lib/credo/check/readability/function_names.ex#L33))

[2016-11-24 10:37] rrrene commented on #241
You are absolutly right. Thx for reporting! :+1:

[2016-11-24 10:48] rrrene commented on #241
I was not able to reproduce this, could you provide a sample where this breaks?

[2016-11-24 10:49] niahoo commented on #219
Maybe you should just check the environment at compile time and do not `defdelegate` to `Bunt` but to `IO` ?

Is it possible ?

[2016-11-24 11:43] kelvinst commented on #241
Sorry, forgot the version up there, edited my original post.

And about more information, the only thing I did was to generate the config with `mix credo gen.config`, then I changed the line:

[code]

To:

[code]

Another important detail is that **my project is an umbrella project**.

[2016-11-24 12:42] rrrene commented on #219
@niahoo Thanks for your input. Unfortunately, this is not a feasable solution, since compile-time is ... well ... compile-time. If you Credo with `--no-color` the first time, it would be colorless until recompiled by force. 😞

[2016-11-24 13:09] niahoo commented on #219
Sure, and that is okay because if you do not have colors on windows, you will not have them ht next time you recompile your project wehn coding (5 min later).

But if you want colors and find a way to have them on windows, then force recompile credo is easy. That's a one time operation.

[2016-11-24 13:25] rrrene commented on #219
I misread your initial comment. Sorry. 😞

Would appreciate a pull request for the functionality you describe! :+1:

[2016-11-24 20:08] NobbZ commented on #219
Well... I am switching around a windows shell (aka cmd.exe), a powershell, a git bash and a msys2 bash more or less randomly. 2 of them do understand ANSI-Colors, 2 do not.

I do enjoy having colors in the ones that do understand them, but I do hate the garbage characters created by ANSI stuff in the windows terminals.

Since I do switch around between them very often and don't want to recompile e

[2016-11-24 21:27] lucasmazza opened #242 "`Credo.Code.Name.full` crashes when module is referenced as an attribute"
Running credo when a module is referenced through an attribute fails due a lack of match of `Credo.Code.Name.full`. Here's a small snippet that replicates the error (although the code itself works as expected) and the matching stack trace:

[code]

[code]

Tested with Elixir 1.3.1 and Credo 0.5.3

[2016-11-25 08:11] forki commented on #221
But isn't a single pipe the beginning of writing a longer pipeline? I'm working > 10 years in F# and I think this really artificial constraint. Are there any technical limitations that lead to this suggestion?

[2016-11-25 08:18] josevalim commented on #221
@forki I would consider this about enforcing a style rather than being technical limitation. For new developers, sometimes a single pipe is used to cope with the lack of OO methods:

[code]

which in turns makes the function much harder to read.

I cannot think of any situation where a single pipe is more readable than no pipes so I would like to enforce that in my codebases but your mileage may v

[2016-11-25 08:30] polytypic commented on #221
I have to second @forki, though I have only cursory interest in Elixir at this point. I also have a long history of programming and programming in functional languages.  I designed [A family of function application operators for Standard ML](http://comp.lang.functional.narkive.com/zZJZg20r/a-family-of-function-application-operators-for-standard-ml) some 11 years ago.

One problem with deprecating

[2016-11-25 08:39] josevalim commented on #221
@forki @polytypic I completely understand those arguments and I agree those are valid use cases. Unfortunately those are not the main reasons I see it being use in practice so I think a nudge to the right direction can be helpful. Especially because, if you always pipe everything, than the use case of emphasizing one particular value becomes moot.

I just want to make absolutely clear this is not

[2016-11-25 08:42] forki commented on #221
@polytypic thanks. Excatly refactoring will become awkward and I wonder what happens if such a linter would work while I'm wrting code. It would just constantly complain during my writing.

Also I often write pipes (and yes even single pipes) to work easier with a REPL.

  x
  |> doSomething

this allows me to select x and evaluate it. Then I select one line more and evaluate again. So I see input

[2016-11-25 09:01] rrrene commented on #221
Since Credo is designed to be an educational tool which helps people develop their skills, I wonder if we can convey these considerations in the explanation texts (we are [discussing these already](https://github.com/rrrene/credo/pull/240#pullrequestreview-10021793)).

As for advanced usage: people are always free to assign a lower priority to this check so it does not appear in the regular report

[2016-11-25 09:08] forki commented on #221
sure, but:

So this is a really strong statement and it will influence the way how elixir will be written in the wild. Even without a Linter people will use this statement to in code reviews to criticize style.

[2016-11-25 09:22] josevalim commented on #221
@forki it is no surprise the Elixir team has a opinion. :) We also have a strong opinion on macros, mocks, on function naming, etc.

It is only a problem if whatever the Elixir team says is used blindly (which is hardly our fault). A team should be able to discuss such statements and evaluate if it applies to them. Luckily this issue itself is a good starting point.

[2016-11-25 09:25] forki commented on #221
@josevalim absolutely. Elixir team should have a strong opinion.

[2016-11-25 09:28] josevalim commented on #221
I have edited the original issue to mention there is a discussion down here with reasons do disable the check.

[2016-11-25 15:25] niahoo commented on #219
Yeah, I think it would be cleaner if bunt is aware of the ability of the shell to display colors and maybe ignore them. That's not a thing that credo should do. Credo should say "paint some red here", and bunt should say "ok" then ignore it.

[2016-11-26 14:58] rrrene commented on #242
Thanks for the bug report! :+1:

I will be giving an Elixir talk and Credo workshop on Tuesday. Maybe I'm brave enough to attempt fixing this in live-coding :grin:

[2016-11-26 16:54] devonestes commented on #229
This seems like a fun thing to tackle!

I'd imagine that we're going to have more of these in the future as well, and since I was just in the `Config` module, I think I have a simple enough way of filtering out checks based on the current version of Elixir that Credo is running in.

I'll put together a quick version of it on my plane ride home tomorrow and see what you all think 😉

[2016-11-26 19:09] svoynow commented on #151
@raventid, are you still working on this? If not, I may grab it if that's alright.

[2016-11-26 19:41] raventid commented on #151
@svoynow, hi! I'm out of game write now, go ahead.

[2016-11-27 12:04] rrrene commented on #229
@devonestes That'd be great. It would help to have some quick&dirty implementation of this, so we can discuss the direction which we are going to take :+1:

[2016-11-28 09:59] #214 closed

[2016-11-28 21:43] rrrene opened #245 "Proposal: DoubleBooleanNegation"
`!!some_value` ensures a boolean value as an outcome, but some people don't like this "double negative" because it loses the explicitness of matching the actual value exactly.

A check can warn in these instances that you might want to match on expected "falsy" values explicitly.

[2016-11-28 21:44] rrrene opened #246 "Proposal: DuplicateKeywordKeys"
Although duplicate keys are explicitly allowed in keyword lists (as opposed to maps), you might want to check twice when using the same key more than once.

A check could warn when the same keyword list contains the same key twice. Since keyword lists are regularly used to capture named parameters for functions, this might prove a useful precaution for many codebases.

[2016-11-28 21:47] rrrene opened #247 "Proposal: VariableRebinding"
Although it is possible in Elixir, some people might want to shy away from variable re-binding, since it reminds them too much of matuability in their previous programming language.

A check could warn whenever a variable is re-binded. An optional parameter could allow for function parameters to be rebinded once (since we might want to allow normalization of input parameters while retaining the na

[2016-11-28 21:50] rrrene opened #248 "Proposal: StringSigils"
A check which reports an issue if a regular double-quoted string literal (`"`) contains more than three escaped double quotes:

[code]

[2016-11-28 22:07] rrrene opened #249 "Proposal: VariablesOnTop"
We could have a check that encourages declaring all variables at the top of a function. If you are declaring several variables after your function already "did some work", your function might be too complex.

[code]

This is of course a contrived example, but you get the idea. Each function should be as concise as possible.

[2016-11-28 22:14] rrrene opened #250 "Proposal: AppendSingleItemList"
When building up large lists, it is faster to prepend than append. Therefore: It is sometimes best to prepend to the list during iteration and call Enum.reverse/1 at the end, as it is quite fast.

[code]

[2016-11-29 07:48] devonestes commented on #245
I'm a big fan of this proposal! 👍

[2016-11-29 10:11] NobbZ commented on #219
I did not delve into it, but according to https://elixirforum.com/t/unable-to-colorize-escript-text-output/2563 it seems that `bunt` does already respect the return value of [`IO.ANSI.enabled?/0`](http://elixir-lang.org/docs/stable/elixir/IO.ANSI.html#enabled?/0), which itself is configurable by the key `:ansi_enabled` in application `:elixir`, perhaps we can alter that setting on presence of `--(

[2016-11-29 10:16] rrrene commented on #219
@NobbZ I saw that as well when looking into this.

But isn't it strange that ANSI isn't deactivated through [`IO.ANSI.enabled?/0`](http://elixir-lang.org/docs/stable/elixir/IO.ANSI.html#enabled?/0) in your Windows shell?

[2016-11-29 10:29] NobbZ commented on #219
Well, as you ask for it... I can only check at my office-workstation, and here it does in fact return `false` in an iex session in cmd, powershell and git bash.

But still I do get ANSIfied output of credo in each of them.

Since I will attend to a talk this evening ;) and also still have some tickets to close at work, I will not have time to prepare a sample project before thursday evening. But I

[2016-11-29 11:20] rrrene commented on #221
Împlemented in #240.

[2016-11-29 11:20] #221 closed

[2016-11-29 12:59] h4cc commented on #249
I think "encourage" is important to understand here. Having new variables declared late in a function can be considered a "bad smell" and could be solved using smaller functions.

[2016-11-29 13:03] h4cc commented on #250
The "sometimes" seems to too unspecific: https://pragtob.wordpress.com/2016/06/16/tail-call-optimization-in-elixir-erlang-not-as-efficient-and-important-as-you-probably-think/

[2016-11-29 13:21] h4cc commented on #246
Using Keyword Lists as "Sets" does not sound like a good idea.

As an alternative, this could be suggested:
http://elixir-lang.org/docs/stable/elixir/MapSet.html

Older Set Implementations are DEPRECATED:
http://elixir-lang.org/docs/stable/elixir/HashSet.html
http://elixir-lang.org/docs/stable/elixir/Set.html

[2016-11-29 13:22] h4cc commented on #245
Other way of writing is using `not`:

[code]

[2016-11-29 13:26] NobbZ commented on #245
`!/1` and `not/1` do behave differently:

[code]

So `not/1` does only work for "real" booleans, while `!/1` does work for `any`.

[2016-11-29 13:31] h4cc commented on #245
Good to know, thanks.
So checking for `not !var` should also be considered here.

[2016-11-29 13:41] NobbZ commented on #245
Now I do understand the actual proposal behind your former post.

That in fact might be better placed as another check for self-undoing operations, we could then also add `list |> Enum.reverse |> Enum.reverse` and maybe others into the mix? I think it will be hard to recognize automatically that `x |> f |> f == x`... Not sure how to handle that, but if we decide to create another proposal we can d

[2016-11-29 14:08] devonestes commented on #249
Hmmmm... In theory I like this since it encourages smaller functions and chunking of concepts, which is usually a good thing for reading comprehension, but I'm also a fan of using descriptive variable names at certain points in code to illustrate to the reader certain concepts. I know "Introduce Explaining Variable" is technically an OO refactoring concept, but I think it's one that works in just

[2016-11-29 18:29] NobbZ commented on #248
Perhaps do the same for single quoted strings and `~c[]`?

[2016-11-29 18:34] NobbZ commented on #246
Your proposed "alternatives" do only make sure that some value exists in the set, they are not capable of saving an associated value.

[2016-11-29 19:16] h4cc commented on #245
Started working on this :)

[2016-11-29 19:16] certainty commented on #248
We will look at this one :D

[2016-11-29 19:20] narrowtux commented on #247
I'll try

[2016-11-29 19:23] NobbZ commented on #228
I will try to get into this.

(that waldo shirted guy at the front)

[2016-11-29 19:57] erikmueller commented on #249
I'd like to try :)

[2016-11-29 19:58] dszam opened #253 "Windows line break check doesn't report line number"
### Environment

* Credo version (`mix credo -v`): 0.5.3
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 19, Elixir 1.3.4
* Operating system: OSX 10.10.5

### What where you trying to do?

I saved the file lib/credo/check/consistency/line_endings.ex with windows line breaks to see the outcome of mix credo.

### Expected outcome

I expected the line and column of the first windows line break to b

[2016-11-29 20:05] devonestes commented on #248
I'd argue that a single escaped double quote would be worthy of triggering an issue! But I'd certainly be cool with more than 3.

[2016-11-29 20:33] rrrene opened #257 "Improve @moduledoc on lacking checks"
Some of the checks are lacking really good explanations.

For example `Credo.Check.Readability.FunctionNames` is a pretty good example for a comprehensive explanation.

`Credo.Check.Readability.TrailingBlankLine` is an example for a not-so-good one.

[2016-11-29 21:09] rrrene commented on #253
This is due to the missing context when running a consistency check only on a single file.

This is clearly a deficit in Credo. Thx for reporting! :+1:

[2016-11-29 23:22] svoynow commented on #151
Do we want alias / import / require / use to have their consistency enforced separately, or all together? Thoughts?

[2016-11-30 08:04] nesQuick opened #259 "How does UnusedFileOperation even work (missing docs)"
I've wanted to write the explanation for `Credo.Check.Warning.UnusedFileOperation` but I was not able to trigger the check. If you could provide a failing code snippet I'd happily write some module doc.

I tried

[code]

but none of these triggered the check or I was not executing it correctly.

[2016-11-30 08:06] raventid commented on #151
I thought it would be better to ship it as one setting.

2016-11-30 2:22 GMT+03:00 svoynow <notifications@github.com>:

--
С уважением, Кулеш Ю.Д.

[2016-11-30 08:41] devonestes commented on #259
@nesQuick Here are the tests for that check, which give some snippets of failing code: https://github.com/rrrene/credo/blob/master/test/credo/check/warning/unused_file_operation_test.exs

[2016-11-30 22:09] nesQuick commented on #259
Thanks @devonestes for getting back to me so quickly.
I might be holding it wrong but I can't trigger it, even with the examples from the test.

[code]

[code]

[2016-12-01 08:15] devonestes commented on #259
@nesQuick Hmmm, maybe it's a bug, then? Can you share what versions of Credo & Elixir you're using? There have been other bugs that are version specific, so this might be one of them... The tests are still passing, so I know on _some_ versions it's working, but I'd be interested to try and find out why this is behaving strangely for you!

[2016-12-01 09:18] nesQuick commented on #259
@devonestes yeah sure

[code]

I'd be happy to know if it is really me, or maybe something else :D

[2016-12-01 10:54] niahoo commented on #219
I had the same results : `IO.ANSI.enabled?/0` is `false` but I have ANSI tokens in the shell output. But, for instance, `npm` displays colors with no problem.

[2016-12-01 11:24] NobbZ commented on #219
Last night I had some kind of flashback...

Currently there is rrrene/inch_ex#23, maybe there is some relationship behind the weird characters?

But in inch's output I do get (some) colors... Weird...

![credo_inch](https://cloud.githubusercontent.com/assets/58951/20792224/fc3eb66c-b7c0-11e6-9993-feed4d790407.png)

In git-bash I do get full colors in inch_ex, but there are no weitrd characters (ex

[2016-12-01 11:48] rrrene commented on #259
e055a6d4d8fe9bc95ddbde3c7fe6600d7d837f56 - without further comment.

![image](https://cloud.githubusercontent.com/assets/311914/20792871/76ad80ba-b7c4-11e6-8f76-77c322e6219e.png)

[2016-12-01 12:49] nesQuick commented on #259
It's this huge can of worms, what ever I touch :D Thanks for fixing it tho

[2016-12-01 12:52] #259 closed

[2016-12-01 14:01] rrrene commented on #151
I am not aware that you can import/require/use multiple elements utilizing the `{}` syntax of multi alias.

In my opinion this should be a check about multi-alias. Am I wrong here?

[2016-12-01 17:51] svoynow commented on #151
apparently you can since 1.2
http://elixir-lang.org/getting-started/alias-require-and-import.html#multi-aliasimportrequireuse

The syntax is sufficiently the same that it seems reasonable to cover them all w/ the same rule.

[2016-12-02 18:53] mariusbutuc opened #263 "Configure Credo to use global .credo.exs file"
Several projects are being added under the same umbrella project, and some of them leverage credo.

[The docs](https://github.com/rrrene/credo#configuration-via-credoexs) mention that:

In the sub-apps, how can Credo be configured to use the same, global `.credo.exs` file, say from the root of the umbrella project?
___

Also asked [on the forum](https://elixirforum.com/t/configure-credo-to-use-glo

[2016-12-02 19:04] mariusbutuc commented on #263
I would imagine a configuration similar to `config_path`, `lockfile` etc in:

[code]

[2016-12-02 20:13] rrrene commented on #263
Have you tried simply putting a `.credo.exs` file in the root of the umbrella project like the README suggests?

[2016-12-02 20:24] mariusbutuc commented on #263
…that meant the root of the umbrella project. This works, thanks @rrrene!

[2016-12-02 20:24] #263 closed

[2016-12-02 20:36] rrrene commented on #263
To clarify: Credo traverses your tree back up until your home dir. At each step of the way it looks for `./.credo.exs` as well as `./config/.credo.exs`. It then merges those configs recursively, with those "nearer" to your `cwd` taking precedence.

[2016-12-02 20:37] rrrene commented on #263
This is why you can put a config file in your umbrella project's root dir. Or in your umbrella apps dir. Or both. ;-)

[2016-12-03 11:53] rrrene commented on #245
Thx Julius!

[2016-12-03 11:53] #245 closed

[2016-12-03 20:35] rrrene commented on #247
Thx again! :+1:

[2016-12-03 20:35] #247 closed

[2016-12-03 20:35] #248 closed

[2016-12-05 23:23] sgtpepper43 opened #265 "`list` command exits with a 0 when there are errors"
### Precheck

* For proposing a new feature, be sure to name your issue "Proposal: ..."
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 0.5.3
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 19, Elixir 1.3.4
* Operating system: Ubuntu

### What where you trying to do?

Run `mix credo list` in CI

### Exp

[2016-12-06 04:51] davejlong opened #267 "Pipe chain check does not handle parentheses around raw value"
### Environment

* Credo version (`mix credo -v`): 0.5.3
* Erlang/Elixir version (`elixir -v`): 1.3.3
* Operating system: `Darwin Compe.local 16.1.0 Darwin Kernel Version 16.1.0: Thu Oct 13 21:26:57 PDT 2016; root:xnu-3789.21.3~60/RELEASE_X86_64 x86_64`

### What were you trying to do?

Given the following block of code:

[code]

### Expected outcome

I don't expect to get a warning regarding star

[2016-12-06 07:34] rrrene commented on #265
That moment when you investigate an error and find things like this: https://github.com/rrrene/credo/blob/8b0423e1aee73029ea501271f3bf390d270dccae/lib/credo/cli/command/list.ex#L22 :wink:

Thx for reporting! :+1:

[2016-12-06 07:36] #265 closed

[2016-12-07 09:18] devonestes commented on #229
I think we can close this issue now, right @rrrene?

[2016-12-07 10:17] rrrene commented on #229
@devonestes Yes.
@novaugust This will be fixed in the next release. Thx again for reporting! :+1:

[2016-12-07 10:17] #229 closed

[2016-12-07 10:37] #224 closed

[2016-12-07 21:34] #242 closed

[2016-12-07 22:04] #219 closed

[2016-12-07 22:05] rrrene commented on #219
Added on `master`, `v0.6.0` will be released soon.

[2016-12-08 09:14] devonestes opened #268 "Add Credo to CI for Credo?"
Recently there was a commit that I made that had some silly formatting and style issues that required @rrrene to request changes (and eventually fix himself). This struck me as a problem that Credo might be able to solve!

How about adding Credo to CI for this repo? We add additional checks beyond just tests over at `exercism/xelixir` (see our .travis.yml [here](https://github.com/exercism/xelixir

[2016-12-08 13:27] rrrene commented on #268
I see your point and this frequently comes up in discussions (online and in the real world during Q&A).

My reservation: In the Dogma project we validated the linters code with the linter long before we had any real experience with the codebase and where it should go. I always saw that as an arbitrary and unnecessary restriction, hindering the "natural evolution" of the pre-1.0 code. This is relev

[2016-12-08 13:38] NobbZ commented on #268
Starting to enforce credo on credo will definitively destroy the history of the "repaired" module.

Therefore I think, this should be handled as one usually handles whitespace issues in general:

1. Leave everything in the state it is now.
2. Require newly added source files to adhere to the credo config while ignoreing the old ones
3. When an old file gets altered because a bug was fixed or it ev

[2016-12-08 17:38] devonestes commented on #268
Alternatively, someone could write an Elixir integration for [HoundCI](https://houndci.com/) 😉 . Same kind of deal - automatic enforcing of a style guide on new PRs. It's free for open source projects.

[2016-12-10 19:02] shdblowers opened #271 "Spaces around operators check: Pin on a negative number"
### Environment

* Credo version (`mix credo -v`): 0.5.3
* Erlang/Elixir version (`elixir -v`): 1.3.4
* Operating system: Linux

### Issue

`^-1.0` will raise an issue, whereas `^1` will not.

Many examples in ecto:
[Example](https://ebertapp.io/github/elixir-ecto/ecto/reviews/109)

[2016-12-10 19:08] sobolevn opened #272 "UndefinedFunctionError: undefined function String.to_charlist/1"
### Precheck

- [x] For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`):

* Erlang/Elixir version (`elixir -v`):

* Operating system:

### What were you trying to do?

I am trying to run `mix credo --strict`

### Expected outcome

Listed issues or nothing.

### Actual outcome

It breaks only for `elixir->1.2` an

[2016-12-11 21:51] rrrene commented on #272
Ouch ... thx for reporting!

[2016-12-11 21:51] rrrene commented on #271
:+1: Thx for reporting!

[2016-12-11 22:59] sobolevn commented on #272
Ok, if that's an entry-level issue and you want some help, I am on it.

[2016-12-12 15:11] #272 closed

[2016-12-13 00:34] Dangeranger opened #274 "mix archive.build => KeyError, key :strict not found in %Credo.Config{ ... }"
### Environment

* Credo version (`mix credo -v`): **0.6.0 (pre)**, commit **7be7090fa4afb8f9d113b351d1b3858c974453ec**
* Erlang/Elixir version (`elixir -v`): `Elixir 1.3.2`
* Rebar Version: `rebar 2.6.0 17 20150627_044508`
* Operating system:
[code]
### What were you trying to do?

- Build Credo from latest source according to [README#Standalone](https://github.com/rrrene/credo#using-credo-as-sta

[2016-12-13 06:02] rrrene commented on #274
Do you have an earlier version installed as an archive? You can check via `mix archive`!

[2016-12-13 14:09] #267 closed

[2016-12-13 14:15] rrrene commented on #151
This has been implemented and will be released with the next ... release :grin: