[2018-04-13 07:35] cblage commented on #526
Well, then for example if credo detects a more experienced programmer is using this flag, it should adapt accordingly and not issue that warning. Maybe issue an info with different data.

[2018-04-13 09:58] NobbZ commented on #526
Even code written by experienced programmers can be read by inexpoerienced ones, and those inexperienced ones think even more they should do it like this, when they think the original author of the code is more experienced as them self are.

Also which config would you want to be used for this? Dev, test, prod, something else?

The code is what is checked by credo, not the resulting BEAM files.

[2018-04-13 09:59] NobbZ commented on #526
But maybe @rrrene has a complete different opinion on this than me or you.

[2018-04-13 11:36] cblage commented on #526
I would say keep the warning for dev, but drop it for prod maybe. But it is indeed up to @rrrene

[2018-04-13 11:40] cblage commented on #526
My opinion is simple, don't show warnings that are not relevant for the user.

For example, if in config, it's set to ` compile_time_purge_level: :debug` and a user has a non-lazy `Logger.info` call, the warning should be issued. But not for `Logger.debug` calls. Does that make more sense?

[2018-04-13 12:52] leifg opened #527 "False negative for unused return"
### Environment

* Credo version (`mix credo -v`): 0.9.1
* Erlang/Elixir version (`elixir -v`):
* Operating system:

### What were you trying to do?

`mix credo --strict` on the following file (no .credo.exs in project)

[code]

### Expected outcome

No issues reported

### Actual outcome

Line 7 (the body of the function `error`) raises the warning:

[code]

In 0.9.0 the behavior is fine.

[2018-04-13 14:25] cblage commented on #526
How is the code conceptually broken if the `Logger` call gets removed from the parse tree, and doesn't even get invoked. Unless your log call has side effects, there's absolutely nothing wrong with "pre-processing" code to remove log calls.

[2018-04-13 14:27] cblage commented on #526
Besides, forcing the lazy method will only complicate logging for general folks. I still don't fully understand what's the problem of leveraging the compiler to remove code we don't want to run automatically. I thought compilers were supposed to work for us. 🤔

[2018-04-13 14:28] OvermindDL1 commented on #526
Found the discussion, can read up here as to their reasonings:  https://github.com/elixir-lang/elixir/issues/7046

:-)

Essentially though, your logger calls have potential side effects because they are calling a function in a remote module, thus when the code is purged then it can be surprising to many programmers that those side effects no longer do anything, where making it an explicit function

[2018-04-13 14:29] cblage commented on #526
Also, it doesn't really matter what might hypothetically happen in 2.0, that's still waaays of. We're talking about making a useful code insight tool. Useless warnings make the tool less useful.

[2018-04-13 14:32] OvermindDL1 commented on #526
As an aside, you can always make your own logging macro, something like this perhaps:

[code]

Or so, so it's not hard to workaround and you don't have to pepper `__MODULE__.blah` all over your logs too as it seems you are doing.  :-)

[2018-04-13 14:35] cblage commented on #526
Back to the original problem: the only way of fixing the issue is doing something like this:

`{Credo.Check.Warning.LazyLogging, ignore: [:debug]},`

which is sub-optimal because you might forget you have that enabled, and changed a config where you no longer remove calls on compile time, and BAM you release a slowass APP because of all the debug calls.

That's why I'm saying that the warning shou

[2018-04-13 14:37] cblage commented on #526
The only situation where the compiler flag might change the actual underlying behavior of your code, is if you have side effects inside your Logger statements. If you do, you should simply give up programming and go plant some potatoes or something.

[2018-04-13 14:39] OvermindDL1 commented on #526
Not always because it can be immensely valuable to re-enable certain logs in production to see what's happening with an issue.

And I'm not sure how it could take in the possible environment because if credo is installation globally then it scans the source without any mix environment...

[2018-04-13 14:42] cblage commented on #526
Of course not everyone purges every log calls, but for example, I don't think I'll ever launch a prod build without purgings all debug statements. And let the rest be filtered by log level.

[2018-04-13 14:43] cblage commented on #526
Unless something REALLY bad is happening, then you make a new build and deploy it without removing the log statements. If youre doing things right, deploying a new build should be a 5minute process

[2018-04-13 14:45] cblage commented on #526
In the end, I believe credo should always take the `MIX_ENV=foo mix credo` and check the config for those purges.

[2018-04-13 14:48] cblage commented on #526
"Found the discussion, can read up here as to their reasonings: elixir-lang/elixir#7046

:-)

Essentially though, your logger calls have potential side effects because they are calling a function in a remote module, thus when the code is purged then it can be surprising to many programmers that those side effects no longer do anything, where making it an explicit function makes it more obvious tha

[2018-04-13 14:50] OvermindDL1 commented on #526
Except it can't just run the config of the application project as it could do unexpected things (such as querying a database to get some config information or so).  ^.^

I would agree, except there are a *lot* of new programmers out there, plus it's not too hard to turn something like `blah = expression` into `Logger.debug blah = expression` as a 'temporary' thing but forget about it and you end u

[2018-04-13 14:58] cblage commented on #526
"Except it can't just run the config of the application project as it could do unexpected things (such as querying a database to get some config information or so). ^.^"

Alright, that might be a valid point. But I thought the `config.exs` files were mostly static / env vars if you follow good practices.

"I would agree, except there are a lot of new programmers out there, plus it's not too hard t

[2018-04-13 15:12] OvermindDL1 commented on #526
Good practice is getting the configuration information however necessary, which might be the environment, it might be a database, it could even be randomly generated via a quantum generator chip (entirely possible for a random seed for example).  It is normal code and it can do whatever is wished.  :-)

Except as stated in the example you quoted, you can easily add in a log somewhere as a purely t

[2018-04-13 15:35] cblage commented on #526
"Except as stated in the example you quoted, you can easily add in a log somewhere as a purely temporary thing and forget that you did, or perhaps another person did on the project and you didn't know about it before making a release because the tests pass or so."

In over 12 years of programming, I don't think I've ever written a log statement with side effects 🤔

[2018-04-13 15:47] OvermindDL1 commented on #526
Well in most immutable'ish languages you can't write a log statement with side effects.  ;-)

Elixir is just correcting that oversight is all, as they don't think you should be able to do that either but because of their way of making it with a macro it accidentally gained that ability, which is silently and fairly randomly breaking a lot of people's code.  :-)

[2018-04-17 08:19] Joao-M-Almeida opened #530 "Moduledoc tag check should verify if a 'used' module adds a moduledoc tag"
### Environment

* Credo version (`mix credo -v`): 0.8.10
* Erlang/Elixir version (`elixir -v`): Elixir 1.6.4 (compiled with OTP 20)
* Operating system: Mac OS

### What were you trying to do?

Statically analyzing, with `mix credo`,  a project that uses [quantum](https://github.com/quantum-elixir/quantum-core) to schedule jobs.

Quantum requires a scheduler module to be created that follows the f

[2018-04-17 08:40] stepnivlk opened #531 "False positive in LongQuoteBlocks"
### Precheck

* For proposing a new feature, be sure to name your issue "Proposal: ..."
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 0.9.1
* Erlang/Elixir version (`elixir -v`): 1.6.3
* Operating system:  Mac OS

### What were you trying to do?
I have a module which is meant to be `use`d in another mod

[2018-04-18 12:57] rrrene commented on #526
@cblage @NobbZ @OvermindDL1 Thx for raising and discussing this issue! Feedback from community members like yourselves is what keeps this project healthy. :+1:

@cblage I can understand where you are coming from and I see your argument, but unfortunately I don't agree with the conclusion. We can not depend on values from the Mix config, if only for the reason that they might be depending on env-va

[2018-04-18 12:57] #526 closed

[2018-04-18 13:18] rrrene commented on #530
Thx for reporting! :+1: I imagine this to be a rather difficult one.

[2018-04-18 13:19] rrrene commented on #531
Thx for reporting! This is a valid point, we should only count LOC! :+1:

[2018-04-18 13:28] cblage commented on #526
@rrrene would you be interested in a possible PR from my side to implement a `MIX_ENV=prod mix credo --strict --check-env` which would add the `--check-env` optional flag to make it take in consideration the MIX_ENV and appropriate configs?

[2018-04-18 16:10] stepnivlk commented on #531
@rrrene cool, I can try to work on it if you want.

[2018-04-18 19:40] techgaun opened #532 "Proposal - Filter out checks to run by priority too"
### Environment

* Credo version (`mix credo -v`): 0.9.1
* Erlang/Elixir version (`elixir -v`): OTP20 / 1.6.4
* Operating system: Ubuntu

### What were you trying to do?

I was trying to run checks based on priorities only.

### Expected outcome

Be able to filter out the checks to run based on the priorities

### Actual outcome

Can not filter out the checks based on the priorities

### Use Case

[2018-04-20 08:46] Joao-M-Almeida commented on #530
Yes, it's definetely not trivial to identify these cases.

[2018-04-21 21:25] dotboris commented on #532
There's already a flag for this. It's not documented and it's a little convoluted.

You can use `--min-priority {n}` where `{n}` is the minimum priority number. The mapping between the priority name and it's number is in: https://github.com/rrrene/credo/blob/master/lib/credo/check.ex#L6-L12

If your case, to include high and higher issues, you'd do

[code]

[2018-04-21 21:53] dotboris commented on #527
Looks like this was fixed in https://github.com/rrrene/credo/commit/517699f82fc6ebe266152d997b64878b334e7bd8

[2018-04-21 21:55] dotboris commented on #527
The fix is also part of v0.9.2

[2018-04-22 14:51] rrrene commented on #532
@dotboris Wow, you really know your credo 😄 👍

That said, we should probably document that switch and allow the named values @techgaun mentioned above.

[2018-05-02 10:27] h4cc opened #535 "MatchInCondition fails for Ecto query"
### Environment

* Credo version (`mix credo -v`): 0.9.2
* Erlang/Elixir version (`elixir -v`): Elixir 1.6.1 (compiled with OTP 19)
* Operating system: Ubuntu 16.04

### What were you trying to do?

Check a file

Content:

[code]

### Expected outcome

No crash

### Actual outcome

Crash like this:

[code]

[2018-05-02 11:10] h4cc commented on #535
Too bad none of the `# credo:disable-...` commends helps in this case :(

[2018-05-02 13:56] tim2CF opened #537 "Elixir.Credo.Check.Design.AliasUsage throw exception"
### Environment

* Credo version (`mix credo -v`): "0.9.2"
* Erlang/Elixir version (`elixir -v`): "1.6.4"
* Operating system: mac

### What were you trying to do?

`mix credo`

### Actual outcome

[code]

I also tried to comment out `AliasUsage` line from `.credo.exs` - it not helped

[2018-05-03 16:13] rrrene commented on #531
Thx for reporting this! :+1: It should be be fixed in the latest version of Credo.

[2018-05-03 16:13] #531 closed

[2018-05-03 16:14] #535 closed

[2018-05-03 16:40] rrrene commented on #537
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-05-03 16:40] #527 closed

[2018-05-04 08:42] tim2CF commented on #537
thanks, solved!

[2018-05-07 06:35] #532 closed

[2018-05-07 12:23] weisslj opened #539 "False positive unused return value warning for String functions"
### Environment

* Credo version (`mix credo -v`): 0.9.2
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 20.3.4, Elixir 1.6.4 (compiled with OTP 19)
* Operating system: Debian GNU/Linux 9 (stretch)

### What were you trying to do?

Run credo on our project, minimal example:

[code]

### Expected outcome

No warning.

### Actual outcome

stdin:6:22: W: There should be no unused return values for

[2018-05-08 04:31] progsmile opened #540 "Proposal: check use, import, alias, require having same order across files"
Hi there! Thanks for package!
I didn't find rule to check order for directives: use, import, alias, require
Wish it would be, to make code more consistent and prevent human mistakes
In future we can add option to set particular order, like `{Credo.Check.Readability.ModuleDirectivesOrder, order: [:use, :import, :require, :alias]}`

So, if you don't mind I'll try to implement this and do pull reques

[2018-05-10 16:02] progsmile commented on #540
Does anybody consider it helpful?

[2018-05-13 13:06] rrrene commented on #540
Thx for proposing this! :+1:

I thought about adding a check like this, but then I thought "Is there one true order of directives? Isn't there a situation where I want to first `alias` and then `use`?".

Why is it this order in your proposal?

[2018-05-13 13:25] progsmile commented on #540
Actually it's from [this style guide](https://github.com/christopheradams/elixir_style_guide#module-attribute-ordering) and in our team we do so, but still have inconsistent files. Personally I would choose `use`, `import`, `require`, `alias` sequence as default, in order directive impacts module.
As I wrote above it would support option `order`, so any order can be set )

[2018-05-13 14:37] rrrene commented on #540
You are right.

One note: Let's use `use/import/alias/require`, since that's also in the Elixir Core Team's style guide. :+1:

[2018-05-13 19:00] progsmile commented on #540
Ok, I’ll do pull request soon

[2018-05-15 16:36] janpieper commented on #540
Had the same idea a few minutes ago :rofl:

Would be great to have such a check in Credo! :+1:

[2018-05-16 06:17] progsmile commented on #540
Started with nested modules case, so need to combine modules and their directives. Now I use `Credo.Code.postwalk`, but wonder if is there more appropriate function?

[code]

[2018-05-18 10:17] tim2CF commented on #537
the same issue for other check

[code]

[2018-05-20 13:58] progsmile commented on #540
Suppose such cases are quire rare (nested modules up to 3rd level), but still want handle this )

[2018-05-24 12:35] nulian opened #541 "False positive unused return value Enum.map"
With credo 0.9.2 and elixir 1.6.3.

Getting a false positive when using Enum.map with `:ets.insert`

Like `:ets.insert(table, Enum.map([1, 2, 3, 4], fn i -> i + 1 end))`

Giving
There should be no unused return values for Enum.map().

[2018-05-25 15:36] flaviogrossi opened #542 "False positive when using an interpolated string in a map"
### Environment

* Credo version: 0.9.2
* Erlang/Elixir version (`elixir -v`): 1.6.5
* Operating system: Linux

### What were you trying to do?
Checking the following module:

[code]

### Expected outcome

No warnings

### Actual outcome

The following warning:
[code]
Using as a key an atom with no quotes, or removing the string interpolation in the value does not produce the warning.

[2018-05-25 16:33] mikepack commented on #410
I'm personally in favor of this. My use case is that I want to enforce line length on production code but not in test code. Because of the verbosity of some test descriptions, it's difficult/awkward to try to fit those into a max line length. Using the config comment syntax within every test file isn't appealing either.

[2018-05-27 15:05] dark0dave commented on #498
It would not.

The reason here is mostly for readability, it becomes complex if you import multiple modules with import. Better to alias where possible, in this manner its more precise as what functions you are using.

Ideal use would be if just using a single function from a module, alias would be used. If all functions are in use then import is acceptable.

[2018-05-29 15:40] jeremyowensboggs commented on #84
I'm running into this issue with 0.9.2, however, running with `mix credo --ignore readability` is what allows it to run in a reasonable amout of time.

[2018-05-29 17:05] A-Legg opened #544 "Check is ignored after following directions given with mix credo.gen.check."
### Environment

* Credo version (`0.9.2`):
* Erlang/Elixir version (`1.6.5`):
* Operating system: MacOS 10.13.4
* `.credo.exs` is in the project's root.

### What were you trying to do?
`mix credo gen.check lib/my_first_credo_check.ex`

Added the newly created file to the `requires` list in `.credo.exs`.
Added `{MyFirstCredoCheck}` to the `checks` list in `credo.exs`

### Expected outcome
The new

[2018-05-29 18:52] ryanwinchester commented on #32
Is there a way to disable the check if it is only 1 pipe and on a single line?

The example in OP is a good point for this

[code]

I do this often like:

[code]

And honestly, I find this much better than

[code]

Heck, even...

[code]

Thoughts?

[2018-05-29 19:46] NobbZ commented on #544
can you please provide the contents of the check? Simplified at least? And alos show the requires line you added/altered?

[2018-05-29 19:59] A-Legg commented on #544
requires: `requires: ["lib/credo_check/graphql_docs.ex"],```
Check:
[code]

[2018-05-29 20:47] NobbZ commented on #544
I can confirm, I have the same issue.

[2018-05-30 18:44] ryanwinchester opened #545 "Proposal: More exclusions for "Pipe chain should start with a raw value""
### What were you trying to do?

I want a way to disable the check if it is only *a single pipe* and on *a single line*, from one function to another.

For example, in another issue (#32) a user had this example:

[code]

That same pattern is useful in other places.

[code]

The cases are still easily readable, and shouldn't need to be something like 4 lines when it can easily be one, if that's wh

[2018-05-31 15:42] OvermindDL1 commented on #545
A problem with it being on one line is that `|>` can visually vanish among all the other noise of the line.

[2018-05-31 16:21] ryanwinchester commented on #545
If you have line-length checks then there shouldn't be that much going on on one line that a pipe wouldn't be noticeable.

[2018-06-01 13:11] amitkt2020 opened #546 "False positive unused return value warning for Enum.sum and Tuple functions"
### Environment

* Credo version (`mix credo -v`): 0.9.2
* Erlang/Elixir version (`elixir -v`):
Erlang/OTP 20 [erts-9.3] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false]
Elixir 1.6.4 (compiled with OTP 20)
* Operating system: CentOS 7

### What were you trying to do?
Getting incorrect results when using Enum.sum and Tuple.duplicate with :ets.insert

Examples:
[

[2018-06-01 19:34] rrrene commented on #539
Thx for reporting! :+1:

[2018-06-01 19:37] rrrene commented on #541
Thanks for reporting this 😀

Is this fixed on `master`?

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-06-01 19:51] #541 closed

[2018-06-01 19:51] #546 closed

[2018-06-01 19:52] rrrene commented on #541
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-06-01 19:52] rrrene commented on #546
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-06-01 19:55] rrrene commented on #525
Thx for reporting this! :+1:

For the time being, the website has been reconfigured to redirect to this repository on GitHub, which (kind of) solves this issue.

[2018-06-01 19:55] #525 closed

[2018-06-03 10:13] mroach commented on #410
Another use case: disable `Readability.ModuleDoc` for Ecto migrations. Many are self explanatory and don't need a comment like "creates this table"

[2018-06-03 19:57] #539 closed

[2018-06-03 19:58] rrrene commented on #539
@weisslj
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-06-03 20:17] weisslj commented on #539
Thank you, I tested the current master, this solves our issue!

[2018-06-03 21:16] bamorim commented on #540
I did some checks on what Credo was doing according [this style guide](https://github.com/christopheradams/elixir_style_guide#module-attribute-ordering) and this was one of the things credo was not checking.

The module ordering was one of the issues. Are you planning to go with the "full ordering" from [elixir-style-guide](https://github.com/christopheradams/elixir_style_guide#module-attribute-or

[2018-06-04 07:38] progsmile commented on #540
@bamorim That would be really cool because of completeness!)
Actually the problem I faced was dealing with nested module - [comment above](https://github.com/rrrene/credo/issues/540#issuecomment-389407113)
If you have solution please do pr )

[2018-06-04 11:20] amitkt2020 commented on #546
Thank you, Issue is resolved 👍

[2018-06-05 15:31] deadtrickster opened #548 "A usability note"
Hi, First I would like to thank you for credo. I use it with every project.

However I came here to complain about versioning (not sure there) :-).
We had this in our mix.exs: `~> 0.8`, then for some reason 0.9.3 was downloaded and our builds started to fail because of new alias ordering check.

So now we are really confused because with thought `-> 0.8` is `0.8.x` and because
builds failed for "n

[2018-06-05 15:38] OvermindDL1 commented on #548
`~> 0.8` means `>= 0.8 and < 1.0`.  If you wanted to be constrained to 0.8.x then should do `~> 0.8.0` (or whatever specific patch version minimum you want).  The `~>` means update the lowest specified up to but not including the next prior.

[2018-06-05 15:40] deadtrickster commented on #548
yea, thanks I new it's something stupid here. But AliasOrder was added to patch version

[2018-06-05 19:00] rrrene commented on #548
@deadtrickster You are right. I'm sorry about this and will be more considerate in the future!

[2018-06-05 19:36] deadtrickster commented on #548
@rrrene no problem, thanks again for awesome tool. closing

[2018-06-05 19:36] #548 closed

[2018-06-06 13:53] falti commented on #84
Confirmed what @jeremyowensboggs noticed.

[code]
Running on Mac.

[2018-06-08 13:03] asummers opened #549 "Proposal: Warn on Enum.map/2 |> Enum.join/2 to use Enum.map_join/3 instead"
One thing that comes up in PR frequently is calling out uses of Enum.map/2 |> Enum.into/2 to use Enum.map_join/3 instead. I'd like to see this added as a compiler warning.There's other things in this "class" of warning, like chained uses of Enum.map/2 or Enum.map/2 |> Enum.into/2 ==> Enum.into/3, so this could open the floodgates to a lot of other cool warnings if we want, as well as leading to mo

[2018-06-09 12:51] rrrene commented on #549
This sounds like it makes a lot of sense (these would be checks in the "Refactoring opportunity" category) :+1:

[2018-06-09 12:52] rrrene commented on #544
Thx for reporting this! :+1: It should be be fixed in the latest version of Credo.

If it is not, please feel free to re-open this issue!

[2018-06-09 12:52] #544 closed

[2018-06-09 14:13] asummers commented on #431
Just chiming in to say I think that the fix here should be an option rather than the only behavior. I can see the argument for all of these things, but fall on the side of the existing behavior for all of them.

[2018-06-13 07:38] ntalfer opened #556 "Unexpected exception in Credo.Check.Consistency.SpaceInParentheses"
### Environment

* Credo version (`mix credo -v`): 0.9.3
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 18 + Elixir 1.4.2
* Operating system: Ubuntu 14.04

### What were you trying to do?

mix credo foo.ex where foo.ex has the following content:

[code]

There is no compilation problem with this module and works like a charm:

[code]

### Expected outcome

get credo report

### Actual outcome

[2018-06-14 20:15] chengyin opened #557 "Max line length should ignore URL in a comment"
### Environment

* Credo version (`mix credo -v`): 0.9.2
* Erlang/Elixir version (`elixir -v`): 1.6.5
* Operating system: macOS 10.13.5 (17F77)

### What were you trying to do?

Add a comment like this:

[code]

### Expected outcome

No lint error since there is no way to add a line break in the middle of the URL.

### Actual outcome

Lint error: Line is too long.

There doesn't seem to be a confi

[2018-06-15 12:48] whatyouhide commented on #540
For now, I suggest starting with just `use`/`import`/`alias`/`require`. The reason for that ordering is that they are from most "dangerous" (`use` can do many hidden things) to least dangerous.

[2018-06-15 18:56] hickscorp commented on #32
I would really like this to be extended to `case` statements too... For example:

[code]
looks really better than the non-pipe version. Am I missing something?

[2018-06-15 18:58] hickscorp commented on #545
I might have left my comment in the wrong issue: https://github.com/rrrene/credo/issues/32 I can remove it if it's preferable.

So here it is again:

I would really like this to be extended to `case` statements too... For example:

[code]
looks really better than the non-pipe version. Am I missing something?

[2018-06-15 20:11] whatyouhide commented on #32
@hickscorp the fact that that looks better is very much a matter of opinion. Personally, I think it's extremely confusing because of all the indentation and all the things going on. I'd much rather have things **named**:

[code]

[2018-06-16 09:50] rrrene commented on #556
Thx for reporting! :+1:

[2018-06-16 09:50] rrrene commented on #557
Thx for reporting! :+1:

[2018-06-16 13:07] rrrene commented on #545
@hickscorp This is very much your personal taste. I would agree that we can make any check configurable to be able to accomodate your personal taste, but there no such thing as "really better".

I would very much prefer this over your proposed solution:

[code]

since it separates the `try`-block and the interpretation of its result (and it avoids the confusing `Tuple.insert_at/3` call).

But that

[2018-06-16 13:52] hickscorp commented on #545
@rrrene Gotcha.

At this point, anything discussed here just looks like a matter of personal taste anyways - you're suggesting to *name* things, then why wouldn't that also apply in the case of:

[code]

You get the point. IMO pipping into a `case` should be configurable (read *allowable*) somehow.

[2018-06-16 13:55] hickscorp commented on #32
@rrrene As I stated in the other issue, I agree to your comment, that it's a matter of taste. Therefore, a way of configuring that behaviour globally would be great.

[2018-06-16 17:16] ryanwinchester commented on #545
@hickscorp  Obviously any sort of code style checking or formatting is going to boil down to tastes in the end.

However, there are decisions that can be made about what _most_ people will find more easily readable and understandable. And yes, there will be some contention at the edges of these decisions (how often are the lines cut-and-dry clean?), but in general I think we can hash it out, and p

[2018-06-18 04:17] CollinChaffin commented on #422
Convert your profile and any file you're dealing with to UTF8 **WITH BOM**

[2018-06-20 06:58] MvanDiemen opened #559 "Slow loading in umbrella"
Hi there,

We are avid users of credo in our codebase, thanks for the project BTW

A couple of months ago we decided to move our project over to an umbrella, but as the umbrella started to grow we noticed the loading times for credo getting slower, whilst run time stays roughly the same. I am not sure what causes the issue and have tried some tweaking in the selection of paths to load but to no av

[2018-06-21 13:27] ejpcmac opened #560 "False positive on Readability.LargeNumbers"
### Precheck

It looks like #325 but is still around and in some really specific case.

### Environment

* Credo version (`mix credo -v`): 0.9.3
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 21.0 / Elixir 1.6.6
* Operating system: Fedora Linux

### What were you trying to do?

I am trying to check this code with Credo:

[code]

### Expected outcome

There should be no warnings.

### Actual out

[2018-06-24 21:17] rrrene commented on #559
@MvanDiemen `**/node_modules/` causes Credo to use `Path.wildcard/1` which can take a long time in large directory trees (a.k.a. node/js projects).

Try this line:

Replace the glob at the end with a regular expression:

[2018-06-26 08:32] MvanDiemen commented on #559
Using `~r"/node_modules/"` or `~r"/assets/"` improves the speed a bit, but not by the amount I'd expect.

With the following config:
[code]

It still takes 3.8 seconds to load compared to 0.09 for the monolith:
[code]

[2018-06-26 18:29] Apelsinka223 opened #561 "ABC size with Ecto query"
### Environment

* Credo version (`mix credo -v`): 0.9.0-rc8
* Erlang/Elixir version (`elixir -v`): 1.6.1
* Operating system: macOS

Got a warning on this function
[code]

`Function is too complex (ABC size is 34, max is 30).`

Not sure if it is correct behavior, but I didn't expect that Ecto query will be taken into ABC size

[2018-07-04 18:04] whatyouhide opened #564 "Proposal: replace case with true/false with an if"
In some codebases, I often see an heritage from Erlang:

[code]

In Elixir, this often is not necessary because we have `if`. The case above can be rewritten to

[code]

I think a check for this would help. If you agree, I can give it a shot!

[2018-07-04 18:21] rrrene commented on #564
@whatyouhide I agree :+1:

[2018-07-05 16:44] OvermindDL1 commented on #564
It's not a direct translation though as then the typespecs change.  `if` allows for truthy/falsey values, where the original case only allows for the specific `true`/`false` atoms, thus extra things that could be passed in that would pass typing that would not have with the original case.

[2018-07-05 18:58] rrrene commented on #564
@whatyouhide After thinking about this, I think we already have [a check like the one you described](https://github.com/rrrene/credo/blob/d67029dd543541f7a6ef62b31b62f5f02505ef77/lib/credo/check/refactor/case_trivial_matches.ex) which we deprecated [after this discussion](https://github.com/rrrene/credo/issues/65).

WDYT?

[2018-07-06 10:18] whatyouhide commented on #564
Yeah the arguments for not having it are compelling. I'll retreat :) Thanks for the help!

[2018-07-06 10:18] #564 closed

[2018-07-10 07:43] rrrene commented on #561
@Apelsinka223 You are right! :+1:

[2018-07-13 13:35] tckb commented on #530
this is exactly my issue! I would want to add my own doc for my scheduler. It's credo vs inch in my case. @Joao-M-Almeida  did you find any alternatives for this?

[2018-07-14 09:52] Joao-M-Almeida commented on #530
@tckb I disabled credo for this specific issue on this file. I used:
[code]

[2018-07-14 21:53] rrrene commented on #560
@ejpcmac Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-07-14 21:55] ejpcmac commented on #560
@rrrene Thank you! I’ll try this on Monday since my ready-to-try sample is at work. I’ve set a reminder.

[2018-07-14 22:11] #557 closed

[2018-07-14 22:12] rrrene commented on #557
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-07-14 22:34] rrrene commented on #521
FYI: This is fixed in Elixir `v1.7.0-rc.0`.

[2018-07-15 06:04] manukall commented on #521
Thanks :+1:

[2018-07-15 15:42] rrrene commented on #530
@whatyouhide Credo, at least for now, does not load the compiled project (it solely relies on static source code analysis).

That said, I am currently trying to re-iterate on [InchEx](https://github.com/rrrene/inch_ex), using the newly created EEP48 stuff from `Code.fetch_docs/1`. This project loads the compiled project and I could see integrating the results into Credo, if my dabbling yields any

[2018-07-16 08:51] ejpcmac commented on #560
@rrrene It’s good! Thank you :smile: :tada:

[2018-07-16 08:51] #560 closed

[2018-07-17 08:36] decentname opened #565 "\n or No \n at the end of file ?"
Credo throws a warning that there should be \n at the end of file while using mix format removes that \n. I think we need to decide whether we want this or not and accordingly update the formatting rules or credo rules.

[2018-07-17 08:47] whatyouhide commented on #565
`mix format` should ensure the file ends with `\n`. Is it removing all newlines from the end? 🤔

[2018-07-18 16:41] Joao-M-Almeida commented on #530
I think it makes sense to keep it. It still usefull in 90% of the cases. And in the cases where it doesn't work as expected it's easy to disable.

[2018-07-23 13:49] Apelsinka223 opened #567 "Proposal: Multi alias/use/import/require consistency check separate for each macro"
Hi, thanks for package! I noticed that credo counts multi/single usage of alias/use/import/require macroses to check consistency and I want to propose to count usage separate of each macro.
For example I used to write aliases with multi syntax and use/import/require with single syntax, and get warnings about use/import/require.

[2018-07-24 13:37] pdobacz opened #568 "Proposal: check for modulename vs filename consistency"
It would be awesome to have a tool that ensures that module names and filenames follow a certain convention, e.g. `ModuleX.ModuleY.ModuleZ` sits in `module_x/module_y/module_z.ex`, test modules in `/test/` have `Test` suffix and files end in `_test.exs` and so forth.

I am aware that having such a tool that satisfies everyone might not be easy, but maybe some degree of checking of respecting these

[2018-07-24 17:04] doomspork commented on #427
Somewhat related to this, I'm wondering if it would be worthwhile to update the `Credo.Check.Readability.Specs` check to account for `@impl` and not raise the requirement for a `@spec` on those functions.

Since the `Credo.Check.Readability.Specs` check doesn't actually validate the specs are correct I think we can safely do that the same for `@impl`.

This would be a good first step for our team

[2018-07-26 16:33] doomspork commented on #568
I have created this check in a project of mine.  If @rrrene is open to the idea of including such a check I would be happy to open a PR.

[2018-07-29 22:26] fertapric opened #569 "False positive "unnecessary quotes" warning"
### Environment

* Credo version (`mix credo -v`): 0.9.3
* Erlang/Elixir version (`elixir -v`):

[code]
* Operating system: macOS High Sierra

### What were you trying to do?

Running `mix credo --strict` produces warnings that do not appear when compiling the code.

Here is an example:

[code]

The current code produces:

[code]

### Expected outcome

No warnings for the given use case.

[2018-07-30 08:43] rrrene commented on #569
@fertapric Thx for reporting! :+1: Could you try Credo `v0.10.0` and report back if it solves this problem?

[2018-07-30 08:49] rrrene commented on #521
I am closing this issue since Elixir 1.7 is officially out. Thx again for bringing this up! :+1:

[2018-07-30 08:49] #521 closed

[2018-07-30 13:52] fertapric commented on #569
@rrrene Unfortunately, v0.10.0 does not solve this problem.

Proof [in this PR](https://github.com/fertapric/async_with/pull/24). The warnings in the [build](https://travis-ci.org/fertapric/async_with/jobs/409690658) are related to [this line](https://github.com/fertapric/async_with/blob/master/test/async_with_test.exs#L843), but that line does not emit warnings when is compiled by Elixir.

[2018-07-30 21:30] rrrene commented on #569
Found it! 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-07-30 21:32] rrrene commented on #542
@flaviogrossi @jestingrabbit Could you test using Elixir 1.7 and Credo 0.10.0 - this should be fixed now :+1:

[2018-07-30 21:38] fertapric commented on #569
It worked! 👏

[2018-07-30 21:56] rrrene commented on #556
@ntalfer This is a problem in Elixir 1.4 and 1.5 - can you test this with Elixir 1.6 or 1.7?

[2018-07-30 21:56] #569 closed

[2018-07-31 07:35] flaviogrossi commented on #542
I can confirm it works fine now. Thanks

[2018-07-31 14:47] rrrene commented on #542
Great!

[2018-07-31 14:47] #542 closed

[2018-08-08 09:34] weisslj commented on #428
@rrrene Was this fixed by 6089bd5?

@jonnysod Can you verify this is fixed for you? For me it is since this change.

[2018-08-08 09:57] jonnysod commented on #428
@rrrene Thanks the issue is solved for me.

[2018-08-08 09:57] #428 closed

[2018-08-23 14:18] fritsypeij opened #575 "AliasOrder throws false positive"
### Produces an incorrect error
[code]

### Passes correctly
[code]

[2018-08-26 15:57] jakub-gonet opened #577 "Storing operators in list fires consistency warning"
Credo version: 0.10.0
Elixir version: 1.7.2
OS: Manjaro

In one of my tests I've got this line:
`Enum.to_list(1..25) ++ [&+/2, &-/2, &*/2, &//2]`

I'm getting warning:
[code]

So, Credo thinks I'm using those Kernel functions as normal operators, but I'm using them as values.

Example:
[code]

[2018-08-30 01:33] winterchord opened #578 "Clean up `mix test` warnings"
### Precheck

There are two sets of warnings that pop up when running `mix test`:

1. quoted keyword warnings
1. `not expr1 in expr2` warnings

Would be nice to clean them up; reduce the output noise.

### Environment

* Credo version (`mix credo -v`): 0.10.0
* Erlang/Elixir version (`elixir -v`): 1.7.3
* Operating system: MacOS 10.13.6

### Notes

This issue will include two separate PRs that add

[2018-09-06 22:27] grossvogel opened #581 "Proposal: Enable 'safe' mode for parsing untrusted .credo.exs"
### What were you trying to do?

Run credo with a `.config.exs` file containing executable Elixir code, without having that code run on my machine. (The context is a kind of linter-as-a-service that runs on GitHub PRs and therefore operates on code from semi-untrusted sources.)

### Expected outcome

Credo reads the configuration without executing the code.

### Actual outcome

The code was execut

[2018-09-07 07:36] NobbZ commented on #581
In my opinion this safe mode should not be opt-in, but rather the default if it gets added. Then for trusted config files where I explicitly know that they need to "run" their code and I explicitly trust their contents, I'd like to specify `--trusted` to enable full evaluation.

[2018-09-07 11:57] rrrene commented on #575
Thx for reporting! :+1:

I added a test reproducing this issue!

[2018-09-07 11:59] rrrene commented on #577
Thx for reporting! :+1:

I added a test reproducing this issue.

[2018-09-07 12:00] #578 closed

[2018-09-07 12:01] rrrene commented on #578
@winterchord Thx for reporting (and fixing)! 😄 :+1:

[2018-09-07 12:17] rrrene commented on #581
@grossvogel @NobbZ I'm all for it.

I'd suggest to call the CLI option `--eval-config-file`, so that it's really clear what happens when you use it.

[2018-09-07 12:19] rrrene commented on #556
@ntalfer Any news on this one?

[2018-09-13 09:41] pdobacz opened #583 "complaints about format of operator "*" in @specs are in conflict with mix format"
### Environment

* Credo version (`mix credo -v`): 0.10.0
* Erlang/Elixir version (`elixir -v`):
[code]
* Operating system: Ubuntu 16.04

### What were you trying to do?

I'm trying to `mix format` and `mix credo` the following typespec:

[code]
This is the way `mix format` likes it

### Expected outcome

Credo should adhere to `mix format` and prefer the no-space version, but not sure. In any cas

[2018-09-14 19:29] rrrene commented on #583
Thx for reporting! :+1:

[2018-09-14 19:30] rrrene commented on #575
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-09-14 19:30] rrrene commented on #556
@ntalfer :+1:

[2018-09-14 19:30] #556 closed

[2018-09-14 20:18] rrrene commented on #575
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-09-14 20:18] rrrene commented on #583
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-09-14 20:44] rrrene commented on #477
@NobbZ Hi, thx again for this. Unfortunately, I am closing it due to "it being no longer applicable" in the latest version of Credo (IMHO, that is).

If you disagree, please re-open and elaborate! :+1:

[2018-09-14 20:44] #477 closed

[2018-09-16 15:56] #537 closed

[2018-09-16 16:07] rrrene commented on #476
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-09-16 16:17] rrrene commented on #52
This has been fixed for Elixir version `>= 1.6.0-rc`. :+1:

[2018-09-16 16:17] #52 closed

[2018-09-16 16:17] rrrene commented on #176
Hi, thx again for this. Unfortunately, I am closing it due to "it being obsolete" IMHO.

If you disagree, please re-open and elaborate! :+1:

[2018-09-16 16:17] #176 closed

[2018-09-17 07:56] pdobacz commented on #583
@rrrene Thank you, the issue appears to be fixed in `master`!

However, I might have bumped into some version of https://github.com/rrrene/credo/issues/575 with `master`. I am not able to make `credo` not complain about the aliases. I'll post mine there

[2018-09-17 08:05] pdobacz commented on #575
Hi, I might be getting a related error with:

[code]

I am however unable to arrange these so that I don't get a complaint. It worked with `0.10.0`, It works with `fdb8782cdac40d49824e973346ba2aa341427240`

[2018-09-17 13:40] pdobacz opened #585 "empty # FIXME is ignored by mix credo"
### Environment

* Credo version (`mix credo -v`): 0.10.0
* Erlang/Elixir version (`elixir -v`):
[code]
* Operating system: Ubuntu 16.04

### What were you trying to do?

`mix credo -a` on a file with `# FIXME` (i.e. no "contents")

### Expected outcome

[code]

`credo` should report the fixme regardless of the lack of comment. This is useful where the next line makes it evident, what's there to f

[2018-09-17 18:34] rrrene commented on #575
@pdobacz Ouch. It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2018-09-18 08:38] navinpeiris commented on #575
hi @rrrene, was having the same kind of issue as @pdobacz, can confirm that it's been fixed now

[2018-09-19 20:04] roehst commented on #561
@rrrene want me to take a look at how this could work smoother?

[2018-09-22 11:06] rrrene commented on #585
Hi @pdobacz, thx for this issue.

The current behaviour is by design and works as expected. The thinking behind it was that a `FIXME` comment should always include some text, i.e. the first steps toward fixing it.

Examples:

[code]

WDYT?

[2018-09-22 11:08] rrrene commented on #561
@roehst sure. The challenge will be how we can differentiate between cases where the check should raise an issue and where it doesn't. What are your thoughts on a solution here? White-listing some funs? Looking forward to hearing your thoughts!

[2018-09-24 14:34] roehst commented on #561
I will first look at how ABC works and what in a ecto SQL query command value makes it go up in each of the A, B and C counts. Then I'll come up with ideas. working on it.

[2018-09-24 14:34] roehst commented on #561
Can you assign me to it?

[2018-09-24 14:56] roehst commented on #561
Well one thing for certain is that here where are analyzing SQL and not Elixir because that's wthat the query boils down to. It is just running through the ABC counter because it is expressed as a DSL.

White-listing the Ecto DSL could be reasonable - it is not Elixir code - but then it brings the question, is the SQL query itself too complex? Would that be a good feature for Credo, I mean, split

[2018-09-24 15:31] OvermindDL1 commented on #585
I'm definitely +1 on forcing FIXME's and TODO's to have a trailing text as it makes `grep`ping for them far easier to discern!

[2018-09-24 18:53] roehst commented on #561
@rrrene got to something interesting here which is when I macro expand the `fun` as show above the ABC changes. Which leads me to wonder how the macro expansion and code complexity measures interact. But this shouldnt be an issue if we are just trying to whitelist Ecto.

[2018-09-24 20:27] roehst commented on #561
More interesting things, it seems like the access operator "." is being counted as a function call, so the table.field pattern raises the count.

[2018-09-24 21:13] roehst commented on #561
@rrrene  @Apelsinka223 TL;DR I m not 100% sure on this but my 2 cents it that the field access operator is being counted as function call so you are getting +11 points for it. So detecting when it is a call and when it is the field access operator should solve it (working on it)

[2018-09-25 00:52] axelson commented on #568
@doomspork do you have a link to your repo with a version of this check?

[2018-09-25 13:52] #575 closed

[2018-09-25 13:52] #577 closed

[2018-09-25 13:52] #583 closed

[2018-09-25 15:05] #476 closed

[2018-09-25 15:05] #478 closed

[2018-09-26 14:21] vasspilka commented on #476
Hey, yes the issue is solved, thanks for closing :)

[2018-10-01 13:36] roehst commented on #561
@rrrene

What is happening is. The query expression has names for tables that do not go through an assignment (as in x = y) so they do not get counted as variables by the ABCSize. So when the traversal finds the table name it assumes it is a function name and increments the B counter.

Here is where variables get "recognized":

https://github.com/rrrene/credo/blob/7b7ff9b820c9f694f0aa59cac7835e5f5

[2018-10-01 16:16] doomspork commented on #568
@axelson sorry I missed this (and Rrene's comment), I will dust it off and open a PR this week time permitting.

[2018-10-01 16:58] doomspork commented on #540
@progsmile / @bamorim have either of you started on this?

[2018-10-01 17:01] progsmile commented on #540
@doomspork started and not finished, you may close

[2018-10-01 19:57] roehst commented on #561
@rrrene I think I have a solution here, but I am not familar enough with the Elixir AST or with the code base to be 100% sure. Can anyone help here?

[2018-10-02 17:27] doomspork commented on #540
@progsmile / @bamorim I'd love to get your thoughts on the PR I opened: https://github.com/rrrene/credo/pull/588

[2018-10-05 09:41] fazibear opened #591 "Proposal: CodeClimate Checker changes"
I'm working on the rewrite of codeclime engine: https://github.com/fazibear/codeclimate-credo

Right now it's quite complicated. It's a separate application that uses `credo` as the dependency. The problem is that `credo` internals are changing. Updating to the new version is not so easy.

Most important thing is `--include` and `--exclude` switches in the command line.
I need to control these fro

[2018-10-05 12:48] pdobacz commented on #585
Hi @rrrene, thanks! If that's by design then OK, I will conform. Feel free to close this.

[2018-10-08 20:52] roehst commented on #561
The table names `f t d dt` are free variables in the sense that there is no assignment or formal parameter binding them in the function call, and Credo treats them as function calls. I think (not 100% sure) that without macros that would be enough, but within macros the DSL is not the same language as Elixir and what looks in Elixir as a free variable is something else.

Variable bindings and form

[2018-10-10 08:04] fazibear commented on #591
Anyway I've made two pull requests to push things forward:

1) Codeclimate formatter: https://github.com/rrrene/credo/pull/592
2) Include/Exclude switches https://github.com/rrrene/credo/pull/595

[2018-10-10 08:41] turion commented on #440
To me it seems those are two separate issues. In this case, the error should just be `cond statements should have a default (true) condition.' (though I disagree that they should). The `at least two other options` error only needs to be thrown when it actually occurs (which it doesn't here).

[2018-10-11 14:30] fazibear commented on #591
One more things to support codeclimate checker. Not all warnings was redirected to stderr. This PR https://github.com/rrrene/credo/pull/597 fixes that.

[2018-10-16 05:42] rrrene commented on #585
@pdobacz :+1:

[2018-10-16 05:42] #585 closed

[2018-10-23 08:37] isaac-rstor opened #601 "Proposal: Variable Rebinding is erroneous without a sigil"
A friend who uses erlang complained that elixir allows variable rebinding but thought it would be accepable if variable rebinding was allowed when the variable name contains a sigil...  As it turns out, elixir does allow you to name variables with an exclamation point, would this be a useful thing to offer, even if it's not included in credo by default?  I would be happy to contribute a change as

[2018-10-23 09:39] rwngallego commented on #518
I ended up putting it into an inline configuration to disable this DuplicateCode check in a file level:

[code]

[2018-10-23 18:20] roehst opened #602 "ABC Size incorrect with function calls"
### Environment

* Credo version (`mix credo -v`): 0.10.2
* Erlang/Elixir version (`elixir -v`): elixir 171 compiled with otp 19
* Operating system: Ubuntu

### What were you trying to do?

I was working on the #561 issue and while working on it i noticed that there were function calls that the ABC check was missing. Digging deeper I noticed that function calls with parameter lists go untouched.

[2018-10-24 02:25] alex88 opened #603 "AliasOrder throws false positive"
### Environment

* Credo version (`mix credo -v`): 0.10.2
* Erlang/Elixir version (`elixir -v`): Elixir 1.7.3 Erlang/OTP 21 [erts-10.1.1]
* Operating system: OSX 10.14

### What were you trying to do?

My aliases in the module look like:

[code]

### Expected outcome

No errors since Account is ordered compared to Repo

### Actual outcome

[code]

I've tried with both last published version and ma

[2018-10-24 12:13] rrrene commented on #602
Please submit a PR! I did not get to respond on my commit where you hinted at all this (sorry for that).

I would be interested in this as well. :+1:

[2018-10-24 12:23] #603 closed, assigned to nobody

[2018-10-24 18:03] alex88 commented on #603
Thank you so much @rrrene for the quick fix! 😄

[2018-10-29 13:55] roehst opened #607 "Proposal: match ABC metric to the original paper"
### What were you trying to do?

I am looking at the original ABC paper and there are a few differences from the current Credo implementation.

Paper is available at: https://www.softwarerenovation.com/ABCMetric.pdf

### Expected outcome

For example, the original paper suggests that the following constructs be counted as condition operations:

`== != =< >= < >` and `else case default ?`

### Actu

[2018-10-29 17:07] roehst commented on #602
@rrrene here is the branch I'm working on https://github.com/roehst/credo/tree/ast-annotations

It is in my fork, but the diff should be visible here: https://github.com/roehst/credo/pull/1

[2018-10-30 18:46] roehst commented on #602
@rrrene  The fix for this one is in #606

[2018-11-06 13:20] roehst commented on #568
@doomspork Can I help you with this?

[2018-11-06 14:41] roehst commented on #549
I'll try this one.

[2018-11-06 15:45] roehst commented on #568
@doomspork can you tell me what is necessary to finish your PR?

[2018-11-06 15:58] roehst commented on #549
@rrrene I have a prototype, will open a PR in a couple days.

[2018-11-06 16:01] roehst commented on #549
This gist has the prototype: https://gist.github.com/roehst/359730e68bc6b0425d61c52c8c221ea6

[2018-11-06 16:04] asummers commented on #549
There's a PR open @roehst https://github.com/rrrene/credo/pull/551 but it hasn't gotten any love. I truthfully forgot I opened it. Feel free to steal any of that code if yours gets some traction.

[2018-11-06 19:53] roehst commented on #549
@asummers nice to see we approached it the same way! good validation. I will steal your ideas :)

[2018-11-21 19:44] Ajwah opened #609 "Proposal: Annotate output with tags"
We are able to omit certain lines from credo inspection by including a comment something like:
# credo:disable-for-next-line Credo.Check.Refactor.CyclomaticComplexity

However, for beginning developers it is rather difficult to track the correct mapping between the output provided by Credo to the specific rule.
For instance, given the following output generated by Credo:
[code]

It would be helpfu

[2018-11-25 01:40] vraravam commented on #545
Another usecase is when using the `espec` library for tests:
`expect(json_data["id"]) |> to(eq(address.id))`
This syntax/style triggers the check across all my specs - and I would like to turn it off for the specific methods (`expect`? `to`?) or the whole folder (`specs`) itself.

[2018-11-27 09:32] kerryb commented on #410
I'm in favour of this too. The use case that sent me looking for the config option, and eventually ending up on this proposal, is that I'd like to enable the `Credo.Check.Readability.Specs` check for my business logic (`lib/myapp/**`) in a Phoenix application, but I don't find that adding specs to the web code (`lib/myapp_web/**`) adds much value. I know I can just add a `disable-for-this-file` to

[2018-11-30 21:33] vanjabucic commented on #500
Still seeing warnings with version 1.0.0
[code]

file content I believe this is coming from:
[code]
Linux, Erlang 20, Elixir 1.7.4

[2018-12-04 19:34] chulkilee commented on #410
+1 here to allow turning off some rules based on path, as not all code are same.

For [`Credo.Check.Design.AliasUsage`](https://github.com/rrrene/credo/blob/master/lib/credo/check/design/alias_usage.ex)

It is not necessary in some code. Actually, it may be even better to use fully qualified name in some cases since 1) module name is too general, or 2) make it explicit what it does in each line wi

[2018-12-05 22:25] chulkilee opened #611 "Credo.Check.Readability.StringSigils should not warn on multiline string"
### Environment

* Credo version (`mix credo -v`): 1.0.0
* Erlang/Elixir version (`elixir -v`): 1.7.4
* Operating system: mac

### What were you trying to do?

Use multiline string to wrap JSON string

[code]

### Expected outcome

No error from Credo.Check.Readability.StringSigils since it's already readable :)

Note that `~s` cannot be used in that case since it does not remove leading spaces (l

[2018-12-07 16:54] TreyE opened #613 "Proposal: Test Coverage and Report Card Command"
Add a new optional check:
Credo.Check.Warning.ExCoverallsUncovered.

If this check is configured to run, and you have also generated a
previous "cover/excoveralls.json" file, it will search for files missing
test coverage.

Add a new command:
report_card - generates a report card grading your modules.
It supports both console and HTML output formats.
The HTML output will add a file in credo/index.

[2018-12-09 19:04] asummers opened #616 "alias alphabetization not honoring `:as`"
### Environment

* Credo version (`mix credo -v`): 1.0.0
* Erlang/Elixir version (`elixir -v`):
[code]

* Operating system: OSX

### What were you trying to do?

Consider the following program:

[code]

### Expected outcome
When running `mix credo --strict` there will be no alias alphabetization warning.

### Actual outcome

[code]

Because `AA` follows `ABC` in alias order but precedes `ABC` in a

[2018-12-18 15:39] fazibear commented on #591
Any thoughts on that?

[2018-12-19 23:04] the-mikedavis commented on #457
@andrelip this is a late comment, but aren't you leaving that `Enum.to_list/1` value unused? If you're trying to realize the stream, you can just use `Stream.run/1` and match it to `:ok` if you like.

[2018-12-28 09:42] getong opened #617 "tag 1.0.0 not found in the github repo"

[2018-12-31 12:44] dimitarvp commented on #410
In favor of this proposal. `mix format` makes function without parameters have parentheses and Credo frowns upon it. I side with `mix format` and would like to instruct Credo to disable this check, either for a set of files or globally.

[2018-12-31 16:20] TreyE commented on #613
Closing as the PR was rejected.  Will submit with just new format, and remove the new check type.

[2018-12-31 16:20] #613 closed

[2018-12-31 16:22] TreyE opened #620 "Proposal: Module Report Card"
Add a new command.

report_card - generates a report card grading your modules.
It supports both console and HTML output formats.
The HTML output will add a file in credo/index.html.

This code is already implemented as pull request #619.

Please Note:  This proposal does not include the Code Coverage check introduced in the previous proposal, #613.

[2019-01-04 16:45] mkorszun opened #621 "Proposal: check number of module dependencies (warn about tightly coupled modules)"
### Environment

* Credo version (`mix credo -v`): `1.0.0`
* Erlang/Elixir version (`elixir -v`): `1.7.3`
* Operating system: `OSX 10.13.4`

### What were you trying to do?

Users are warned whenever their modules are:

* doing too much / many different things
* tightly coupled with too many other modules

by measuring number of module dependencies (cross module function calls).

### Expected outc

[2019-01-12 15:05] rrrene commented on #620
Please refer to https://github.com/rrrene/credo/pull/619

[2019-01-12 15:05] #620 closed

[2019-01-15 16:46] AtibaBryan opened #624 "Make Credo fail on unused variables and imports"
I'm new to the elixir ecosystem so far and this tool has been a major boon to keep me from checking bad code in.

Is it possible to make credo fail on unused variable warnings/unused import warnings?
This would a huge step to writing better code.

[2019-01-18 03:16] lucas-nelson opened #625 "Elixir 1.8 warning from ABCSize check"
### Environment

* Credo version (`mix credo -v`): `1.0.0`
* Erlang/Elixir version (`elixir -v`): `1.8.0`
* Operating system: MacOS 10.14.2 & Alpine 3.8 (docker container)

### What were you trying to do?

`mix credo`

### Expected outcome

No warnings from credo code.

### Actual outcome

[code]

[2019-01-18 03:20] lucas-nelson commented on #625
I can the same warning if I clone master, remove `.tool-versions` (so it will pick up the latest versions in my global config), and `mix test`.

(and one failed test - `test it should NOT report expected code (Credo.Check.Refactor.PipeChainStartTest)`)

[2019-01-22 13:00] lasseebert opened #627 "MapInto warning when already using Enum.into/3"
### Environment

* Credo version (`mix credo -v`): 1.0.0
* Erlang/Elixir version (`elixir -v`): 1.8.0 / 21.2.3
* Operating system: Ubuntu

### What were you trying to do?

[code]

### Expected outcome

No warning

### Actual outcome

It warns that "`Enum.into/3` is more efficient than `Enum.map/2 |> Enum.into/2`".
This seems like a bug, since I'm already using `Enum.into/3` and not `Enum.into/2`.

[2019-01-22 13:00] lasseebert commented on #627
By the way, this is `Credo.Check.Refactor.MapInto` ;)

[2019-01-24 14:22] TheFirstAvenger commented on #624
If you add
[code]
to `def project do` in your `mix.exs` then everything will use this setting, including things like mix test.

[2019-01-25 17:21] TylerWitt commented on #567
I agree. I'm not sure it is correct for a nested module to have the use/import/require modules extracted to the outer module, or anything inside `__using__` definitions of nested modules, though I'm not sure how hard that would be to detect.

[2019-01-25 20:44] rrrene commented on #616
@asummers I did not understand the issue at first, but you are right: If the language supports this, we should honor/support it.

I would accept a PR for this. :+1:

[2019-01-25 20:46] rrrene commented on #624
@AtibaBryan Closing this, since the original problem is solved outside of Credo. :+1:

[2019-01-25 20:46] #624 closed

[2019-01-25 20:48] rrrene commented on #625
Thx for reporting! :+1:

[2019-01-25 20:49] rrrene commented on #627
Thx for reporting! :+1:

[2019-01-26 02:31] asummers commented on #625
This is now fixed in `1.0.1`

[2019-01-28 14:08] asummers commented on #616
That code is a little more involved than I was expecting. Wrapping my head around it, but it looks like it should eventually be straightforward to add. It seems like some things can be a bit simpler as well, given this new constraint, so I may try to kill two birds with one stone. Will update when I have something.

[2019-01-28 21:55] princemaple opened #631 "`not in` is not available in Elixir 1.4"
### Environment

* Credo version (`mix credo -v`): 1.0.1
* Erlang/Elixir version (`elixir -v`): 1.4
* Operating system: travis CI

### What were you trying to do?
compile credo on Elixir 1.4

### Expected outcome
compiles fine

### Actual outcome
[code]

https://github.com/swoosh/swoosh/pull/336
https://travis-ci.org/swoosh/swoosh/jobs/485319511

[2019-01-29 08:00] #631 closed

[2019-01-29 08:00] rrrene commented on #631
@princemaple
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2019-02-01 04:16] asummers commented on #616
Okay so in my version locally, I have a test failure I don't think is actually correct. In `Credo.Check.Readability.AliasOrderTest` L10, why would `alias Credo.CLI.ExitStatus` not be alphabetically before `alias Credo.Check` and friends?

[code]

I believe this to be a bug in the current test

Additionally, I have it producing two failures in L119 with

[code]

because both `Command` and `Filename

[2019-02-01 11:09] devonestes opened #632 "Enum.into/3 not actually faster as the check says"
### Environment

* Credo version (`mix credo -v`): 0.10.2
* Erlang/Elixir version (`elixir -v`):
[code]
* Operating system: Linux Mint

The [current check](https://github.com/rrrene/credo/blob/master/lib/credo/check/refactor/map_into.ex) that recommens using `Enum.into/3` instead of `Enum.map/2` and then `Enum.into/2` says that the reason is because `Enum.into/3` is faster. However, when I benchma

[2019-02-01 15:37] RyanSiu1995 opened #633 "Proposal: show all possible issues"
I am working on the development plugin with credo. That plugin requires to map all credo possible issues into a particular format.
Therefore, I need to export the all current possible issues into json format. Any ideas on how I can export this kinds of information? Or it is a new feature for credo?
Thank you!

[2019-02-03 08:50] rrrene commented on #616
@asummers

* yes, L10 should not raise any issues
* as of now, L119 should raise a *single* issue (since `Command` and `Filename` are out of order, as you mentioned), so the test suite fails if the check raises two issues - but one might argue that raising two issues is philosophically "more correct" here 😄

[2019-02-03 08:57] #632 closed

[2019-02-03 08:57] rrrene commented on #632
@devonestes Good catch. I updated the check to only run for Elixir `< 1.8.0`. Thx for reporting this :+1:

[2019-02-03 09:01] rrrene commented on #633
@RyanSiu1995 `mix credo info --verbose` lists all checks (among other things) that will be part of the analysis:

[code]

You can get the output in JSON format by adding `--format=json`

[2019-02-03 11:13] #15 closed

[2019-02-03 11:49] #627 closed

[2019-02-03 11:53] #621 closed

[2019-02-03 13:45] asummers commented on #616
I guess I'm completely unclear why L10 should not have any issues. By Elixir ABC rules, `Credo.CLI.ExitStatus` comes before `Credo.Check.*`. What is the metric by which that should be alphabetically before?

[2019-02-03 16:06] lasseebert commented on #627
Thanks! ❤️

[2019-02-03 17:31] rrrene commented on #616
@asummers Just so we're clear, we are talking about this example:

[code]

Blocks should be alphabetically ordered (case-insensitive), which they are in this example. `Credo.Check` comes before `Credo.CLI`, because `H` comes before `L` (using uppercase letters for easier readability).

The check is case-insensitive because I think that humans do not associate "sort it alphabetically" with "sort it

[2019-02-03 17:39] asummers commented on #616
Yes, that is the one I am referring to. In  that example it would be:

[code]

since `Cc < Ch`. That seems correct to me. I can see the argument about casing somewhat, but given that module AND string sorts on that yield that order without normalizing case, any other behavior is divergent from that. I would expect as a user that if I stringified  the aliases and threw them into a list, and called

[2019-02-03 19:37] NobbZ commented on #616
I'd like to see email before TV in that example, as E is before T.

[2019-02-07 23:33] cdeyoung opened #634 "Proposal: Change to pipe chain should start with a raw value"
Credo version: 1.0.0
Erlang: 21.2.4
Elixir: 1.8.0
macOS

### Current behavior

Currently, Credo complains about code like this:

`
from(
  u in User,
  order_by: u.inserted_at
)
|> Repo.all()
`

or

`
Path.join(__DIR__, "file.txt")
|> File.read!()
`

with the message "Change to pipe chain should start with a raw value."  While I usually agree that function chains should begin with raw values, the

[2019-02-11 19:11] axelson commented on #634
I'd actually like to vote for removing `PipeChainStart` from the list of default checks and make it opt-in only since there are many cases starting from a non-raw value is much more readable and stylistically I don't believe that can be determined programmatically by Credo.

[2019-02-13 05:57] markevich commented on #634
Here is another bad example of `"Change to pipe chain should start with a raw value."` rule.

[code]
is more readable(in my opinion) than

[code]

[2019-02-13 13:50] eagle-te opened #635 "explain on file ending results in FunctionClauseError"
### Precheck

* Did a quick search, but no similar issue was found
* So far this issue was reproducible with another file
* college can reproduce issue

### Environment

* Credo version: 1.0.2
* Erlang version: OTP 21 (21.2)
* Elixir version: 1.7.4 (in project with asdf), actual: 1.8.0
* Operating system: Linux, dist:Manjaro, kernel:4.20.7-1-MANJARO
* Operating system (college): Linux, dist:debian

[2019-02-18 09:45] mtarnovan opened #637 "no function clause matching in Credo.Code.Name.full/1"
There's a repo that reproduces the issue: https://github.com/mtarnovan/credo_issue

#242 looks related

[2019-02-25 11:23] eagle-te commented on #431
@rrrene
Hi, I'm in need of some enlightenment. I'm trying to add a function to the `excluded_functions` section of `PipeChainStart`, but non of the variation I tried seem to work:
[code]
Credo still shows it as refactoring opportunity.
I've the feeling, that I'm doing something wrong.

[2019-02-27 10:39] sobolevn opened #639 ""credo:disable-for-this-file" does not work for "ModuleDependencies" check"
### Precheck

### Environment

* Credo version (`mix credo -v`):

[code]

* Erlang/Elixir version (`elixir -v`):

[code]

* Operating system: macos

### What were you trying to do?

I am trying to turn on `ModuleDependencies` on for all files. And ignore a single file that does not fit my rules. Here's the related code.

[code]

Configuration:

[code]

### Expected outcome

I expect this file to b

[2019-03-01 08:10] chulkilee commented on #611
I'm curious whether that info (string is multiline or not) is available to Credo.

[2019-03-01 20:22] chulkilee commented on #410
I think inline config should be considered as "exception" when it cannot be configured it with config file, and it should be minimized.

When I read the code, I'd want to focus on behavior, not "how this code is ignored by code checker".

[2019-03-02 03:18] vraravam commented on #410
@rrrene or any of the other collaborators - any update on if/when this might make it into a credo release?

[2019-03-02 11:05] Hajto commented on #634
The other problem with that is when you have test factory functions that just give you some example data based on file:

[code]

credo will keep complaining about:

[code]

[2019-03-02 23:51] tielur commented on #632
@devonestes do you have a link to where the performance improvements were added to elixir 1.8+?

[2019-03-07 16:17] #637 closed

[2019-03-07 16:20] rrrene commented on #637
@mtarnovan Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2019-03-07 16:20] rrrene commented on #635
@eagle-te :+1:

[2019-03-07 16:20] #635 closed

[2019-03-07 16:24] mtarnovan commented on #637
Thank you kindly René. We'll try out master and report back.

[2019-03-07 16:31] rrrene commented on #639
Hi @sobolevn,

great bug report! :+1:

You need to change

[code]

to

[code]

(notice how the second colon is missing in the fixed version)

[2019-03-07 16:31] #639 closed

[2019-03-08 14:02] asummers opened #641 "Proposal: Experimental "Avoid Multi Alias" Rule"
### What were you trying to do?
One thing that I find when entering a new large code base for the first time is that having multi-aliases, e.g.

[code]

makes the code significantly harder to grep for things. While I recognize not everyone shares my opinion here (same as with the `@spec` rule, for example), I would like to propose an off-by-default rule to disallow multi aliases. In the example ab

[2019-03-08 16:45] shmink opened #642 "Proposal: Spell checker in docs?"
This would be a crazy one but it just occurred to me. I personally use a spellchecker I like on my browser(s) called Grammarly.

It would be nice if there was a spell checker for the text within the `@doc` tags but of course excluding code blocks.

I don't know how feasible this is. I suppose you would need to include or make requests to a dictionary of some sort. What are your thoughts folks?

[2019-03-08 17:56] whatyouhide commented on #642
I think spell checkers are very subjective. For example, "Redix" is not a word in a dictionary but in the [Redix](https://github.com/whatyouhide/redix) documentation the term "Redix" appears everywhere. I think what would be more functional here is better editor support for spell checkers in documentation strings. That means having your text editor only run a spell checker in the documentation str

[2019-03-08 18:53] rrrene commented on #611
@chulkilee You are right, this should not warn for multi-line strings ("heredocs"). I'm not sure why it does, since I was not able to reproduce this.

Could you provide a file as a test-case? (oh, and sorry, I completely missed your issue 😔)

[2019-03-08 21:01] chulkilee commented on #611
Updated the example - it happens when I pass such string into pipe.

[2019-03-09 17:06] rrrene commented on #611
Got it. Thanks! Will work on a fix :+1:

[2019-03-09 17:28] #611 closed

[2019-03-09 17:28] rrrene commented on #611
@chulkilee
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2019-03-11 09:05] shmink commented on #642
I don't disagree with anything there. Perhaps there could be a way to add to the dictionary if it were to be implemented into credo.

[2019-03-11 12:22] mtarnovan commented on #637
Confirming the issue is fixed. Thanks again.

[2019-03-11 22:33] vanjabucic commented on #500
Still seeing the warning with the heredoc mentioned above.
Should the issue be reopened?

[2019-03-12 04:45] rrrene commented on #500
@vanjabucic Sure.

I am not sure what causes this. When I create a project with a single module that jut contains the module attribute you mentioned, I do not get this warning with Credo v1.0.3.

Could you try to post a minimal example to reproduce this?

[2019-03-12 10:18] sadir opened #643 "Proposal: Toggle ignoring multiline strings in RedundantBlankLines check"
Hey, thanks for maintaining this library! Just reporting a feature I would find helpful. For now I'm going to turn off the RedundantBlankLines check for certain files which is fine, so I don't view this as a high priority issue. More just feedback in case others are running into it too.

### Environment

* Credo version (`mix credo -v`):

[code]

* Erlang/Elixir version (`elixir -v`):

[code]

* O

[2019-03-13 06:16] yordis commented on #642
Believe me, you are not 😉

I don't think Credo (as today) could fix this without having a service like Grammarly.

What Credo could do is to open the API to allow people to inject spelling checkers (whatever that means) but that would be a rabbit hole for sure.

Since you are not the only crazy one @shmink I am trying to see if I can hook up some GitHub hooks for these type of things rather than b

[2019-03-18 14:00] rrrene commented on #641
I would merge a PR for the proposed check. :+1:

[2019-03-18 14:03] rrrene commented on #642
@yordis @shmink Credo Plugins will enable you to provide funtionality like this.

The Plugin System is in active development on this branch: https://github.com/rrrene/credo/tree/add-plugins

[2019-03-18 14:17] rrrene commented on #643
Thx for reporting! :+1:

I think we can assume all white-space in heredocs to be intentional and added a test reproducing this issue.

[2019-03-18 15:32] rrrene commented on #643
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2019-03-18 15:32] #643 closed

[2019-03-19 12:04] sadir commented on #643
Reporting back: resolved!

Thanks for the quick turnaround mate. Appreciate it. Keep doing you 👍

Will this go into a release soon?

[2019-03-20 19:01] axelson commented on #632
Has anyone benchmarked `Map.new/2`?, it handles the same case as `Enum.into(enumerable, %{}, transform_func)`

[2019-03-20 19:08] axelson commented on #602
Since #606 is merged, I believe that this can be closed.

[2019-03-23 16:08] #602 closed

[2019-03-23 16:08] rrrene commented on #602
@axelson Thx for pointing this out! :+1:

[2019-03-24 01:26] dragonwasrobot opened #645 "Proposal: add ignore_{docs, strings, eex} params to RedundantBlankLines check"
As the title suggest, I believe it could take sense to be able to ignore the `RedundantBlankLines` check inside `@doc`/`@moduledoc`, (multiline) strings, and EEx templates, by specifying these ignore cases as parameters in the `.credo.exs` file:
[code]

I can see that similar `ignore_strings` and `ignore_spec` params have already been implemented for checks like `MaxLineLength`.

[2019-03-24 13:32] rrrene commented on #643
@sadir Credo `v1.0.4` was just published and contains this fix.

[2019-03-24 13:33] rrrene commented on #645
@dragonwasrobot Credo `v1.0.4` was just published and ignores redundant blank lines in heredocs (multi-line strings) by default (as all white-space in strings should be considered intentional). :+1:

Since Credo is not parsing EEx templates, I think this "solves" your issue?

[2019-03-24 14:25] #645 closed

[2019-03-28 18:28] yukster commented on #507
I also denote my dollar amounts ending in '_00'. It would be great if the check just made sure a large number had underscores but without caring about the position.

[2019-03-29 01:45] indocomsoft opened #646 "Regression by v1.0.4: Commented-out heredocs"
### Environment

* Credo version (`mix credo -v`): 1.0.4
* Erlang/Elixir version (`elixir -v`):
[code]

* Operating system: macOS 10.14.4 Mojave

### What were you trying to do?
Running `mix credo`.

### Expected outcome
Before 1.0.4, Credo does not report any error on files with commented out heredocs, https://github.com/source-academy/cadet/blob/master/lib/cadet/course/course.ex#L98.

### Actual

[2019-03-30 17:59] rrrene commented on #646
Ha, great detective work! :+1:

[2019-03-30 18:00] rrrene commented on #646
@indocomsoft  Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2019-03-30 18:05] indocomsoft commented on #646
That seems to solve the issue. Thank you very much!

Will be looking forward to this being released on hex

[2019-04-04 14:59] sabudaye opened #648 "Proposal: Add anonymous functions to CyclomaticComplexity check"
### Environment

* Credo version (`mix credo -v`): 1.0.4
* Erlang/Elixir version (`elixir -v`): Elixir 1.7.4 (compiled with Erlang/OTP 21) [erts-10.2.1]
* Operating system: fedora 29

### What were you trying to do?
I found that CyclomaticComplexity check doesn't count anonymous functions (`fn`, `&`), but I think it is probably better to count them, because they add complexety for sure, as well as

[2019-04-05 08:13] NobbZ commented on #648
As far as I understand [cyclomatic complexity](https://en.wikipedia.org/wiki/Cyclomatic_complexity), creating anonymous functions do **not** add to CC, as they do not create a branch in the functions call graph.

They have a CC on their own though.

[2019-04-05 14:12] sabudaye commented on #648
Agree, anonymous functions do not add branch in call graph. But in this example:
[code]
there is few brunches, however according to current credo CC of this code - 0
According to my proposal is 2, which is probably wrong from CC definition point of view, but I think it is better than zero.

[2019-04-05 14:50] NobbZ commented on #648
Yeah, I think I understand what you are talking about and it makes kind of sense.

But single clause anonymous functions shouldn't give any penalties to the CC.

[2019-04-07 14:42] jiachen247 commented on #646
@rrrene thanks for the hard work! when will this be released on hex?

[2019-04-09 06:07] chengyin opened #650 "Proposal: show rule name in output"
### Environment

System:
  Credo: 1.0.4
  Elixir: 1.8.1
  Erlang: 21

### What were you trying to do?

When trying to disable a lint rule for a particular issue, it's hard to find out what is the name of the rule since the default output does not include that info.

### Expected outcome

Including lint rule name corresponding to each warning/error.

### Actual outcome

No lint rule name. Had to us

[2019-04-09 11:11] sabudaye commented on #648
Okay, then I'll close my "suggestion" PR. How it should work then? Which function should be the root of CC counter, in that cases:
1. One anonymous function with one branch inside the normal function:
[code]
2. Two anonymous function with one branch inside the normal function:
[code]
3. Nested anonymous functions inside the normal function:
[code]
4. What to do with functions from elixir standard

[2019-04-21 08:18] #641 closed

[2019-04-21 08:32] rrrene commented on #646
@indocomsoft @jiachen247 It's on hex now: https://hex.pm/packages/credo/1.0.5

Sorry for the delay! :+1:

[2019-04-21 08:32] #646 closed

[2019-04-28 15:20] lindem commented on #410
I think the ability to remind myself to make `@spec` annotations on all files **except** everything under  e. g. `web/controllers` would greatly increase the utility of the `Credo.Check.Readability.Specs` check.

I could be wrong though. IMO one of the things that make the `@spec` rule hard to use as a credo check is that a large number of files really do not need them, and inline comments are muc

[2019-04-29 10:59] Odaeus commented on #440
I just hit this slightly confusing message and found this issue, thanks! Would be great if the error messages could be separated or clarified. I see the issue was closed without resolution, perhaps it could be reopened?

[2019-04-29 18:39] crertel opened #653 "Proposal: Support configuration file as command-line argument"
I think it would be helpful to add the ability to manually specify a config file for Credo from the command line.

This would, for example, make it easy to do multiple configs for CI, dev, etc. if the settings are sufficiently different.

[2019-05-02 22:42] rodrigues opened #654 "StringSigils issue in 1.0.5"
### Environment

* Credo version (`mix credo -v`): 1.0.5
* Erlang/Elixir version (`elixir -v`): 1.8.1
* Operating system: Mac OS Mojave

### What were you trying to do?

There's a parse error when interpolating in a capture operator / anonymous function.

Here it's an isolate repo with the issue: https://github.com/rodrigues/credo_capture_string/blob/master/lib/credo_capture_string.ex#L19

### Exp

[2019-05-03 06:20] gylaz commented on #653
Can't you already do that with `--config-name` cli option?

[2019-05-03 08:12] rrrene commented on #410
I think this might be something we should revisit now that 1.0 has been published. The thing I wanted to avoid is that the number of ways in which something can be configured "explodes".

I am now :+1: for excluding checks for certain groups of files.

What I am still vary of is how we do this, namely

- the proposed syntax (making `exclude` a magic parameter in check configuration - this is possi

[2019-05-03 08:13] rrrene commented on #507
I would be open to merge a pull request implementing this proposal. :+1:

[2019-05-03 08:16] rrrene commented on #653
@crertel You should be able to do that using the existing options.

To quote from the output of `mix credo suggest --help`:

[code]

Does this solve your problem?

[2019-05-03 11:29] liskin commented on #654
This is a bug in elixir tokenizer itself: https://github.com/elixir-lang/elixir/pull/8995

[2019-05-04 22:16] crertel commented on #653
That does indeed solve my problem! I didn't spot that in my reading of the docs. Thank you very much, closing this issue. :)

[2019-05-04 22:16] #653 closed

[2019-05-15 19:46] wittjosiah opened #655 "Credo.Check.Readability.StringSigils warning being thrown with multiline string"
### Environment

* Credo version (`mix credo -v`): 1.0.3
* Erlang/Elixir version (`elixir -v`): 1.8.1
* Operating system: macOS

### What were you trying to do?

Use multiline string to wrap SQL query similar to:
[code]
Seems similar to https://github.com/rrrene/credo/issues/611 but using github dep I was still getting the issue.

Note quotes were needed around column name because it is an SQL key

[2019-05-16 16:19] wittjosiah commented on #655
After updating to 1.0.5 the issue seems to have been fixed.

[2019-05-16 16:19] #655 closed

[2019-05-22 03:02] pggalaviz commented on #634
I also vote for removing `PipeChainStart` from the list of default checks.

[2019-05-24 13:50] pavellishin opened #656 "Question: Is there a way to increase the timeout?"
Is there a way to increase the amount of time credo is willing to wait for parsing to complete? I would much rather wait an extra 20 seconds than see that some files weren't parsed, since I end up needing to run credo again anyway.

I tried running `mix credo gen.config`, but didn't see any obvious options related to this.

### Environment

* Credo version: 0.10.1
* Erlang version: Erlang/OTP 21 [

[2019-05-26 03:37] scouten commented on #500
FWIW I am still seeing something like this. Given that the warning is reported in `nofile`, I don't really know where to start looking for a minimal repro case. Now that my project is available in open source, I can show you the specific place where I'm seeing it. The error reproduces here:

https://travis-ci.org/elixir-git/xgit/builds/537335447

[2019-05-26 09:41] rrrene commented on #656
@pavellishin There is not at the moment. 5000 ms is just the default timeout for Tasks in Elixir. This behaviour was added in #576 to prevent builds from crashing, but I see that our current implementation is not ideal.

What would you propose?

[2019-05-27 05:25] rrrene commented on #500
@scouten That message comes from [Elixir's tokenizer](https://github.com/elixir-lang/elixir/blob/f44adfbeb01ba315be53ebbbe4e30007d83ffdce/lib/elixir/src/elixir_tokenizer.erl#L239) while reading `xgit`'s source.

I will have a look if we can do a better of pointing out the file which causes the issue :+1:

[2019-05-28 15:11] pavellishin commented on #656
I'm still fairly new to Elixir, but I'd propose either a flag to specify how long it should wait before giving up, or a tag to never give up (_never surrender!_) to err on the side of checking all the files.

[2019-05-29 23:22] robotpistol commented on #656
Something that would probably help alleviate this would be to add the ability to run credo on a given path. Giving it a directory rather than a single file which seems to be the current only alternative.

[2019-05-29 23:47] robotpistol opened #657 "Proposal: Accept paths in the CLI"
### Environment

* Credo version (`mix credo -v`): 1.0.2
* Erlang/Elixir version (`elixir -v`): 1.8.0
* Operating system: linux

### What were you trying to do?

I want the CLI to accept a directory path and to check all elixir files in that path.
Also least accept multiple file paths.

It seems that

### Expected outcome
Passing in a directory `mix credo apps/myapp`
[code]

Passing in 2 file path

[2019-06-01 06:36] whatyouhide opened #658 "Proposal: Checking "with" clauses"
I have been playing with a check that I believe is important, I called it `WithClauses`.

In a lot of codebases I've seen examples like this:

[code]

I always complain about this because using a `with` in this case makes the code more obscure and harder to read since I search for the semantics of `with` when what is actually happening is a `case`:

[code]

Furthermore, I sometimes see this:

[cod

[2019-06-03 09:26] rrrene commented on #658
@whatyouhide Absolutely :+1:

Are these two separate checks? It would seem so from your description (and it seems to me like two different "use cases").

[2019-06-03 09:28] rrrene commented on #657
Thx for reporting! :+1:

Both cases sound like "bugs" to me. Could you provide a minimal working example as a GitHub repo (since it seems that you are dealing with an umbrella app)?

[2019-06-03 09:34] whatyouhide commented on #658
@rrrene right now it's a single check and I think it belongs to a single check because as I see it you're either interested in having a correct `with` statement or you are not. If you want to separate the concerns, I think I would still go for options in the `WithClauses` check. Wdyt?

[2019-06-03 09:42] rrrene commented on #658
@whatyouhide Now I see what you mean. It's about clean `with` usage, just the recommended changes differ.

Fine with me :+1:

[2019-06-03 09:53] whatyouhide commented on #658
PR incoming!

[2019-06-03 16:28] robotpistol commented on #657
I don't think this is specific to umbrella projects,  you could replicate by just running

`mix credo test` on the credo repository.

[2019-06-03 16:31] robotpistol commented on #657
[code]

[2019-06-03 16:32] robotpistol commented on #657
[code]

[2019-06-03 17:44] TMSCH commented on #656
Hi! I'd also really like to see it configurable - @rrrene could this be an option?

[2019-06-04 04:40] #658 closed

[2019-06-04 08:51] lasseebert commented on #440
The example code from above:

[code]

is not just more explicit than

[code]

It is different. I have similar code in my project, and I want it to fail (runtime error) if an unexpected `thing` is provided.
I don't know how to rewrite that into something that is not a `cond` with two conditions.

Looking at the error message, it make sense to never use this, since it can be written as an `if`

[cod

[2019-06-04 11:25] whatyouhide commented on #440
@lasseebert you can have a `true` catch-all clause at the end and explicitly `raise` there. That's what I would go for.

[2019-06-05 22:31] tlux opened #660 "False positive for Consistency Warning"
### Environment

Credo version: 1.0.5
Erlang/Elixir version: 1.8.0
Operating system: macOS Mojave 10.14.5

### What were you trying to do?

I got the following code snippet in my project.

[code]

### Expected outcome

No warning should be emitted.

### Actual outcome

A warning is emitted:

    Consistency
    ┃
    ┃ [C] ↗ There are spaces around operators most of the time, but not here.

As it

[2019-06-06 21:39] lasseebert commented on #440
Thanks @whatyouhide. For now I have just disabled that check, since I would only `raise` to satisfy credo. It is not a code branch I would ever expect, so it would be hard to test, which makes it a good candidate for the built-in `CondClauseError` in my book.

[2019-06-10 06:10] #660 closed

[2019-06-10 06:11] rrrene commented on #660
@tlux Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2019-06-10 21:09] tielur commented on #561
I seem to be still getting this issue.

Elixir 1.8.2 (compiled with Erlang/OTP 22)
Credo 1.1.0

[2019-06-21 18:30] pavellishin opened #663 "Bug: Incorrectly finds references to module in a comment"
### Environment

* Credo version: 0.10.1
* Erlang version: Erlang/OTP 20 [erts-9.3.3.3] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:10] [hipe] [kernel-poll:false]
* Elixir version: Elixir 1.6.6 (compiled with OTP 20)
* OS: 10.13.6

### What were you trying to do?
Run credo on our project.

### Expected outcome
👍

### Actual outcome

[code]

But line 557 actually contains a comment:

[co

[2019-06-25 07:17] nyaray opened #664 "Proposal: Add support for regex-excluding comments from the TODO checker"
### Environment

* Credo version (`mix credo -v`): 1.0.5
* Erlang/Elixir version (`elixir -v`):

      Erlang/OTP 21 [erts-10.3.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe] [dtrace]
      Elixir 1.8.1 (compiled with Erlang/OTP 21)

* Operating system: macOS 10.14.5

### What were you trying to do?

Keeping TODOs out is good, but sometimes you find things and want to referenc

[2019-06-25 13:26] bencode opened #665 "credo@1.1.0 crashes, when sourcecode contain unicode heredoc"
# Environment

* Credo version (`mix credo -v`):
1.1.0

* Erlang/Elixir version (`elixir -v`):

[code]

* Operating system:

MacOS

### What were you trying to do?

[code]

### Expected outcome

### Actual outcome
<img width="120" alt="Screenshot 2019-06-25 at 9 16 18 PM" src="https://user-images.githubusercontent.com/769981/60101599-9efc5d00-978e-11e9-92f1-cefb8bd4c908.png">

### may be reason

i

[2019-06-25 18:54] halostatue commented on #410
I would be in favour of just having `excluded: []` where only filename patterns may be provided. When I’ve used Rubocop, I have _only_ excluded files on a rule, because the assumption is that you want to include everything by default. I think that line-by-line exclusions can and should be done in the file, as the file will be updated more frequently than `.credo.exs` should.

But otherwise, if `in

[2019-06-26 16:45] rrrene commented on #665
@bencode Thx for reporting! :+1:

Could you provide the heredoc that caused the crash or is the information sensitive? I tried to reproduce this in 2664240 to no avail.

[2019-06-27 14:03] laibulle opened #667 "Credo crash on elixir 1.9"
### Precheck

### Environment

* Credo version (`mix credo -v`): `0.9.3`
* Erlang/Elixir version (`elixir -v`):
[code]
* Operating system: OSX

[code]

[2019-06-27 14:08] laibulle commented on #667
Fixed in 1.1

[2019-06-27 14:08] #667 closed

[2019-06-28 06:47] bencode commented on #665
@rrrene try this file
https://gist.github.com/bencode/1c3d9f7af4c71d165ce2f5d84d030505#file-test-for-credo

[2019-06-30 00:12] RichMorin opened #671 "Bug: false positive of "[R] → Space missing after comma""
### Precheck

Done

### Environment

* Credo version (`mix credo -v`): 1.1.0
* Erlang/Elixir version (`elixir -v`): 1.9.0
* Operating system: macOS High Sierra (version 10.13.6)

### What were you trying to do?

    $ mix credo

### Expected outcome

    <crickets>

### Actual outcome

    [R] → Space missing after comma
      apps/info_files/lib/info_files/cnt_any.ex:193:50
       # (InfoFiles.Cn

[2019-06-30 20:59] jamesotron opened #672 "Credo failure on Elixir 1.9 with 1.1"
### Environment

* Credo version (`mix credo -v`): 1.1.0
* Erlang/Elixir version (`elixir -v`):
    Erlang/OTP 22 [erts-10.4] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
    Elixir 1.9.0 (compiled with Erlang/OTP 20)
* Operating system: macOS 10.14.5 and whatever version of Linux Gitlab CI runs containers in.

### What were you trying to do?

As part of my CI run I run `mix cr

[2019-07-02 07:45] skovmand commented on #665
I have the same issue in two modules. It goes away when I remove all the `@doc` blocks from the modules or if I disable the `MaxLineLength` check. There is only text in the doc blocks. The stack traces (with removed code, it's a private project).

[code]

and the other

[code]

[2019-07-02 08:56] skovmand commented on #665
I have tried to isolate the error, and ended up with this minimal file to reproduce the issue.

The error goes away by doing either one of these things:
- Deleting `@some_utf_8_char`
- Removing the body of the regular expression (`([a-zæøå]+)`)
- Removing the last `@doc` block

[code]

The stacktrace is:

[code]

[2019-07-02 09:01] skovmand commented on #672
This is a duplicate of https://github.com/rrrene/credo/issues/665

[2019-07-02 09:19] skovmand commented on #665
And now the same minimal file reproduced from my other failing module

The weird part here is that the issue can be resolved by removing any of the characters `æøå` from the `@danish_words` list. I found that the module only crashes if there are 6 characters of type `æøå`, if one is removed, the error disappears.

Try for example to replace the `@danish_words`  list to `["åååååå"]`, and it still f

[2019-07-02 12:26] skovmand commented on #665
I suspect that it has something to do with the different `byte_size`s of the involved international characters and emojis, since:

[code]

[2019-07-02 17:27] rrrene commented on #663
@pavellishin Thx for reporting this!

Unfortunately, I am a bit at a loss. Two aspects:

1) I do not recognize the Credo check - is it a custom one?
2) This might still be an error in Credo's utility functions: Could you update Credo to 1.1.0 and try again?

[2019-07-02 20:16] jamesotron commented on #672
Cool. Closing in favour of that then. Thanks.

[2019-07-02 20:16] #672 closed

[2019-07-02 20:23] k-cross commented on #665
I also have this issue on elixir 1.7.3

[2019-07-03 20:04] pavellishin commented on #663
Hm, I'm going to have to check at work and get back to you. I'll also check about upgrading.

[2019-07-05 12:33] turion opened #674 "Question: Can credo also just run after macro expansion?"
Assume I have some macro that generates the contents of a module for me:

[code]

Then `credo` will complain about `Foo` not having a `@moduledoc`, although the macro generates one. For example, `mix docs` will correctly create this documentation:

Is anything like this possible for `credo`? I.e. can't `credo` detect that the macro will create the `@moduledoc`?

[2019-07-05 15:48] NobbZ commented on #674
How far do you want to expand?

After a full expansion not even `defmodule` and `def` exist anymore…

The only way I see is to either disable the check for the project or the module.

[2019-07-08 09:28] turion commented on #674
I don't know what the typical stages are, but e.g. for `mix docs` it does expand `defmacro`, but not `defmodule` and `def`, so I guess about as far as `mix docs` does.

[2019-07-08 10:22] NobbZ commented on #674
`ex_docs` doesn't expand anything, it just pretty prints informations that are in the BEAM file after compilation into a nice HTML view.

I really think disabling the check per module is the best you can do.

Credo does not need other modules to be compiled or there source code available at all, this would change once macros gets expanded.

Also, sometimes the expanded macros would then introduce

[2019-07-08 10:55] turion commented on #674
Ah, I didn't know `ex_docs` worked that way.

Yes, I suspected that there isn't any good resolution by partially expanding some macros. Still, I wanted to at least document the issue.

[2019-07-08 10:55] #674 closed

[2019-07-11 18:46] sasa1977 opened #675 "Proposal: warn if function name contains uppercase letters"
Recently I've encountered a situation in a code review where the author named the function `to_CSV`. This immediately stroke me as unusual/non-idiomatic (see e.g. [Plug.HTML.html_escape](https://hexdocs.pm/plug/Plug.HTML.html#html_escape/1) as a counterexample). After thinking a bit about it, I can't really come up with an example where using uppercase name would be idiomatic, so I thought of writ

[2019-07-12 05:34] NobbZ commented on #675
Shouldn't this be handled by https://github.com/rrrene/credo/blob/master/lib/credo/check/readability/function_names.ex?

[2019-07-12 06:26] sasa1977 commented on #675
Oh, I totally missed that because the error is not reported (I just double checked, and it's indeed not reported). Since credo didn't complain about it, I just assumed that this is not verified. It appears there is a bug in this check, so I'll close this issue and investigate further.

Thanks!

[2019-07-12 06:26] #675 closed

[2019-07-12 08:48] sasa1977 commented on #675
FYI, I submitted a fix (and a couple of other improvements) in #676

[2019-07-12 20:14] robertpeacock22 commented on #665
Here is the smallest repro I can come up with for this issue:
[code]

This results in a similar stack trace to the one seen above:
[code]

[2019-07-17 04:29] rrrene commented on #664
@nyaray I played around with this idea on a branch: 0c30d9c

Is this what you had in mind?

[2019-07-17 04:29] rrrene commented on #665
Thx for reporting this! :+1: It should be be fixed in the latest version of Credo.

If it is not, please feel free to re-open this issue!

[2019-07-17 04:29] #665 closed

[2019-07-17 08:33] nyaray commented on #664
So, I wrote my example comment incorrectly 🤦‍♂ ... It was supposed to be `# TODO: (#54) adjust the flux capacitor properly`.

As the TODO above gives me credo issues I guess the proposal remains, but I should probably clarify my request as it seems the logic got inverted somewhere after I had the idea and spilled my word soup of a description.

When I prefix the description of the TODO (`# TODO: <

[2019-07-17 19:57] jamesotron commented on #665
I'm really sorry to report that it's still happening:

[code]

[2019-07-19 07:00] mroach opened #678 "Bug: Crash on Credo.Check.Readability.FunctionNames (v1.1.1 only)"
### Environment

* Credo version (`mix credo -v`): `1.1.1`

* Erlang/Elixir version (`elixir -v`):
[code]

* Operating system: Dockerized Elixir 1.8-Alpine running on macOS host system `Linux 3d3a97e5f8c9 4.9.125-linuxkit #1 SMP Fri Sep 7 08:20:28 UTC 2018 x86_64 Linux`

### What were you trying to do?

1. Upgraded from credo `1.1.0` to `1.1.1`
2. Ran `credo --strict`

### Expected outcome

Credo

[2019-07-20 18:32] jnylen commented on #665
Same here. Still a issue in 1.1.0.

[2019-07-21 21:54] lasseebert opened #679 "Sigils with capital letter not accepted by FunctionNames"
### Environment

* Credo version (`mix credo -v`): 1.1.1
* Erlang/Elixir version (`elixir -v`): Elixir 1.9.1 (compiled with Erlang/OTP 22) (Erlang 22.0.7)
* Operating system: Ubuntu

### What were you trying to do?

Defining a custom sigil with a capital letter (for example like the built in `~S`):

[code]

### Expected outcome

Since this is the Elixir way of defining capital letter sigils, it sh

[2019-07-22 09:06] bencode commented on #665
@jamesotron  it's ok for me!

use 1.1.1 and dont forget mix deps.get and mix deps.compile

[2019-07-22 09:18] hl commented on #678
Same for me:

[code]

Source file:  https://gist.github.com/hl/c535b594b24e858d0e5ccfff29280c7a

[2019-07-22 18:10] rrrene commented on #678
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2019-07-22 18:10] rrrene commented on #679
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2019-07-23 02:33] jamesotron commented on #665
You're right. My CI is caching the old version for some reason.

[2019-07-23 06:39] mroach commented on #678
@rrrene It's solved for me! Thanks for the fix!

[2019-07-23 07:40] lasseebert commented on #679
@rrrene Thanks a lot for the quick fix :)
I have tested on master, and it does not report a warning now :+1:

[2019-07-23 08:54] hl commented on #678
@rrrene it works, thanks!

[2019-07-23 11:32] rrrene commented on #678
@mroach @hl Great. Credo `v1.1.2` contains the fix. :+1: Thanks again for reporting this bug!

[2019-07-23 12:56] #678 closed

[2019-07-23 12:57] rrrene commented on #679
@lasseebert The fix is now also part of `v1.1.2` :+1: Thanks again for reporting this!

[2019-07-23 12:57] #679 closed

[2019-07-23 21:30] glenwinters opened #680 "Incompatible checks skipped and want to disable them"
### Environment

* Credo version (`mix credo -v`): 1.1.1
* Erlang/Elixir version (`elixir -v`): 1.8.2
* Operating system: macOS 10.14.5

### What were you trying to do?

I'm running credo to look for issues. I am seeing an `info` level warning about skipping incompatible checks. However, I don't have those checks listed in my config, so I'm not sure why they're running.

### Expected outcome

No w

[2019-07-25 16:00] techgaun opened #681 "Error while running Credo.Check.Consistency.SpaceInParentheses with ~s sigil"
### Environment

* Credo version (`mix credo -v`): 1.1.2
* Erlang/Elixir version (`elixir -v`): 21.3.8.3/1.9.0
* Operating system: Ubuntu 18.04 (Linux 4.18.0-041800-generic)

### What were you trying to do?
Run credo on the source code that consisted of `~s` sigil with interpolation. Below is the sample function that can be used to replicate the issue:

[code]

### Expected outcome

Run credo succ

[2019-07-30 06:55] lasseebert opened #682 "Macro sigils with uppercase letters"
### Environment

* Credo version (`mix credo -v`): 1.1.2
* Erlang/Elixir version (`elixir -v`): Elixir 1.8.2 (compiled with Erlang/OTP 21)
* Operating system: Ubuntu

### What were you trying to do?

[code]

### Expected outcome

No warnings

### Actual outcome

[code]

This is related to https://github.com/rrrene/credo/issues/679, only difference is that this is a `defmacro` instead of a `def`.

[2019-07-30 16:27] rrrene commented on #680
Credo merges your config with its default config to avoid any missing config-keys causing any problems. We merge the checks as well as their parameters, so that we can make changes to default parameters (unless you have specified your own value for a parameter). This is also the way we introduce new checks in minor version bumps.

Basically, disabling the checks will help you get rid of the `info`

[2019-08-02 09:48] Kitton commented on #591
@fazibear @rrrene is it possible to move on a solution for codeclimate somehow?

[2019-08-06 18:22] starbelly opened #683 "Proposal: Piping to case expressions"
### Precheck

* For proposing a new feature, be sure to name your issue "Proposal: ..."
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 1.x
* Erlang/Elixir version (`elixir -v`): 1.x
* Operating system: mac osx and linux

### What were you trying to do?

Running credo on a code base where their were insta

[2019-08-06 20:49] OvermindDL1 commented on #683
Piping into case is excessively useful to acting as a monad'y transformer though.

[2019-08-06 20:56] starbelly commented on #683
@OvermindDL1 Why not just put the case in a function?

[2019-08-06 21:49] OvermindDL1 commented on #683
@starbelly It splits a singular piped idea into forcing you to look in multiple places, breaking train of thought.  More functions is entirely recommended much of the time, but in other cases it makes the flow more difficult to understand as well.

[2019-08-06 21:51] starbelly commented on #683
@OvermindDL1 I'm all for keeping relevant behavior in one place, but in that case I would do:

[code]

[2019-08-06 22:14] OvermindDL1 commented on #683
It's a bit of a strawman, but look at it formatted inline:
[code]
Less packed expressions, shorter lines, easy to read and follow the flow of it, etc...

[2019-08-06 22:16] starbelly commented on #683
🤷‍♂ If the core and/or community prefers this I will yield.

[2019-08-06 22:18] OvermindDL1 commented on #683
Oh I still think it would make a useful check, I know some standards don't prefer it, but it is definitely not one that should be enabled by default.

[2019-08-07 10:37] sasa1977 opened #684 "Proposal: report `alias Foo, as: Bar`"
I'd like to introduce a new check which reports issues for every usage of `alias SomeMod, as: SomethingElse`. I propose that the check initially starts with the low base priority.

## Background

Recently I've entered a larger codebase where the usage of `alias ..., as:` is frequent and widespread. I personally find such renaming of modules highly confusing. Looking back, I can't recall a single t

[2019-08-07 11:07] cybrox commented on #684
As an example, Phoenix 1.4 suggests this now: `alias MyAppWeb.Router.Helpers, as: Routes`, which makes sense in their context, because the helpers module generates the `*_path` functions via macro, which are logical to use as `Routes.*_path`.

That is somewhat of an edge case, but I do think there are valid use-cases for `as:`.

[2019-08-07 18:05] rrrene commented on #591
@Kitton @fazibear I'm unsure where we stand on this. Is this still a problem?

[2019-08-07 18:07] rrrene commented on #683
@starbelly If you open a PR for this, I would probably merge it as an optional check. This way, people have a choice :+1:

[2019-08-07 18:08] rrrene commented on #684
I am sympathetic to the general idea of having a check for this.

[2019-08-07 18:42] starbelly commented on #683
@rrrene Will do as soon as possible.

[2019-08-07 19:06] sasa1977 commented on #684
Cool! I'll prep a PR then.

[2019-08-08 07:04] Kitton commented on #591
I believe it's blocking from using the last version of credo with codeclimate, is it correct @fazibear ?

[2019-08-08 07:28] tobiasamft opened #685 "Credo crash on elixir 1.9.1"
### Precheck

Related to #667

### Environment

* Credo version (`mix credo -v`):
1.1.2

* Erlang/Elixir version (`elixir -v`):
Erlang/OTP 22 [erts-10.4.4] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [hipe]

* Operating system:
  - Linux
  - Docker, image: elixir:1.9.1-alpine

### What were you trying to do?
Running `mix credo --strict` within `elixir:1.9.1-alpine` container in D

[2019-08-08 19:25] tielur opened #687 "Default Credo Check dialyzer issue"
### Environment

* Credo version (`mix credo -v`):
[code]
* Erlang/Elixir version (`elixir -v`):
[code]
* Operating system:
[code]

Using dialyxir 1.0.0-rc.5

### What were you trying to do?
Create a custom check plugin via `mix credo.gen.check lib/credo/test_check.ex`

### Expected outcome
Dialyzer doesn't have issues

### Actual outcome
[code]

[2019-08-12 21:27] whatyouhide commented on #683
Maybe worth adding `if`/`unless` too :)

[2019-08-12 22:23] OvermindDL1 commented on #683
Likely yeah.  I do pipe into `if`/`unless` at times as well.  ^.^;

[2019-08-13 17:53] #687 closed

[2019-08-13 17:53] rrrene commented on #687
@tielur Thx! :+1:

[2019-08-15 12:14] asummers commented on #684
@sasa1977

Another data point, the `:as` renaming is useful when you organize your folders as the "name" and the modules are named the same in these folders as in e.g. GraphQL. You might have something like:

[code]

While this folder organization scheme is absolutely inappropriate for many projects, there are classes of projects where this makes a ton of sense. At this point when you aliass more

[2019-08-15 12:26] cybrox commented on #684
@asummers I actually wanted to bring up this example instead of the Phoenix one in my first reply. However, while writing, I figured I should stop doing this...
[code]

...and just do this instead...
[code]

...which I personally wouldn't mind credo teaching people right away. I didn't realize I was doing something that seemed kind of stupid to myself for years. :sweat_smile:

Do you see any downs

[2019-08-15 12:30] asummers commented on #684
It makes grepping for code much more difficult. I call those "partial aliases" and discourage their use.

If I see a function call in some module A and see `Foo.Bar.Baz.frobnicate/2` get called and I want to see where else that's used, I don't want to have to grep for the parts of that module name (`"Foo frobnicate"` might have hundreds of results for example!), I want to be able to search for pla

[2019-08-15 12:36] cybrox commented on #684
I see, thanks a lot for elaborating!

[2019-08-15 13:10] liveforeverx commented on #684
Would it be better?

`alias MyApp.Resource2`

And than using `Resource2.Resolver.some_function`. This makes it much more searchable. To use `:as` option just to remove point seems not gaining much or?

[2019-08-16 12:31] sasa1977 commented on #684
I personally dislike this approach as I find it more difficult to read. Once I encounter `Resource1Resolvers` I'm not really sure what it means, and have to go back to the aliases and keep this mapping in mind.

Doing `alias Resource1`, and using `Resource1.Resolvers` makes more sense to me

There are better ways of finding references. You can use [mix xref.callers](https://hexdocs.pm/mix/Mix.Task

[2019-08-16 14:37] OvermindDL1 commented on #684
Entirely agree.  I've had to turn down credo's suggestion of lifting the namespace because it would report *way* too many because of identical modules in different namespaces because of behaviour patterning.

[2019-08-16 15:25] sasa1977 commented on #684
You're talking about [this](https://github.com/rrrene/credo/blob/master/lib/credo/check/design/alias_usage.ex)? If so, I'm not a fan of this check, and I feel that it is obsolete, since you can get the same via xref API. Currently there is no support for something like `mix xref dependencies MyMod`, but the API provides enough to make it straightforward to write such task.

[2019-08-16 15:30] OvermindDL1 commented on #684
Yes, exactly.

Sounds PR time?  ^.^

[2019-08-20 04:04] #684 closed

[2019-08-21 09:45] ourway opened #694 "False positive no unused return values for Enum functions"
### Precheck

* For proposing a new feature, be sure to name your issue "Proposal: ..."
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 1.1.2
* Erlang/Elixir version (`elixir -v`): 1.9.1
* Operating system: 4.19.66-1-MANJARO

### What were you trying to do?
[code]

### Expected outcome

No warnings

### A

[2019-08-21 10:28] NobbZ commented on #694
In general, `Enum.map/2` is used to transform a list, its result is **ment** to be used.

If you do process a list item by item solely for its side effects, then `Enum.each/2` is what you want.

[2019-08-22 18:40] VitorTrin opened #695 "Credo.Check.Readability.StringSigils parsing error"
### Environment

* Credo version (`mix credo -v`): 1.1.3
* Erlang/Elixir version (`elixir -v`): 1.8.2 OTP 21
* Operating system: Manjaro

### What were you trying to do?

[code]

### Expected outcome

No errors, no warnings

### Actual outcome

[code]

Please note, if I do

[code]

there are no crashes

[2019-08-28 23:38] #694 closed

[2019-08-31 07:21] ityonemo opened #696 "snake case warning triggering on... more ununsual forms."
### Environment

* Credo version (`mix credo -v`):
1.1.3
* Erlang/Elixir version (`elixir -v`):
1.9.1
* Operating system:
linux

### What were you trying to do?

[code]

see https://github.com/ityonemo/state_server/blob/master/lib/state_server/at_state_graph_macro.ex

### Expected outcome
no complaint

### Actual outcome
[code]

[2019-08-31 07:21] ityonemo commented on #696
will submit PR soon.

[2019-08-31 17:24] ityonemo commented on #696
https://github.com/rrrene/credo/pull/697

[2019-09-01 18:26] rrrene commented on #695
Thx for reporting this issue :+1:

I tried to reproduce this but failed. You can see what I tried here: d757fdb

Can you provide any additional information that could help track down this error?

[2019-09-01 18:26] rrrene commented on #696
Thx you very much for this! 👏

Your changes are released as part of `v1.1.4`!

[2019-09-01 18:26] #696 closed

[2019-09-01 18:28] rrrene commented on #682
@lasseebert I lost track of this. Is this still an issue in Credo `v1.1.4`?

[2019-09-01 21:03] lasseebert commented on #682
No it's not a problem anymore :)

I didn't really noticed, since I only used `sigil_U` for UTC datetimes in tests, but that was added natively in Elixir 1.9, so I removed my own definition.

I just tested on Credo 1.1.3 and 1.1.4 and it is no longer an issue :+1:

[2019-09-01 21:03] #682 closed

[2019-09-04 15:59] Nefcairon opened #698 "Check "Trailing white-space at end of a line" with Windows"
### Environment
* Credo version (`mix credo -v`): 1.1.4
* Erlang/Elixir version (`elixir -v`): 1.7.1
* Operating system: Windows 10

### What were you trying to do?

I am running 'mix credo --strict' on my elixir project. I am using Visual Studio Code which saves my files with line endings in Windows style.

### Expected outcome

The check "There should be no trailing white-space at the end of a l

[2019-09-10 13:48] VitorTrin commented on #695
Hi, just came back from vacation.
I forgot to mention the problem requires credo to be run with `--strict`
Here is the code I used to reproduce https://github.com/VitorTrin/credo_crash

[2019-09-16 18:04] #681 closed

[2019-09-19 15:07] ityonemo commented on #695
does not crash when running --strict with:

credo:
1.1.3

elixir:
Erlang/OTP 22 [erts-10.4.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]
Elixir 1.9.1 (compiled with Erlang/OTP 21)

[2019-09-20 15:48] Odaeus opened #699 "Proposal: warn on Mix.env usage in runtime files"
Hi, I hope this proposal makes sense, I'm relatively new to Elixir!

### Environment

* Credo version (`mix credo -v`): 1.1.4
* Erlang/Elixir version (`elixir -v`): Elixir 1.7.4 (compiled with Erlang/OTP 21)
* Operating system: Ubuntu Linux

### What were you trying to do?

My program failed upon deployment because `Mix.env` was called inside runtime code. This works fine in dev and test environme

[2019-09-29 13:28] bradleygolden commented on #452
@rrrene, I opened up a PR for this mostly mirroring the [module doc](https://github.com/rrrene/credo/blob/master/lib/credo/check/readability/module_doc.ex) check.

Some basic assumptions that I made are:

1. Sometimes people might want to ignore a public function, though I can't think of a case where you wouldn't use `@doc false` instead. Any case you can think of would be helpful as I'm fairly ne

[2019-10-03 13:03] bradleygolden commented on #452
Any thoughts on what I should do for the case where someone has provided documentation metadata but no doc attribute for the description?

Throws a warning `Use @doc false if a function will not be documented.`:

[code]

Should I still throw a warning that the user need to provide an @doc description?

Doesn't throw a warning:

[code]

[2019-10-03 16:29] rrrene commented on #452
@bradleygolden The check you are creating has the same "problems" the original `@moduledoc` check has: It does not capture module attributes created via meta programming, since Credo does not compile the project it analyses.

Any rules you might come up with have probably already been covered by [`inch_ex`](https://github.com/rrrene/inch_ex) which has been updated to `2.0` since this issue was fil

[2019-10-03 22:36] bradleygolden commented on #452
Makes sense... I wasn't aware of inch_ex prior to this. Should this issue be closed out in lieu of using inch ex for documentation related checks?

[2019-10-08 02:06] marocchino opened #701 "Error on Elixir.Credo.Check.Consistency.SpaceInParentheses"
### Precheck

* For proposing a new feature, be sure to name your issue "Proposal: ..."
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`):
1.1.4
* Erlang/Elixir version (`elixir -v`):
Erlang/OTP 22 [erts-10.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]

Elixir 1.9.1 (compiled with Erlan

[2019-10-08 02:16] marocchino commented on #701
It was

[code]

[2019-10-08 11:39] lasseebert opened #702 "Time consumed by AliasUsage seems to be exponential"
### Environment

* Credo version (`mix credo -v`): 1.1.4
* Erlang/Elixir version (`elixir -v`): Elixir 1.9.1 (compiled with Erlang/OTP 22)
* Operating system: Ubuntu

### What were you trying to do?

`mix credo` a large test file of around 4,000 lines

### Expected outcome

Be done in around a second

### Actual outcome

It took 65 seconds

### Minimal example

I have reproduced the issue with thi

[2019-10-08 11:58] NobbZ commented on #702
I'm not sure if this is related, but what I realised quickly was, that there have been at least two occurences of `list_passed_into_function ++ new_items`.

This is a clear danger sign to me.

[2019-10-09 04:42] rrrene commented on #701
Thx for reporting this :+1:

[2019-10-09 04:43] rrrene commented on #698
This is clearly a problem. Thx for reporting this :+1:

[2019-10-11 12:15] fuelen opened #703 "There are spaces around operators most of the time, but not here"
### Environment

* Credo version (`mix credo -v`): 1.1.5
* Erlang/Elixir version (`elixir -v`): 1.8.1
* Operating system: Linux

Credo reports
[code]
for the following line:
[code]

[2019-10-14 13:52] nulian commented on #685
Need to disable duplicate code to use credo for now with elixir 1.9.

[2019-10-15 08:56] rrrene commented on #702
@lasseebert @NobbZ Ouch. Could you try my fix as described in #704? Thx for reporting! 👍

[2019-10-15 09:09] lasseebert commented on #702
@rrrene

I have measurered the wall time spent in my project with AliasUsage enabled:

Time spent in 1.1.4: 53s474
Time spent in fix branch: 3s405

:tada: Good job!

By the way:
When updating credo with mix `deps.get` or mix `deps.update` and then run `mix credo`, it runs on the old (previously compiled) version. I need to explicitly `mix deps.compile credo` to use the updated version if it was no

[2019-10-15 14:57] TheFirstAvenger opened #705 "ModuleDependencies doesn't ignore umbrella test folders by default"
### Environment

* Credo version (`mix credo -v`): `1.1.5`
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 21 [erts-10.2.2] Elixir 1.9.0 (compiled with Erlang/OTP 20)
* Operating system: Mac OS 10.13.6

### What were you trying to do?

run `ModuleDependencies` check

### Expected outcome

Ignores umbrella test folders by default

### Actual outcome

warns on too many dependencies in umbrella tes

[2019-10-16 14:02] rrrene commented on #702
I think this is a Hex thing. I also have to do this when I use deps locally with the `path:` keyword.

I will clean up the branch with the fix and release a patch soon. :+1:

[2019-10-17 08:52] rrrene commented on #699
This seems like a great addition!

[2019-10-17 08:53] rrrene commented on #705
I commented in #706

[2019-10-18 19:48] #705 closed

[2019-10-29 14:15] devonestes opened #709 "Proposal: Warn on async tests using non-async safe behavior"
There are some things that you can do in a test that's run asynchronously that you shouldn't do, like using `ExUnit.CaptureIO.capture_io/2` with a device other than `:stdio`. It would be nice if Credo warned you that you're doing something that is potentially going to result in flaky or incorrect tests.

Sound like something that you'd be interested in having? I can put the PR together if you are!

[2019-10-30 13:47] joshuawscott commented on #685
I had this same error, but after removing the `_build` directory in my app, credo works without issue. I've been unable to replicate the problem since then. I did notice that running `mix credo` doesn't do any dependency checks or compiling when I changed versions, so perhaps that is the issue?

[2019-11-01 20:20] TheFirstAvenger opened #710 "alias __MODULE__, as: Foo crashes AliasAs check"
(PR with fix incoming)

### What were you trying to do?

Enable `AliasAs` check on a project that had `alias __MODULE__, as: Foo`

### Expected outcome

Successfully warns about use of alias as

### Actual outcome

Credo crashes without indication as to why

[2019-11-06 16:16] TheFirstAvenger opened #712 "PipeChainStart with :atom excluded fails on nil"
The following code:
[code]

will fail the `PipeChainStart` test even when `excluded_argument_types: [:atom]` is set. A logic issue with using `List.first()` and the list of arguments is the root cause of this.

Fixed in https://github.com/rrrene/credo/pull/713

[2019-11-14 19:33] anthonator opened #715 "Proposal: additional SpaceInParentheses format"
### Environment

* Credo version (`mix credo -v`): 1.1.5
* Erlang/Elixir version (`elixir -v`): 1.9.4
* Operating system:
[code]

### What were you trying to do?

The current  options for `SpaceInParentheses` support the following formats:

[code]

and

[code]

We'd like to propose a third format that allows spaces around `{` and `}` but not `(`, `[` or `]`, `)`.

### Expected outcome

The followi

[2019-11-14 19:42] anthonator opened #716 "Proposal: break out SpaceInParentheses, SpaceInSquareBrackets, SpaceInCurlyBrackets"
### Environment

* Credo version (`mix credo -v`): 1.1.5
* Erlang/Elixir version (`elixir -v`): 1.9.4
* Operating system:
[code]

### What were you trying to do?

Have separate checks allowing independent spacing rules for parentheses (`()`), square brackets (`[]`) and curly brackets (`{}`).

### Expected outcome

New checks are created that provide spacing rules for different parentheses and brac

[2019-11-14 20:40] OvermindDL1 commented on #715
I don't see how this could work, the formatter will remove the spaces every time...

[2019-11-20 05:34] retgoat opened #717 "Credo.Check.Consistency.UnusedVariableNames fails with error"
### Precheck

* For proposing a new feature, be sure to name your issue "Proposal: ..."
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 1.2.0-dev
* Erlang/Elixir version (`elixir -v`):
  * Erlang/OTP 22 [erts-10.4.3] [source] [64-bit] [smp:8:8][ds:8:8:10] [async-threads:1] [hipe] [dtrace]
   * Elixir 1.9.

[2019-11-20 23:45] bbtdev opened #719 "credo should also check *.exs files in the test folders, of umbrella apps"
Hi,

So I have an umbrella app, and I would like to have credo check the test files as well. What am I suppose to add in the config, to make this work?
 included: ["apps/"],
 excluded: ["_build/", "deps/"]

Considering the test folders are in their respective apps folder.

[2019-11-21 12:53] turion opened #720 "Is not aware of imports"
### Environment

* Credo version (`mix credo -v`): 1.0.5
* Erlang/Elixir version (`elixir -v`): Elixir 1.9.1 (compiled with Erlang/OTP 21)
* Operating system: NixOS unstable

### What were you trying to do?

Consider this module, where we've defined our own local `length` function.

[code]

### Expected outcome

No error

### Actual outcome

[code]

[2019-11-23 06:18] mhanberg commented on #685
I just ran into this setting up CI with GH actions.

Credo stopped passing when I started caching the `_build` directory to cache the Dialyzer PLT.

[2019-11-23 15:48] #698 closed

[2019-11-23 16:03] #710 closed

[2019-11-23 20:56] rrrene commented on #720
You've got a point there. Thx for reporting! 👍

We'll have to see how to handle this.

[2019-11-26 08:40] #712 closed

[2019-12-02 22:40] TheFirstAvenger commented on #703
@fuelen I was unable to reproduce this locally, is this still happening? If so, can you provide a larger code sample or a public repo with the minimal code that reproduces it?

[2019-12-03 02:24] TheFirstAvenger commented on #699
@Odaeus @rrrene I put together a check that warns on `Mix.env` based on the `IO.inspect` check:

https://github.com/rrrene/credo/pull/721

[2019-12-03 03:19] TheFirstAvenger commented on #695
@rrrene I was able to reproduce this via the example repo given and running Elixir `1.8.2`. Looks like `Heredocs.replace_with_spaces()` is turning:
`"defmodule CredoCrash do\n  @moduledoc false\n  def hello(function) do\n    parameter = 1\n\n    function.(\"'\#{parameter}'\")\n  end\nend\n"`
into the invalid code:
`"defmodule CredoCrash do\n  @moduledoc false\n  def hello(function) do\n    paramet

[2019-12-03 08:18] fuelen commented on #703
@TheFirstAvenger
file `test.exs`
[code]
[code]

[2019-12-04 02:09] TheFirstAvenger commented on #671
I was able to reproduce this issue on `v1.1.0` on elixir `v1.9.0`, but not on `v1.1.1`. @RichMorin can you verify that it is working as expected for you on a newer version?

[2019-12-04 02:49] TheFirstAvenger commented on #717
@retgoat is there a reason you closed the PR that fixes this? I also see the same crash and the code change you proposed fixes the issue.

[2019-12-04 04:14] retgoat commented on #717
@TheFirstAvenger yeah, that fixes. But code works in opposite direction. I mean credo pops up a warning to underscored variable instead of not used. So I got a lot of warnings for `_foo` variables

[2019-12-05 02:01] TheFirstAvenger commented on #717
@retgoat And you are sure your codebase uses more `_model` than `_`? If you search across all files for "` _ `" and `_)`, does it find more instances of that than credo warnings for underscored variables?

[2019-12-05 02:12] TheFirstAvenger commented on #719
@bbtdev What check is not succeeding? I just verified in a test .exs in our umbrella that a `String.to_atom` threw a credo warning. We are using the default config:
https://github.com/rrrene/credo/blob/master/.credo.exs#L24-L25

[2019-12-05 03:14] TheFirstAvenger commented on #701
This is a duplicate of https://github.com/rrrene/credo/issues/681 caused by the sigil inside the string interpolation. It was fixed in https://github.com/rrrene/credo/commit/0a2a89442d3633799b457a285aba851dd6b3d04f

[2019-12-05 03:19] TheFirstAvenger commented on #680
I believe this can be closed as it was addressed in https://github.com/rrrene/credo/commit/cb293291d518ea38c6e732dc04504b0bb2e8e06a

[2019-12-05 13:36] TheFirstAvenger commented on #685
@tobiasamft In your environment, Credo seems to be calling `Inspect.Algebra.to_doc/2` on this line:
https://github.com/rrrene/credo/blob/v1.1.2/lib/credo/check/design/duplicated_code.ex#L184
but the `%Inspect.Opts{}` that gets passed as the second argument is missing the `inspect_fun` attribute. That attribute was added in Elixir `1.9.0` which seems to indicate that your credo dep is compiled on a

[2019-12-05 16:38] TheFirstAvenger commented on #685
@mhanberg if you are caching the `_build` directory, you need to make sure the Elixir and Erlang versions are in your cache key so it busts the cache on a version upgrade. Here is a good example of how to do that on CircleCI:
https://github.com/poanetwork/blockscout/blob/d7d242e44bb694099de5b7abfe186e51198bce45/.circleci/config.yml#L27-L38

[2019-12-06 17:14] glenwinters commented on #680
@TheFirstAvenger Thanks. Looks like that fix was released in 1.1.3.

[2019-12-06 17:14] #680 closed

[2019-12-06 18:49] TheFirstAvenger commented on #654
I was able to reproduce the issue in Elixir `1.8.1` but not in `1.9.0`. @rodrigues can you confirm it works for you in `1.9`?

[2019-12-06 18:50] TheFirstAvenger commented on #701
@marocchino can you verify it works for you in the latest version and close if so?

[2019-12-06 18:51] TheFirstAvenger commented on #663
@pavellishin Do you have an update on this, or can the issue be closed?

[2019-12-06 18:53] rodrigues commented on #654
@TheFirstAvenger indeed, it works fine for me in elixir 1.9.4, OTP 22.1.8

[2019-12-06 18:54] liskin commented on #654
@TheFirstAvenger Well of course, https://github.com/elixir-lang/elixir/pull/8995 was merged in time for 1.9, but not backported to 1.8.

[2019-12-06 19:05] TheFirstAvenger commented on #656
@pavellishin Submitted a pull request that allows you to change the parse timeout.

[2019-12-06 19:54] TheFirstAvenger commented on #559
@MvanDiemen could you try the new default I proposed in https://github.com/rrrene/credo/pull/723 ?

[2019-12-06 21:29] pavellishin commented on #663
I don't have an update, and given that it's been half a year, I'm not likely to follow up - I don't work with elixir that much anymore.

(Though, you know - murphy's law. I'm going to click "close", and then someone's going to run over to my desk and ask how much I know about credo...)

[2019-12-06 21:29] #663 closed

[2019-12-06 23:29] marocchino commented on #701
I checked with Credo 1.1.5 with the same syntax and no errors. Thank you.

[2019-12-06 23:29] #701 closed

[2019-12-07 00:56] TheFirstAvenger commented on #654
@rodrigues Good to hear. Could you close out this issue?

[2019-12-07 08:10] #654 closed

[2019-12-07 17:36] #559 closed

[2019-12-07 17:42] #656 closed

[2019-12-07 17:45] #702 closed

[2019-12-07 17:54] #699 closed

[2019-12-08 19:05] rrrene commented on #268
Hi, thx again for this. Unfortunately, I am closing it due to "it being obsolete" IMHO.

If you disagree, please re-open and elaborate! :+1:

[2019-12-08 19:05] #268 closed

[2019-12-08 19:08] rrrene commented on #500
Hi, thx again for this. I am closing it now, because Credo is now [giving you the name of the file](https://github.com/rrrene/credo/blob/f5d7bb76c967e23c5fda8c82f427de6fe6825dc7/lib/credo/code.ex#L137).

If you disagree, please re-open and elaborate! :+1:

[2019-12-08 19:08] #500 closed

[2019-12-08 19:24] rrrene commented on #517
The `DuplicatedCode` check has been moved to the "controversial and experimental checks" of Credo's default config.

Closing this issue. Thx again for this discussion. :+1:

[2019-12-08 19:24] #517 closed

[2019-12-08 19:24] rrrene commented on #518
The `DuplicatedCode` check has been moved to the "controversial and experimental checks" of Credo's default config.

Closing this issue. Thx again for this discussion. :+1:

[2019-12-08 19:24] #518 closed

[2019-12-08 19:25] rrrene commented on #530
Hi, thx again for this. Unfortunately, I am closing it due to "it being obsolete" IMHO.

If you disagree, please re-open and elaborate! :+1:

[2019-12-08 19:25] #530 closed

[2019-12-08 19:29] rrrene commented on #616
Hi, thx again for this. Unfortunately, I am closing it due to "it being obsolete" IMHO.

If you disagree, please re-open and elaborate! :+1:

[2019-12-08 19:29] #616 closed

[2019-12-08 21:47] TheFirstAvenger commented on #505
@rrrene How do you envision Credo working in relation to the Elixir formatter? If we were to take the stance that "Credo complements the Formatter, and doesn't ever try to reproduce or contradict it" (contradict meaning enforce a style which the formatter would undo), it would allow us to remove a number of checks as mentioned above, speeding up execution time, and also would help weed out some of

[2019-12-09 09:08] retgoat commented on #717
@TheFirstAvenger the issue is not there. Actually `_model` **uses** this convention as it named with underscore. But I intentionally left some unused variables without underscore in the beginning, and credo was not able to find these

[2019-12-09 17:50] rrrene commented on #505
@TheFirstAvenger In my mind, Credo's **default config** should conform with the formatter. I am not sure if this is trivial, as the formatter changes slightly over time. We should probably add a test suite that checks this.

That said, we should allow people to customize their checks without "respecting" the formatter. I think it is wrong to assume that everybody uses it, so having the defaults co

[2019-12-10 01:23] TheFirstAvenger commented on #505
I guess where I am heading with this is more the idea of identifying the checks that are unnecessary if you also run `mix format --check-formatted`, and retiring them from Credo (maybe to a formatter-plugin that can be included if a user isn't using the formatter?). The reason for this change would be that a number of these checks are consistency and readability checks which are often the ones cit

[2019-12-10 07:32] tobiasamft commented on #685
😞 Sorry @TheFirstAvenger I was not able to reproduce the behaviour. I noticed it while deploying a microservice running within the company I'm working at. By now the service does not even exist anymore.

[2019-12-13 00:34] RichMorin commented on #671
Running credo 1.1.5 on elixir 1.9.0, I'm still able to reproduce the issue:

 [R] → Space missing after comma
┃       apps/info_files/lib/info_files/cnt_any.ex:162:50 #(InfoFiles.CntAny.add_file_paths)

[2019-12-13 02:04] TheFirstAvenger commented on #703
@fuelen I was able to reproduce the issue on 1.1.5 and it went away with the latest master. Can you confirm the issue goes away for you if you upgrade to master?

[2019-12-13 02:12] TheFirstAvenger commented on #685
@rrrene I think this one can close for now, it looks like stale build files is the cause, we can reopen if someone has a way to reproduce this which indicates otherwise.

[2019-12-13 02:21] TheFirstAvenger commented on #717
@retgoat My understanding of this check is that it looks for consistency between using `_` or using `_unused_var`, warning if you use both instead of consistently using only one. It does care about `unused_var`, as that is a compiler warning.

[2019-12-13 06:39] retgoat commented on #717
@TheFirstAvenger Maybe I read it incorrectly. Anyways, you applied the fix

[2019-12-13 11:39] fuelen commented on #703
yes, thanks a lot!

[2019-12-13 11:39] #703 closed

[2019-12-14 10:26] #685 closed

[2019-12-14 10:38] #717 closed

[2019-12-15 05:57] achempion opened #728 "Color scheme readability"
### Environment

* Credo version 1.1.4
* Erlang/Elixir version 1.9.4
* Operating system: mac os catalina
* Terminal Emulator iterm

[code]

### What were you trying to do?

I find the color theme is quite hard to read in terminal. Especially for `(1 more, use `-a` to show them)` line. I guess it because of faint blue and my color scheme in terminal.

https://github.com/rrrene/credo/blob/c602f78c2f

[2019-12-15 16:57] rodrigues opened #729 "Unexpected parser error"
### Environment

* Credo version (`mix credo -v`): `1.1.5`
* Erlang/Elixir version (`elixir -v`):

[code]

* Operating system: macOS Catalina

### What were you trying to do?

For one codebase I've got a parser error, and reproduced the error in this repo: https://github.com/rodrigues/credo_interpolation_error

[code]

### Expected outcome

No issues.

### Actual outcome

For some reason this seem

[2019-12-15 18:16] NobbZ commented on #728
Perhaps contrast were better if you had an opaque terminal rather than a transparent one?

I never had any problems reading the output on my white on black setting.

[2019-12-15 18:41] rrrene commented on #728
@achempion Thx for reporting this. Credo should be approachable and I take concerns regarding this very seriously. But what makes we wonder is the fact that the "blue" of "6 code readability issues" is barely readable as well and that is just "blue" (neither faint nor bright).

Regarding nobbz's suggestion: Is this a Catalina standard terminal (with the half transparent background)?

[2019-12-15 18:51] achempion commented on #728
I'm using `iterm` which is somewhat popular among the mac users.

 I've made a transparency to 0 and switched to the default color scheme. On that point I'm quite unsure either it is iterm's issue of credo's.

![Screenshot 2019-12-15 at 21 47 30](https://user-images.githubusercontent.com/1409852/70867293-ed8ff480-1f84-11ea-9ddd-c20101cc54a0.png)

[2019-12-15 19:05] rrrene commented on #728
Credo mostly uses the eight standard ANSI color shown in your preferences.

I am absolutely open to tweaking the colors, I'm just not sure if we always put someone else at a disadvantage when deviating from these 8 standard colors, since you can configure those in any terminal and most terminal themes configure them in a less ... unfortunate way (IMHO everything in blue would be sub-optimal to rea

[2019-12-16 19:32] OvermindDL1 commented on #728
Please don't deviate from these, it's extremely readable in my terminal.  ^.^

[2019-12-17 10:13] cybrox commented on #728
I support the idea of sticking to the standard ANSI colors. It's a pain that a lot of popular themes and styles configure these colors so terribly wrong but I appreciate having to change them once in my terminal configuration instead of having to fiddle with every individual tool - like credo - to get readable output on my terminal.

[2019-12-17 14:02] achempion commented on #728
Thank you all for the feedback, I'll consider to open an issue for the iterm to adjust the default color theme.

[2019-12-17 14:02] #728 closed

[2019-12-20 13:50] TheFirstAvenger commented on #561
Possible approach to this: If Ecto.Query is imported in the file, automatically ignore the problematic ecto functions. That would reduce the false positives generated by whitelisting the ecto function names across the board.

[2019-12-20 14:22] TheFirstAvenger commented on #719
@bbtdev could you let us know which check you had that wasn't succeeding for you?

[2020-01-02 08:53] philipdexter commented on #729
Some input: I can't reproduce, but I'm on linux and with erts 10.6.

[2020-01-02 18:25] rodrigues commented on #729
@philipdexter weird, I could still reproduce the error in OTP 22.2.1 (erts 10.6.1, elixir 1.9.4)

I've also reduced [the code](https://github.com/rodrigues/credo_interpolation_error) to a minimum that reproduces the problem:

[code]

[2020-01-02 19:06] digitalcora opened #731 "ArgumentError while running SpaceAroundOperators"
### Environment

* Credo version (`mix credo -v`): **1.1.5** (also tested on 1.2.0-rc2)
* Erlang/Elixir version (`elixir -v`): **1.8.1**
* Operating system: **OS X 10.15**

### Description

When I run Credo on my project using the default config, it crashes with the following error:

[code]

From the available context, it seems to be failing to parse the following code:

[code]

Adding `# credo:di

[2020-01-02 20:46] philipdexter commented on #729
@rodrigues here's what I get. Hopefully someone else with linux or macos can chime in.

[code]

[2020-01-02 22:57] rodrigues commented on #729
@philipdexter voilà, probably figured out why you don't get the error:

I run my super alias `mc` 🤘, that means `mix credo --all --strict`. Without the `--strict` I also don't get the issue, but `--strict` triggers it, likely for you too?

[2020-01-03 06:31] philipdexter commented on #729
@rodrigues yup, I can confirm now that with `--strict` I see the same error.

[2020-01-03 07:41] philipdexter commented on #729
Seems like there's a bug in [`Credo.Code.InterpolationHelper.replace_interpolations`](https://github.com/rrrene/credo/blob/master/lib/credo/code/interpolation_helper.ex#L7)

Note the missing closing quotation (and leftover `#`) for source but not for source2.
[code]

[2020-01-03 08:09] philipdexter commented on #729
Actually this seems like an issue with `:elixir_tokenizer.tokenize`.

Note the different column numbers for the strings.
[code]

My guess is that this issue affects anything with more than 1 code point. For example, the pirate flag has 4 code points and messes up in an even bigger way:

[code]

[2020-01-03 19:36] rrrene commented on #729
We've had problems with `:elixir_tokenizer.tokenize` in the past. This is the first time with Elixir `1.9`.

This is certainly a problem. I am not sure if we could build a workaround for this by removing those UTF8 characters (is character the correct term here?) before we run the tokenizer on them. Ideas?

[2020-01-03 19:39] rrrene commented on #731
Thx for reporting! :+1:

[2020-01-04 14:48] philipdexter commented on #729
Perhaps modify the output of `tokenize` by detecting these situations. Or, I suppose something quick like
[code]
could work. I guess it depends what we want the end result to be. In this case we probably don't care about the contents of the string, so this could work here.

[2020-01-04 20:01] TheFirstAvenger commented on #719
@rrrene I recommend closing this one until more information is provided.

[2020-01-04 20:49] TheFirstAvenger commented on #695
I have confirmed that the root issue here is a defect in `:elixir_tokenizer` in 1.8.x that was resolved in 1.9.0. This is the PR in elixir that fixed the bad token handling: https://github.com/elixir-lang/elixir/pull/8995.

I don't believe there is anything we can do in Credo to resolve this, so the end user resolution would be to either upgrade to Elixir 1.9.0+ or disable the StringSigils check.

[2020-01-04 21:00] TheFirstAvenger commented on #5
@rrrene This was created prior to the `credo:disable` feature, and I believe that is sufficient to close this issue?

[2020-01-04 21:56] TheFirstAvenger commented on #441
The issue here is that Credo is treating the file as one module, and therefore aliases in different sub-modules are lumped together and seen as multi-line aliases. The workaround for the originally reported issue is to unify the aliases at the top of the file. I have submitted a PR to the repo with an example of this https://github.com/randycoulman/invoice_tracker/pull/11. My suggestion for the ph

[2020-01-04 23:07] maxnordlund commented on #5
Yeah, I think so too.

[2020-01-04 23:07] #5 closed

[2020-01-10 21:31] TheFirstAvenger commented on #731
I was able to reproduce this on the latest master and Elixir 1.9.4. This minimal test fails:
[code]

On this line:
https://github.com/rrrene/credo/blob/master/lib/credo/check/consistency/space_around_operators/space_helper.ex#L54
arg2 is:
[code]
Which when passed to Token.position fails on this line:
https://github.com/rrrene/credo/blob/master/lib/credo/code/token.ex#L102

I haven't fully grokked

[2020-01-11 21:22] rrrene commented on #731
@TheFirstAvenger :+1: Thx for the analysis!

@digitalcora This highlighted a deeper issue with interpolated keys in maps not being handled correctly. Thx so much for reporting! 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2020-01-11 21:27] #719 closed

[2020-01-13 00:06] garthk opened #732 "Another unexpected parser error"
### Environment

* Credo version (`mix credo -v`): 1.1.3
* Erlang/Elixir version (`elixir -v`): Elixir 1.9.4 (compiled with Erlang/OTP 22)
* Operating system: multiple

### What were you trying to do?

`mix credo --strict` with this file:

[code]

Our original file was much larger. I ran it through `iconv -f utf-8 -t ascii` to get rid of any #729 pirate flags, then cut it down to size.

### Expect

[2020-01-13 00:29] garthk commented on #732
Quick repro without mucking up your environment:

[code]

[2020-01-13 01:57] TheFirstAvenger commented on #732
This seems to be an issue with Heredocs.replace_with_spaces. Using this test:

[code]

you can see that it is replacing both `another_method` and the module `end` with spaces. The parsing error comes from that module `end` being wiped out.

[code]

[2020-01-13 15:09] digitalcora commented on #731
@rrrene Thanks! Your fix has fixed the crash in our project 😊

[2020-01-16 01:36] TheFirstAvenger commented on #671
@RichMorin Still unable to reproduce this on v1.1.5, but I see it on v1.1.0. Can you run `mix deps.clean credo` and `mix deps.get credo` and retry?

[2020-01-16 03:38] TheFirstAvenger commented on #422
If I am reading this correctly, I think this issue should actually be in bunt, as this issue affects anything that uses bunt. I believe the BOM would need to be inserted there, and it would fix anything that uses it including credo?

[2020-01-17 23:03] RichMorin commented on #671
Hmmm.  I guess I didn't do a `mix deps.clean credo` last time.  Anyway, the problem seems to have disappeared in v1.1.5; thanks!

[2020-01-18 08:14] #253 closed

[2020-01-18 08:19] #729 closed

[2020-01-18 15:16] rrrene commented on #671
@RichMorin Glad your issue  has been solved. Thx again for reporting! 👍

[2020-01-18 15:16] #671 closed

[2020-01-18 15:51] #732 closed

[2020-01-18 16:16] rrrene commented on #731
Thx for reporting this! :+1: It should be be fixed in the latest RC of Credo (`v1.2.0-rc4`).

If it is not, please feel free to re-open this issue!

[2020-01-18 16:16] #731 closed

[2020-01-18 16:17] rrrene commented on #729
Thx for reporting this! :+1: It should be be fixed in the latest RC of Credo (`v1.2.0-rc4`).

If it is not, please feel free to re-open this issue!

[2020-01-18 16:17] rrrene commented on #253
Thx for reporting this! :+1: It should be be fixed in the latest RC of Credo (`v1.2.0-rc4`).

If it is not, please feel free to re-open this issue!

[2020-01-18 16:17] rrrene commented on #732
Thx for reporting this! :+1: It should be be fixed in the latest RC of Credo (`v1.2.0-rc4`).

If it is not, please feel free to re-open this issue!

[2020-01-18 18:46] rodrigues commented on #729
@rrrene I've tested and it works fine now, thank you!

[2020-01-19 06:04] RichMorin commented on #671
Thanks for creating and supporting this software!

-r

[2020-01-25 17:48] ghost opened #739 "mix credo: No files found!"
Credo version: 1.1.5
Elixir 1.9.4 (compiled with Erlang/OTP 22)
MacOs 10.15.2

**I am trying to run credo, but I get a problem.**

[code]

**Output on:**

`$ find lib -name '*.ex'`

[code]

Config file
[code]

my project looks as follow
<img width="773" alt="Снимок экрана 2020-01-25 в 19 32 51" src="https://user-images.githubusercontent.com/52177550/73125070-6e420780-3fab-11ea-97ba-bfcf2b7e3b8e.pn

[2020-01-25 22:00] TheFirstAvenger commented on #739
Can you run (from the same command prompt, no other commands in between):
[code]
and copy the full output into a reply here (wrapped in ```)?

[2020-01-25 22:11] TheFirstAvenger commented on #720
I have been thinking about this one for a while. At first I was thinking how we could disable the warning automatically when an import overrides `length`, however then I realized that even if the length function is overridden (dangerous thing to do btw, I would highly discourage it), the warning in many cases may still apply, i.e. there is probably still a better way to check if the thing is empty

[2020-01-26 09:13] #561 closed

[2020-01-26 10:22] Unumus commented on #739
@TheFirstAvenger done.
[code]

[2020-01-26 19:43] Unumus commented on #739
That is a bizarre behavior of my file system.

I found that I could run credo from some folder when from another can not.

When I am trying to install HTTPoison from the folder in which credo does not work too, I get a rebar error:
[code]

Which information about the folders from where code works well should send?

[2020-01-27 20:18] NorthIsUp opened #740 "Allow for custom operators in the PipeChainStart check"
### Environment

* Credo version (`mix credo -v`): 1.1.0
* Erlang/Elixir version (`elixir -v`): 1.8.2 OTP-22
* Operating system: MacOS 10.15.2

### What were you trying to do?

Use [brex result](https://hexdocs.pm/brex_result/readme.html) in a pipeline.

Brex Result adds the `~>` operator that is "pipeline-like". It does a bunch of nice things around dealing with ok/error tuples.

for example
[cod

[2020-01-31 08:26] zaherh8 opened #741 "Credo 1.2 still giving bad results in VS code: File is using windows line endings while most of the files use unix line endings."
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`):
* Erlang/Elixir version (`elixir -v`):
* Operating system:

### What were you trying to do?

### Expected outcome

### Actual outcome

[2020-01-31 08:48] zaherh8 opened #742 "Credo 1.2.1 still giving bad results in VS code.File is using windows line endings while most of the files use unix line endings."
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 1.2.1
* Erlang/Elixir version (`elixir -v`):1.8.2
* Operating system:
Windows 10
### What were you trying to do?
mix credo --strict

### Expected ou

[2020-01-31 08:48] #741 closed

[2020-02-19 00:10] pdgonzalez872 opened #748 "Add example to `negated_is_nil` check"
### Precheck

### Environment

* Credo version (`mix credo -v`): master
* Erlang/Elixir version (`elixir -v`): n/a
* Operating system: n/a

### What were you trying to do?
After creating the `negated_is_nil` check a couple weeks ago, I realized there is a better example that shows even more intent than the current one. When one of my coworkers saw it, I gave the example and I thought it was better

[2020-02-22 05:47] skwerlman opened #749 "Credo warns about creating atoms at runtime in compile time code"
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 1.2.2
* Erlang/Elixir version (`elixir -v`): Elixir 1.10.1 (compiled with Erlang/OTP 22)
* Operating system: archlinux

### What were you trying to

[2020-02-23 16:42] rrrene commented on #749
Thx for reporting this! This is one of the reasons why this check is no longer enabled by default.

You are right and your issue raises an important question: How do we identity code that is only run on compile time? Module attributes are a safe bet, macros as well. But what about functions called by macros, which can also be called at runtime?

For a first try, excluding `{:@, _, _}` and `{:defma

[2020-02-23 19:47] rrrene commented on #748
Sure, send a PR, we'll merge it! :+1:

[2020-02-24 11:30] hauleth opened #750 "False positive on end-of-line white-space"
### Environment

* Credo version (`mix credo -v`): `1.2.2`
* Erlang/Elixir version (`elixir -v`): `1.10.1`
* Operating system: macOS 10.14.6

### What were you trying to do?

[code]

On [Watermelon](https://github.com/hauleth/watermelon)

### Expected outcome

No issues at all

### Actual outcome

[This line](https://github.com/hauleth/watermelon/blob/5f71ac610151afb28ee6ff2f2553f2c2841ec30b/lib/w

[2020-02-25 10:07] marinakr commented on #520
Hi!
I updated credo from master, but issue still occurs:
[code]
I don't care about final unused return value for Enum.reduce, but accumulator (priority) is necessary during reduce

[2020-02-25 20:03] #750 closed

[2020-02-25 20:11] rrrene commented on #520
@marinakr That is a valid edge case! Thx for reporting it :+1:

Have a look at the latest [CHANGELOG](https://github.com/rrrene/credo/blob/aae5abab08d86ca7269613753cc425e12be83692/CHANGELOG.md). You can now ignore `reduce` if you want to in Credo `1.3.0-rc2`.

[2020-02-26 05:36] rrrene commented on #750
@hauleth Thanks for reporting this! The fix is live in `v1.3.0-rc2`.

[2020-02-26 16:12] cantiero opened #751 "Unable to find configuration options for 'Function body is nested too deep'"
### Environment
* Credo version (`mix credo -v`): 1.2.2
* Erlang/Elixir version (`elixir -v`): 1.9.1
* Operating system: Mac Os

### What were you trying to do?
Disable or change the rule that outputs "Function body is nested too deep".

### Expected outcome
Change max depth from 2 to 3 or disable this rule.

### Actual outcome
Not being able to do so.

I could not find anywhere how to change conf

[2020-02-26 16:48] nietaki opened #752 "GenServer timeout when calling SourceFileAST.get/1"
We have a big Elixir project (~500k lines of code, ~4000 files) and we were updating Credo from 1.0.3 to 1.2.2 to start using some new checks. Credo still runs on dev machines, but it consistantly dies in CI with a GenServer call timeout on `Credo.Service.SourceFileAST`

### Environment

* Credo version (`mix credo -v`): 1.2.2
* Erlang/Elixir version (`elixir -v`): Elixir 1.10.1 (compiled with Erl

[2020-03-01 20:22] #752 closed

[2020-03-01 20:56] rrrene commented on #751
You can use `mix explain <location-of-issue>` to get the options, but you are of course right: This is not very user friendly and we should definitely improve it :+1:

Thx for reporting!

[2020-03-02 12:58] cantiero commented on #751
Got it. Thank you!

[2020-03-03 15:07] chess4ever opened #757 "Credo.Check.Readability.TrailingWhiteSpace false positive with accented letters #758"
### Environment

* Credo version (`mix credo -v`):

`1.2.3`

* Erlang/Elixir version (`elixir -v`):

[code]

* Operating system:
[code]

### What were you trying to do?
Using credo with the *Credo.Check.Readability.TrailingWhiteSpace* rule enabled.

### Expected outcome
No issue found.

### Actual outcome
Complaining about trailing spaces at the end of a line which has not trailing white spaces.

[2020-03-03 20:08] #757 closed

[2020-03-03 20:10] #748 closed

[2020-03-13 17:58] TheFirstAvenger commented on #749
#763 fixes this for module attributes. I would hesitate to whitelist macros because it would be trivial to put unsafe atom access inside a macro, such as in a function that the macro defines.

[2020-03-13 20:36] TheFirstAvenger commented on #742
@zaher8 Do you have an example repo that I can pull down to reproduce this?

[2020-03-13 20:49] TheFirstAvenger commented on #740
1) I believe the way to tackle this would be to add additional versions of the two `traverse({:|>, ...` functions that do the same except have `:~>` instead of `:|>` in their header.
2) My guess is that this won't make it into core credo as this is not standard Elixir. It would, however, be a good use case for a custom check which users of brex can add and disable the core version.
3) If you do st

[2020-03-13 20:56] TheFirstAvenger commented on #739
@Unumus In your previous reply you only showed the output from ls -R, not the output from all three commands. Can you run, from the same command prompt immediately after each other, no other commands in between:

[code]

and copy the full output into a reply here (wrapped in ```)?

[2020-03-13 21:37] TheFirstAvenger commented on #84
This issue has been open for almost 4 years now, with the last comment almost 2 years ago. Given the amount of improvements made since then, I would be interested to see where everyone stands with the latest as far as speed.

I also would recommend we close this issue and if there are specific action items that remain that should be taken from it, individual issues be created for them so we can ha

[2020-03-13 21:39] TheFirstAvenger commented on #422
@rrrene What are your thoughts on moving this issue to the bunt repo? Do you agree that this is an issue that should be addressed in the underlying library?

[2020-03-14 00:46] doughsay opened #764 "Can't use StrictModuleLayout"
### Environment

* Credo version (`mix credo -v`): 1.3.0
* Erlang/Elixir version (`elixir -v`): 1.10.2
* Operating system: Linux 5.5.8

### What were you trying to do?

Changed credo config from:

[code]

to:

[code]

### Expected outcome

It yells at me a lot for inconsistent modules.

### Actual outcome

** (UndefinedFunctionError) function Credo.Check.Readability.StrictModuleLayout.run/3 is und

[2020-03-14 10:03] #749 closed

[2020-03-14 10:35] rrrene commented on #764
Ouch! Fix in `v1.3.1`. Thx for reporting! :+1:

[2020-03-14 10:36] #764 closed

[2020-03-18 16:06] zaherh8 commented on #742
I solved this using the "mix format" command. It happened when I switched OS from Unix to windows.
@TheFirstAvenger thank you for trying.

[2020-03-18 19:49] #742 closed

[2020-03-18 19:49] rrrene commented on #742
@zaherh8 Glad this got sorted out!

[2020-03-22 22:44] jlgeering opened #765 "problem with {Credo.Check.Readability.ParenthesesOnZeroArityDefs, parens: true} and special chars"
### Environment

* Credo version (`mix credo -v`): 1.3.1
* Erlang/Elixir version (`elixir -v`): 1.10.2 (compiled with Erlang/OTP 22)
* Operating system: macOS

### What were you trying to do?

run `mix credo` with `{Credo.Check.Readability.ParenthesesOnZeroArityDefs, parens: true}` in config, with the following function defs:

[code]

### Expected outcome

should pass

### Actual outcome

`[R] ↘ U

[2020-03-23 21:07] thiagogsr opened #766 ""Variable names should be written in snake_case" alerting for "latency_μs""
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 1.3.1
* Erlang/Elixir version (`elixir -v`): 1.10.1
* Operating system: Ubuntu 18

### What were you trying to do?
Credo is alerting for code readab

[2020-03-25 19:00] rrrene commented on #422
@TheFirstAvenger I was able to install Erlang/Elixir/Credo on a Windows 10 box and got this in Powershell:

![Powershell_without_BOM](https://user-images.githubusercontent.com/311914/77574393-36cfd880-6ed2-11ea-9231-a2271e8fbf7d.PNG)

When I added a BOM in front of the output, it just padded the output in an unexpected way, but did not fix the issue:

![Powershell_with_BOM](https://user-images.git

[2020-03-27 10:29] rrrene commented on #766
The fix for this is part of Credo `v1.3.2`. Thx for reporting it!

[2020-03-27 10:29] #766 closed

[2020-03-27 10:29] rrrene commented on #765
The fix for this is part of Credo `v1.3.2`. Thx for reporting it!

[2020-03-28 09:23] NickNeck commented on #765
Hello,

I have still this problem with the following code:
[code]
[code]

[2020-04-03 13:49] rrrene commented on #765
@NickNeck should be fixed in `1.4.0-rc.1`. Could you check?

[2020-04-04 10:31] NickNeck commented on #765
@rrrene everything works fine again. Thank you.

[2020-04-05 04:52] jlgeering commented on #765
thx

[2020-04-05 10:38] rrrene commented on #765
@NickNeck @jlgeering Thank you for reporting these glitches. This project would not work without your contributions! :+1:

[2020-04-05 10:38] #765 closed

[2020-04-08 20:17] lud commented on #158
Hi,

So it means that at the moment there is no way to implement this check properly ?

[2020-04-19 09:23] #751 closed

[2020-04-21 15:55] floodico opened #772 ""trailing white-space at the end of a line" issue on comments"
### Environment

* Credo version (`mix credo -v`): 1.3.2
* Erlang/Elixir version (`elixir -v`): Elixir 1.10.2 (compiled with Erlang/OTP 21)
* Operating system: Ubuntu 18.04.4 LTS

### What were you trying to do?
I have some lines of comments in my module.
![2020-04-21 18 25 56](https://user-images.githubusercontent.com/12949777/79885120-eed3a100-83fe-11ea-8392-8042ac4a145f.jpg)
 When i run `mix cr

[2020-04-22 18:25] rrrene commented on #772
Thx for reporting! :+1:

I've tried reproducing this in 03879f4 but was unsuccessful so far.

[2020-04-23 14:54] floodico commented on #772
@rrrene, actually it's my fail. I had some "." characters in my comments, but I don't see it in my VSCode editor, just through Vim. So i needed to clean that.
<img width="838" alt="Screenshot 2020-04-23 at 17 37 06" src="https://user-images.githubusercontent.com/12949777/80112992-66820700-858a-11ea-9b0b-5d672cf49211.png">

Now it works as expected. Very thankful for your response

[2020-04-23 14:54] #772 closed

[2020-04-24 21:39] mackeyja92 commented on #84
@TheFirstAvenger Hi, would love to jump into this thread. We are also experiencing fairly slow credo times for our large umbrella application.

Firstly, I would love a debug flag to credo to see the times of each individual check. This would significantly help track down which ones are slow for our application.

Secondly, given the first one is available, I’d love to help track down and make impro

[2020-04-25 18:27] rrrene commented on #84
@mackeyja92 Could you try the current `master`?

You can do this by setting the Credo dep to

[code]

Please report back if this improves your Credo experience! 👍

[2020-04-27 15:45] mackeyja92 commented on #84
@rrrene We are currently locked to 1.0 from hex. Here is the results of my run using `time`.

Results:
current:`mix credo --strict  205.97s user 15.01s system 192% cpu 1:54.71 total`
master: `mix credo --strict  203.88s user 13.56s system 200% cpu 1:48.19 total`

However, we have had such issues running it from the root we typically run it more like this.
current:  `mix cmd mix credo --strict  1.7

[2020-04-27 20:14] rrrene commented on #84
@mackeyja92 Mmmh, this is surprising. I had hoped for a better speed-up.

To test this with a large umbrella, I created an umbrella from these 10 repos consisting of 1,500 Elixir files containing 226,000 lines of Elixir code.

I executed the (unscientific) test runs on an Ubuntu 19.10 VM with 8 CPUs and 24 GB RAM. This VM was not tailored to this test, it was just around :wink:

### Analysed Codeb

[2020-04-27 23:12] esvinson commented on #84
With the DuplicatedCode check enabled we weren't seeing any differences in speed between 1.4.0 and the master branch.

We saw a large reduction in run time by disabling the duplicate code check.
`{Credo.Check.Design.DuplicatedCode, false},`

We're seeing significant decreases when using the newer branch with the DuplicatedCode check disabled.

## 1.4.0
1.4.0: `mix credo --strict` with `{Credo.Chec

[2020-04-28 19:32] rrrene commented on #84
@esvinson @mackeyja92 That makes sense, unfortunately. `DuplicatedCode` is a controversial legacy check and I did forget to check its performance when making performance improvements.

I did tune its workloads in 178ba9c - would you mind giving it another spin with `master`?

[2020-04-28 20:11] esvinson commented on #84
Yeah I was upgrading from 0.10.0 yesterday, and we had that enabled in our old config.  It's not critical, and I disabled it after regenerating the config and re-applying our customizations.

With that said, your latest changes seemed to speed it up a lot. :+1:

Both using: `mix credo --strict`

### DuplicatedCode Disabled
[code]

### DuplicatedCode Enabled (Previously 91.9 seconds)
[code]

[2020-05-12 14:58] aripovula opened #776 "Error "Cond statements should contain at least two conditions" while there are two conditions"
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

I do not know if this is an error.
I have this code:

`
cond do
      is_asc == true ->
        Repo.all(
          from u in LPEvent,
            order_by: [asc: ^field],
            offset: ^((curr

[2020-05-23 10:21] rrrene commented on #776
@aripovula I'll close this. If you have any more questions, please ask!

[2020-05-23 10:21] #776 closed

[2020-05-25 16:21] JMurphyWeb opened #777 "--min-priority not working (as I would expect)"
### Environment

* Credo version: 1.4.0
* Erlang/Elixir version: 1.10.1
* Operating system: mac os

### What were you trying to do?
I am looking to add credo to my existing projects CI.
Running `mix credo --strict` lists too many issues, so I want to initially only configure it to run on the 'higher' priority issues (and return a non-zero exit code if it finds a 'higher' priority issue)

I am assu

[2020-05-26 20:06] rrrene commented on #777
Sounds like a bug, thx for reporting :+1:

[2020-06-15 03:11] garthk opened #781 "Nested heredoc trouble"
### Environment

* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): Elixir 1.10.3 on Erlang 22.3.4.1
* Operating system: macOS

### What were you trying to do?

`lib/heredoc-demo.ex`:
[code]

### Expected outcome

No error, because the `~E"""` inside the doc-string is appropriately indented.

### Actual outcome

      The current heredoc line is indented too little

[2020-06-29 06:01] adrianomitre opened #786 "Could not find Erlang/OTP 20 requirement documented anywhere"
Somewhere between [v1.1.0](https://github.com/rrrene/credo/releases/tag/v1.1.0) and https://github.com/rrrene/credo/commit/80b9a2efdb872157317de4b126e54441f3551f18 credo started requiring Erlang/OTP 20, judging froms the fact that [its test suite fails on Erlang/OTP 19](https://github.com/rrrene/credo/runs/816664652).

Please consider the following two test runs with a [single commit](https://gith

[2020-07-04 19:13] sreecodeslayer opened #788 "Slow builds on elixir 1.9+"
### Environment
* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 22 [erts-10.7] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe] | Elixir 1.10.3 (compiled with Erlang/OTP 21)
* Operating system: Checked on my local MacOS and on `elixir:1.10-alpine`, `elixir:1.9-alpine`

### What were you trying to do?
While running tests on GitLab CI I notic

[2020-07-10 20:59] dkgitdev commented on #422
Here's what I got from powershell on my Russian-based Windows 2004 (19041.29)

![изображение](https://user-images.githubusercontent.com/36101416/87201668-b9589880-c307-11ea-9f22-d1d69bed4257.png)

I suggest using this arrow as a middle one -- ⇒ -- it's 8658 in ASCII, and | as a vertical line (ASCII 124)

Apparently, I'm running utf8, so it's definitely strange
![изображение](https://user-images.gi

[2020-07-12 11:34] #786 closed

[2020-07-18 15:55] rrrene commented on #788
This is interesting. Does anyone have any idea what might be causing this?

[2020-07-18 19:44] rrrene commented on #781
I am looking into this (I misread this issue at first and went down an unnecessary rabbit hole, but am on track again).

[2020-07-24 22:32] zdcthomas commented on #788
I'm seeing this same behaviour, I've looked into it a bit but had no luck

[2020-07-26 09:26] rrrene commented on #788
@sreecodeslayer @zdcthomas Does this "it's taking more than 15s" appear for the same files every time?

[2020-07-26 09:31] sreecodeslayer commented on #788
@rrrene Yes, but the list is huge
Also, i checked for 3 separate commits, but it seems like its all the same across the jobs

i believe the list is same for 1.9 alpine as well.

here's one from `elixir:1.10-alpine`

[code]

[2020-07-28 15:41] jweinkam opened #797 "There are spaces around operators most of the time, but not here."
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 22 [erts-10.6.4] [source] [64-bit] [smp:8:8] [ds:8:8:10] [async-threads:1] [hipe]

Elixir 1.

[2020-07-28 22:50] Ch4s3 commented on #788
I'm seeing this on `circleci/elixir:1.10.4-node`
[code]

[2020-07-31 08:47] cloud8421 commented on #788
I can confirm having noticed the exact same issue with a Github Actions pipeline, relevant fragment:

[code]

[2020-08-03 20:34] leandrocp opened #799 "CLI --ignore is ignoring everything when there's a space after the comma"
### Environment

* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): Erlang/OTP 22 [erts-10.7.1] [source] [64-bit] [smp:12:12 [ds:12:12:10] [async-threads:1] [hipe] / Elixir 1.10.3 (compiled with Erlang/OTP 22)
* Operating system: macOS 10.15.16 and also on cimg/elixir:1.10.1 (running on CI)

### What were you trying to do?

Running `mix credo --strict --ignore Credo.Che

[2020-08-05 13:34] marinakr opened #800 "Error on module does not exist"
## Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): 1.10.4
* Operating system:

### What were you trying to do?
mix credo --strict

### Actual outcome

  Co

[2020-08-05 17:18] #800 closed

[2020-08-06 19:22] rrrene commented on #799
This is an interesting point. From a user's perspective it is hard to tell what's going on here.

While we won't be able to change the shell's parsing of the arguments, we can certainly do a better job of highlighting undesirable results.

I added a first iteration validation on `master`. :+1:

[2020-08-06 19:30] leandrocp commented on #799
Thanks for the quick response @rrrene

[2020-08-17 14:40] coneybeare opened #803 "Merging of config files in umbrella project not working as expected"
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): Elixir 1.10.4 (compiled with Erlang/OTP 23)
* Operating system: MacOS 10.15.5

### What were you trying

[2020-08-17 14:41] coneybeare commented on #803
If this is user-error in the config files, perhaps an example of an umbrella app config setup would help me, and future implementors as well.

[2020-08-17 19:46] rrrene commented on #803
@coneybeare The `name` field of the config has to be `default` if you want the configs to be merged when running

[code]

The `name` field provides support for having differently named configs, so you could have a `default` config for development, but have a different config for named `ci` which you can run on your CI server using

[code]

If you have any input on how this can be made any more cle

[2020-08-18 16:32] coneybeare commented on #803
Perhaps there is some other issue in my credo setup, because changing the name of the sub app's config to `default` still does not have the intended result.

`umbrella_app/apps/sub_app/.credo.exs`
[code]

[code]

[2020-08-18 16:35] coneybeare commented on #803
Additional datapoint: running mix credo from the sub app works as intended.

[code]

However running from umbrella root does not, the problem I am looking to solve

[2020-08-20 10:12] coneybeare commented on #803
@rrrene Is running `mix credo` from the root of the umbrella app supposed to be respecting the credo options of a containing sub app in `apps`?

[2020-08-30 16:07] rrrene commented on #803
@coneybeare Missed this question: No, it is not. But I can see how one might think that is how it works. Maybe we should address this in the documentation/terminal output.

[2020-09-04 11:25] tigluiz commented on #788
Hello
 Any discoveries here? I'm noticing the same thing with elixir 1.10.3

[2020-09-19 01:33] hickscorp opened #804 "False Positive on a Enum.reduce call."
Somewhere in our code, we have something like this:

[code]

Credo is tripping on the `Enum.reduce` line with the following:

[code]

Maybe it's a false positive?

[2020-09-19 02:01] axelson opened #805 "Function clause error in PositionHelper when run with Elixir 1.11.0-rc.0"
### Environment

* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): Elixir 1.11.0-rc.0 (48cee5a) (compiled with Erlang/OTP 23)
* Operating system:

### What were you trying to do?

Run credo on my code

### Expected outcome

Run without an exception

### Actual outcome

[code]

Unfortunately this code isn't open source so I can't share it. I haven't yet tested on anothe

[2020-09-19 12:07] rrrene commented on #804
Depends on what you are doing with the result.

The following does not raise an error:

[code]

Sometimes you want to use the reducers memo parameter, but not use the result of the `Enum.reduce/2` call (judiging from your code snippet that might be the case?).

In those cases, your only option is to disable Credo for this line using a config comment (`# credo:disable-for-next-line`) or to ignore t

[2020-09-21 19:30] eksperimental commented on #805
Same here

[2020-09-22 18:53] rrrene commented on #805
This should be fixed in `1.5.0-rc.2` - could you give it a try?

[2020-09-23 02:31] axelson commented on #805
@rrrene Confirmed that it works on my codebase 👍

And the new warning `Module attribute @some_attribute makes use of unsafe Application configuration call Application.fetch_env!/2` is a nice touch. I should probably go ahead and migrate to `compile_env` since I'm on 1.10 already.

[2020-09-29 16:36] #777 closed

[2020-09-30 19:20] skosch opened #809 ""Space missing after comma" in String.split"
### Environment

* Credo version (`mix credo -v`): 1.5.0-rc.2
* Erlang/Elixir version (`elixir -v`): 1.10.4
* Operating system: Ubuntu 18.04

I've run into another "space missing after comma" warning in this code block:
[code]
Perhaps exclude `","` from the regex, as that seems to be a common pattern in split/join operations? Cheers!

[2020-10-04 15:56] eksperimental opened #813 "Wrong warning on sigils"
### Environment

* Credo version (`mix credo -v`): 1.5.0-rc.2
* Erlang/Elixir version (`elixir -v`):  Elixir 1.11.0-rc.0 (48cee5a) (compiled with Erlang/OTP 23)
* Operating system: Linux

### Actual outcome

It is a macro sigil, and it is giving this error. I have checked the Credo code and it is not supposed to warn when it is a sigil, but it does.

[2020-10-04 19:09] rrrene commented on #813
Not only that, but the test - coincidentally? - also uses `sigil_O` as the test subject.

I could not reproduce this with Elixir 1.11.0-rc.0 on either Erlang/OTP 21 or 23.

Can you provide any additional detail? Is this a straight vanilla macro or is some meta-programming involved? What does the function/macro signature look like?

[2020-10-04 19:35] #809 closed

[2020-10-05 01:21] eksperimental commented on #813
I narrowed it down and it happens when there is a guard in the macro.

[code]

remove the guard and Credo won't complain

[2020-10-05 04:31] gseddon commented on #803
I was looking for the same behaviour. I have found that putting this alias into the root `mix.exs` gives you mostly what you want
[code]
The only issue is that the colouring doesn't work properly this way

[2020-10-05 16:01] eksperimental commented on #813
it happens when same with a guard in a function,.

[2020-10-05 16:17] eksperimental commented on #813
Looking at the code, I realized there is no reason for give a special treatment to sigils, because they comply with the snake_case rule.

I realized that you are excluding public sigils only, but sigils could be private as well.

I think the rule needs to be revamped, because we could have  a name such `defp clean_HTTP_url(string)` which uses snake case but it will be caught as an issue.

[2020-10-05 16:31] eksperimental commented on #813
Maybe another rule where no upper case should be used in guards, functions and macros if you want to discourage users from using `clean_HTTP_url` and use `clean_http_url` instead

[2020-10-06 12:23] eksperimental commented on #805
I think this issue can be closed

[2020-10-06 14:22] KamilLelonek opened #814 "Grouping multi-alias/require/import/use"
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): `1.4.0`
* Erlang/Elixir version (`elixir -v`): `Elixir 1.9.4 (compiled with Erlang/OTP 22)`
* Operating system:

### What were you trying to do?

[c

[2020-10-07 02:07] aptinio opened #815 "SeparateAliasRequire violation reported on aliases separated by comments"
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`mix credo -v`): cb1bd72
* Erlang/Elixir version (`elixir -v`): Elixir 1.11.0 (compiled with Erlang/OTP 23)
* Operating system: Linux

### What were you trying to do

[2020-10-07 12:37] skovmand commented on #805
I also get this error on elixir 1.11.0-otp-23. Was it fixed by `1.5.0`?

[2020-10-07 12:43] eksperimental commented on #805
did you try Credo v1.5.0-rc.2 ?

[2020-10-07 12:59] skovmand commented on #805
I tried to use it, but I got confused by Credo requiring the package `file_system` [link](https://hex.pm/packages/file_system) (a file system watcher), so I backed out. What does credo need that for? (Anyway, I know that discussion is not related to this issue)

[2020-10-07 13:05] eksperimental commented on #805
[code]

Here' s your answer: 34db83f6e068b09938fe231b2090d20124d51c37

[2020-10-07 13:53] rrrene commented on #805
@skovmand @eksperimental There's also Credo `1.4.1` which should fix Elixir 1.11.0 compatibility for the current minor release. :+1:

[2020-10-07 13:53] #805 closed

[2020-10-07 14:31] fuelen opened #816 "Credo.Check.Refactor.CondStatements false positive?"
### Environment

* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): 1.10.4/ OTP 22
* Operating system: Linux

### What were you trying to do?
[code]

### Expected outcome
successful pass, because recommended way of writing this as
[code]
is not the same what I'm trying to achieve.
In the first code snippet Elixir will raise CondClauseError if user has another role.
This

[2020-10-08 01:19] crqra commented on #797
I'm also facing this issue. Credo complies on statements like:

[code]

As far as I could test, it happens because I have lot's of matches like this: `min_ver::size(16)-unsigned-integer-little`.

If I put a space between the `-` in those statements like `min_ver::size(16) - unsigned - integer - little`, even if it's only in one of them, the consistency warning goes away.

[2020-10-08 13:01] crqra commented on #797
Interestingly, `mix format` will keep `min_ver::size(16)-unsigned-integer-little` without spacing. However on IntelliJ if I format the code it separates them: `min_ver :: size(16) - unsigned - integer - little`.

What's the best approach?

[2020-10-09 14:34] rrrene commented on #815
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

The relevant check is now disabled by default, since it is a rather controversial one.

To test this, you have to re-enable it by adding

[code]

Please report back if your issue is solved! 👍

[2020-10-09 14:35] rrrene commented on #814
@KamilLelonek I could not reproduce this using the snippet from the issue. Could you try to produce a minimal example?

[2020-10-09 14:58] aptinio commented on #815
Yup, it's fixed using master. Thanks! :heart:

[2020-10-09 17:04] sreecodeslayer commented on #788
@rrrene oh wow, that is interesting.
I'll try running this on one of my project and get back to you!

[2020-10-11 06:45] #815 closed

[2020-10-11 10:58] rrrene commented on #788
@tigluiz @sreecodeslayer @Ch4s3 @cloud8421 Could you retry this with version `1.5.0-rc.4`?

[2020-10-12 06:51] cloud8421 commented on #788
@rrrene Thanks! It does fix the issue for me (PR with CI at https://github.com/fully-forged/tune/pull/102.

Versions tested:

[code]

[2020-10-13 17:09] rrrene commented on #797
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2020-10-22 21:44] jweinkam commented on #797
I have tested the version from master with this function
[code]
and it is still complaining about the negative sign on the line `a = b + c + compare_fn.(-d, 0)`

If I change the code to
[code]
then is stops complaining.

[2020-10-26 12:24] rrrene commented on #816
Thx for reporting this! :+1: It should be be fixed in `1.5.0-rc.5`.

[2020-10-26 12:24] rrrene commented on #813
Thx for reporting this! :+1: It should be be fixed in `1.5.0-rc.5`.

[2020-10-26 12:25] rrrene commented on #797
@jweinkam Thx for clarifying this! :+1: Could you check if it is fixed in `1.5.0-rc.5`?

[2020-10-26 12:33] eksperimental commented on #813
Awesome, thank you

[2020-10-26 12:48] fuelen commented on #816
thank you!

[2020-10-26 12:48] #816 closed

[2020-10-26 13:01] fuelen commented on #816
@rrrene Wow, big performance boost comparing to 1.4! ~3 times faster on our project!

[2020-10-26 14:00] jweinkam commented on #797
I retested today with 1.5-rc.5 and it is now accepting the unary minus.  Thank you.

[2020-10-28 10:54] emadb commented on #469
Hi all.
Is it possible that Elixir 1.11.x cause this old error.
I get this after upgrading:
[code]

[2020-10-28 17:33] rrrene commented on #469
Could you post the output of `mix credo info`?

[2020-10-28 17:50] emadb commented on #469
Mix credo info:
[code]

Here is the `.credo.exs`:
[code]

[2020-10-28 18:25] rrrene commented on #469
@emadb Could you try upgrading to Credo `1.4.1`?

[2020-10-28 18:44] emadb commented on #469
It worked!

[2020-10-28 18:51] rrrene commented on #469
No problem :+1:

[2020-10-29 06:02] #813 closed

[2020-10-29 06:03] rrrene commented on #84
I believe this is no longer an issue with the newest version. Thanks to anyone who contributed datapoints, insights and pull requests to speed up Credo! 🎉

If I am mistaken, please feel free to open another issue!

[2020-10-29 06:03] #84 closed

[2020-10-29 06:05] rrrene commented on #473
Credo 1.5 provides both an interface for running Credo programmatically as well as incrementally. It has only taken three years ;-)

[2020-10-29 06:05] #473 closed

[2020-10-29 06:07] #695 closed

[2020-10-29 06:08] rrrene commented on #739
I am closing this as a "stale" issue. If there is anything we can do, please let us know!

[2020-10-29 06:08] #739 closed

[2020-10-29 06:10] rrrene commented on #788
Credo 1.5 was released. Thanks to everybody who contributed to this issue. This project would not be possible without your support! 💜

[2020-10-29 06:10] #788 closed

[2020-10-29 06:10] #797 closed

[2020-10-29 06:11] rrrene commented on #799
The mentioned improvements are now live in Credo `v1.5.0`. Thanks for highlighting this issue!

[2020-10-29 06:11] #799 closed

[2020-10-29 06:12] rrrene commented on #804
@hickscorp *ping*

[2020-10-29 07:52] ruudk opened #818 "1.5.0 tag missing on Github"
I see that 1.5.0 is released on [Hex](https://hex.pm/packages/credo/1.5.0) but it's not tagged on [Github](https://github.com/rrrene/credo/tags).

[2020-10-29 13:41] rrrene commented on #818
Oh no. Seems like I forgot to push it last night. Will do as soon as I get home! 👍

[2020-10-29 13:43] rrrene commented on #818
The `Bump version to 1.5.0` commit is also missing ... Seems like I dropped the ball and did not push anything yesterday. 🤦

[2020-10-29 19:23] rrrene commented on #818
Done. Thy formthe heads up!

[2020-10-29 19:23] #818 closed

[2020-10-29 19:34] ruudk commented on #818
Thanks!

Might be good to automate this whole flow, maybe there are GitHub actions for publishing to hex and tagging to GitHub.

[2020-10-30 20:03] lleger opened #820 "Ignoring checks per directory"
Is it possible to ignore some checks for an entire directory?

For example: `Credo.Check.Readability.Specs` I'd like on for most of the project, but off for the Phoenix code in `my_app_web/`. Is it possible to ignore all files in that folder?

It seems like some checks have options to ignore things, but that check has no parameters.

I know you can turn the check off for individual files with the

[2020-10-31 07:50] rrrene commented on #820
This is possible since Credo 1.5 via the `:files` param for checks: https://hexdocs.pm/credo/config_file.html

[2020-10-31 21:23] lleger commented on #820
Apologies, I figured it was a thing, but didn't see it in the docs! Thanks I'll give this a shot.

[2020-11-01 09:18] rrrene commented on #820
Absolutely no problem. I updated [the documentation](https://github.com/rrrene/credo/blob/c4f78a6b1ecc0e5a8994b2f9c0f6c340ecced383/guides/configuration/check_params.md#files) based on your feedback! Will go live on hexdocs with the next patch update.

Thx again! :+1:

[2020-11-03 19:27] lleger commented on #820
@rrrene Thanks for the updated docs! I'm wondering, however, if I'm using it wrong.

[code]

[code]

But when I run `mix credo`:

[code]

It seems like it's ignoring the config. Am I doing it wrong?

[2020-11-03 20:26] lleger commented on #820
Ok, I think I understand now. I was doing it wrong! In case it helps anyone else, here's my understanding of how it works.

`excluded` and `included` at the check-level filter against each other. The resulting list of files is filtered out of the top-level `files` config.

Setting `excluded` at the check-level won't filter out a file from that check. You have to specify an `included` that doesn't

[2020-11-04 07:44] rrrene commented on #820
@lleger This is a bug. Thanks for clarifying, this is supposed to work:

[code]

I'll look into it after work. 👍

[2020-11-04 18:29] rrrene commented on #820
It should now be fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2020-11-04 22:17] lleger commented on #820
@rrrene Confirming that master fixes the bug for me! 👏

[2020-11-08 16:28] rrrene commented on #820
This is now live in `v1.5.1`. Thx for reporting!

[2020-11-08 16:28] #820 closed

[2020-11-08 16:28] #804 closed

[2020-11-08 16:36] rrrene commented on #803
I think this is now much clearer in the docs, but if you have any more input, just re-open this issue.

Thx again for reporting this! :+1:

[2020-11-08 16:36] #803 closed

[2020-11-08 17:47] lleger commented on #820
Thanks for the quick fix @rrrene!

[2020-11-11 21:21] felipelincoln opened #823 "Credo.Check.Refactor.CyclomaticComplexity: not expected "function is too complex""
### Not expected outcome
![image](https://user-images.githubusercontent.com/37600416/98865104-ac7cba80-2449-11eb-8f5c-bee6d0e524d4.png)

### Environment

* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): Elixir 1.10.4 (compiled with Erlang/OTP 22)
* Operating system: docker image elixir:1.10.4-alpine

### What were you trying to do?
I'm using this function. I don't und

[2020-11-13 00:24] queer opened #824 "Incorrectly reports a variable named `length` as an expensive use of `length()`"
The closest I've found to this bug is #720.

### Environment

* Credo version (`mix credo -v`): 1.5.1
* Erlang/Elixir version (`elixir -v`): Elixir 1.11.2 (compiled with Erlang/OTP 23)
* Operating system: Arch Linux

### What were you trying to do?

Consider this toy module:
[code]
`length` is a variable here, not a list / not being used as a function, and is being compared to `0` in a way that ma

[2020-11-14 16:41] rrrene commented on #824
@queer Clearly a bug! Thx for reporting :+1:

[2020-11-18 18:05] w-sanches commented on #823
[This test for the CyclomaticComplexity module](https://github.com/rrrene/credo/blob/master/test/credo/check/refactor/cyclomatic_complexity_test.exs#L51-L64) might help you understand why this is the outcome.
Check the comment in the test showing the composition of the result.

What this check does is basically adding "points" to some operations [as defined in the module itself](https://github.com

[2020-11-18 18:45] felipelincoln commented on #823
thank you for the explanation!
Any idea on refactoring this code?

[2020-11-18 18:51] w-sanches commented on #823
A possible alternative would be to create a list with all month names and call `Enum.at(months, n - 1)` to get the month in nth position as list index starts with 0.

[2020-11-18 19:00] felipelincoln commented on #823
Perfect!
Alright, I though it was a bug with credo for raising a warning on this code but I am convinced that 12 conditions in a case statement are complex enough to be refactored. Thanks a lot @w-sanches :tada:

[2020-11-18 19:00] #823 closed

[2020-11-24 15:03] nietaki commented on #224
When I stumbled upon the "implicit try" in our codebase I was surprised that it's a thing, especially since I couldn't find it referenced in anywhere in the language docs (now I know it's in https://hexdocs.pm/elixir/Kernel.html#def/2 , where I was also looking for it in `try` docs).

In principle, I don't think using Credo's default settings to enforce the usage of syntax sugar and implicit const

[2020-11-25 14:53] AkhileshNegi commented on #741
@zaherh8 @rrrene I'm still getting this error.

- Credo version (mix credo -v): 1.4
- Erlang/Elixir version (elixir -v): Erlang/OTP 21 [erts-10.3] [64-bit] [smp:12:12] [ds:12:12:10] [async-threads:1]
- Operating system: OSX 10.10.5

![image](https://user-images.githubusercontent.com/40158831/100243230-ab747e80-2f5b-11eb-8fac-b719d5cd2c93.png)

[2020-11-27 12:31] fuelen opened #828 "PipeChainStart with custom pipe operators"
### Environment

* Credo version (`mix credo -v`): 1.5.1
* Erlang/Elixir version (`elixir -v`): 1.11.2

### What were you trying to do?
I have custom implementation for operator `~>`. It is used with regular `|>` this way
[code]

### Expected outcome
I find my piece of code readable, it would be great to add a list of allowed operators to config too.
I tried `excluded_functions: [:~>]` but this di

[2020-11-28 17:11] rrrene commented on #828
Thx for reporting. This is a duplicate of #740 :+1:

[2020-11-28 17:11] #828 closed

[2020-11-28 18:00] rrrene commented on #740
@NorthIsUp @fuelen Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2020-11-28 18:02] #824 closed

[2020-11-28 18:46] rrrene commented on #824
Thanks for reporting this 😀  It is now fixed on `master`.

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2020-11-29 10:20] rrrene commented on #741
This comes up from time to time and in 100% of the cases, the error had something to do with the files/encoding/line endings.

Can you make sure that the files in question do not use unix-style line endings?

[2020-11-30 17:41] alanvardy opened #829 "Unexpected behaviour when using credo diff"
### Environment

* Credo version (`mix credo -v`): 1.5.1
* Erlang/Elixir version (`elixir -v`):
Erlang/OTP 22 [erts-10.7] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1] [hipe]
Elixir 1.10.4 (compiled with Erlang/OTP 22)

* Operating system:
Pop_os 20.10 (Ubuntu derivative)

### What were you trying to do?
Run `mix credo diff master -C stricter` on either `master` or a branch off of

[2020-11-30 19:29] rrrene commented on #829
@alanvardy You're right. I was able to reproduce this, something is not right here. Thx for reporting :+1:

[2020-11-30 21:14] rrrene commented on #829
My first impression is this:

I did not have a config named `strict` on `master` when I tested this. So what happened behind the scenes is that Credo running on `master` with a none-existing config resulted in no issues. Credo running in the working dir (with existing config `stricter`) resulted in the issues on display.

So, while Credo is "right" from its point of view, this is clear nonsense. C

[2020-11-30 21:45] alanvardy commented on #829
Oh, I didn't know that it was the error messages being diffed between old and new rather than a smaller file list being diffed by the latest config.

My use case is that I am working on a large codebase where I would like to introduce new new lints gradually in CI using a "you touched so now you own it" kind of mentality where once someone makes a change in a module that module is now held to the

[2020-12-02 14:03] Danielwsx64 opened #831 "Exit with error status when fail to load config"
### Environment

* Credo version (`mix credo -v`): 1.5.1
* Erlang/Elixir version (`elixir -v`): Elixir 1.10.3 (compiled with Erlang/OTP 21)
* Operating system: Ubuntu 20.04.1 LTS

### What were you trying to do?
Run `mix credo` with a syntax error in `.credo.exs`

### Expected outcome
`Credo` exit with an error status.

### Actual outcome
[code]

### Context

A syntax error was added by the team,

[2020-12-06 11:16] rrrene commented on #829
Update: There's a "deeper" problem in Credo's handling of "missing" configs. I will try to release a fix for this soon. Thx for reporting this, it let me down a rabbit hole worth exploring :+1:

[2020-12-06 19:33] rrrene commented on #829
@alanvardy Could you try setting the Credo dep to

[code]

It should now give you an error message. This is not the final fix for the overall problem you uncovered, but it is a bandaid I would want to release soon.

[2020-12-06 23:26] alanvardy commented on #829
Cool. I got this message:

[code]

[2020-12-07 08:37] fuelen commented on #740
It works :+1:

[2020-12-09 12:43] Cleidiano opened #835 "Crash when run mix credo on system without git"
### Environment

* Credo 1.5.2
* Erlang/OTP 23 [erts-11.1.1] [source] [64-bit] [smp:4:4] [ds:4:4:10] [async-threads:1] [hipe]
*  Elixir 1.11.0 (compiled with Erlang/OTP 23)

* Operating system: Ubuntu

### What were you trying to do?
Run mix credo

### Expected outcome
Run successfully.

### Actual outcome
[code]

[2020-12-09 23:23] Ch4s3 opened #837 "Credo diff returns non-0 exit codes for issues not in the diff."
### Precheck

* Proposals for new features should be submitted via: https://github.com/rrrene/credo-proposals
* For bugs, please do a quick search and make sure the bug has not yet been reported here

### Environment

* Credo version (`1.5.2`):
* Erlang/Elixir version (`1.10.4-otp-23`):
* Operating system: ubuntu and MacOS

### What were you trying to do?

I am trying to introduce a check on addin

[2020-12-11 21:07] #835 closed

[2020-12-16 15:06] Ch4s3 commented on #837
FWIW I was able to reproduce this behavior on `1.5.3` as well.

[2020-12-19 21:39] rrrene commented on #837
Thanks for reporting this :+1: I should release a hotfix, so it is now fixed on the 1.5.x branch (`release/1.5`).

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2020-12-21 16:36] Ch4s3 commented on #837
This looks good mostly, but it seems like some duplicate errors are still firing.

1. I added this branch to my mix file and compiled. in a branch called `credo-1.5.x`
2. Then I re-added some checks to for example our test files.
3. Then I committed this and checked out a new branch `git checkout -b test`
4. Then I ran `mix credo diff credo-1.5.x --config-name default -a`

I then see the following

[2020-12-21 16:37] Ch4s3 commented on #837
If I don't check tests It works as expected.

[2021-01-07 11:14] rrrene commented on #740
Forgot to close the issue: `v1.5.4` includes this fix 👍

[2021-01-07 11:14] #740 closed

[2021-01-07 11:17] rrrene commented on #829
Forgot to close the issue: `v1.5.4` includes this fix 👍

[2021-01-07 11:17] #829 closed

[2021-01-08 12:25] rrrene commented on #831
Thanks for reporting this 😀  It is now fixed on `master` and will be part of Credo `1.6.0` (as we discussed in the linked PR).

You can try this by setting the Credo dep to

[code]

Please report back if your issue is solved! 👍

[2021-01-08 23:40] dabaer opened #840 "Credo does not detect IO.inspect calls in EEx templates"
### Environment

* Credo version (`mix credo -v`): 1.5.4-ref.nobranch.nocommit
* Erlang/Elixir version (`elixir -v`): Elixir 1.11.2 (compiled with Erlang/OTP 23)
* Operating system: Ubuntu 20.04

### What were you trying to do?
Track down a confusing output in the terminal whilst testing. It turned out to be an errant IO.inspect call in one of my templates.

### Expected outcome
For Credo to detec

[2021-01-10 19:04] rrrene commented on #837
I pushed a possible fix to the `release/1.5` branch.

[code]

Can you try again?

[2021-01-15 22:55] ashton314 opened #841 "Credo complains when there's pattern match with `=` in a lambda inside of an `if` condition"
### Environment

* Credo version (`mix credo -v`): 1.5.1
* Erlang/Elixir version (`elixir -v`): Elixir 1.11.0 (compiled with Erlang/OTP 23)
* Operating system: macOS 10.15.7

### What were you trying to do?

[code]
Note how there is a pattern match in the predicate to `Enum.any?`.

### Expected outcome

No issues from Credo

### Actual outcome

Credo complains with `[F] → There should be no matche

[2021-01-16 13:22] rrrene commented on #841
The check works as intended. We can, of course, always discuss whether or not the check has the right intention ;-)

From the explanation (`mix credo explain Credo.Check.Refactor.MatchInCondition`):

[code]

This check intends to have only trivial conditionals in `if` macros (note the quotes in the last comment, where a tagged tuple match is described as "complex" in the context of this check).

A

[2021-01-18 11:17] tino415 opened #842 "Credo crash after migration to elixir 1.11"
### Precheck

* Credo start crashing after migration to elixir 1.11 (unable to find exact code that causes it)

### Environment

* Credo version (`mix credo -v`): 1.4.0
* Erlang/Elixir version (`elixir -v`): 23/1.11.2
* Operating system: Mac OSX Catalina 10.15.7

### What were you trying to do?

Run `mix credo`

### Expected outcome

Protocol from ecto checks

### Actual outcome

[code]

[2021-01-18 18:09] rrrene commented on #842
@tino415 Credo `1.4.0` is not compatible with Elixir `1.11`.

You will need to upgrade to Credo `1.4.1` or `1.5.x` :+1:

[2021-01-18 22:28] ashton314 commented on #841
I don't argue that my match expression is any less complex than the expression given in the example, but I think this should be allowed for a different reason than the pure complexity of a match.

Credo doesn't complain if I have a function like this:

[code]

and it doesn't complain if I *use* that predicate like this in an `if` conditional:

[code]

Furthermore, credo doesn't find any issues wit

[2021-01-23 09:32] #842 closed

[2021-01-23 17:59] TheFirstAvenger opened #843 "Credo.Check.Consistency.UnusedVariableNames warns on underscored function names"
* Credo version (`mix credo -v`): `1.5.4`
* Erlang/Elixir version (`elixir -v`): `1.11.2`

A function defined like this:

[code]

incorrectly triggers the `Credo.Check.Consistency.UnusedVariableNames` check.

[2021-01-27 20:32] rrrene commented on #841
As I said, whether or not a check is valid for one's own use-case is debatable by design.

The one thing that gets me about this is the fact that I don't see a possible parameter to make this customizable. As in: I don't get how this should work (quite possibly due a lack of understanding, imagination and/or sleep).

What I mean is this: If we were debating the `if {:ok, foo} = some_func(), do: ..

[2021-02-02 17:31] Ch4s3 commented on #837
Hey, sorry for the delay. This worked.

[2021-02-02 17:31] #837 closed

[2021-02-02 19:01] Ch4s3 opened #844 "Diff is checking files that weren't changed"
### Environment

* Credo version (`mix credo -v`): `1.5.4`
* erlang; `23.1.5`
* elixir: `1.11.2-otp-23`
* Operating system: ubuntu:20.04 ci and MacOS 10.14.6 locally

### What were you trying to do?
In ci I'm running `mix credo diff master --config-name default -a` and it shows issues from files that aren't in the diff.
Ci is running ubuntu:20.04.

### Expected outcome
I would expect to not see an